[2015-05-10 05:40] prakhar1989 opened #1 "Add tests"
Use Jest - https://facebook.github.io/jest/docs/tutorial-react.html

[2015-05-10 05:42] prakhar1989 opened #2 "Allow multiple usage options"
Add installation instructions for all the three ways
- [x] NPM
- [x] Bower
- [x] Browser drop-in minified version

[2015-05-10 05:43] prakhar1989 opened #3 "Fix API"
Think how / what to expose in the API so that the component remains flexible and usable.

[2015-05-10 05:48] prakhar1989 opened #4 "Include styles in the component"

[2015-05-12 19:52] prakhar1989 commented on #2
Fixed in https://github.com/prakhar1989/react-tags/commit/b9fcf41c53e89baa32b6daba152ad84702e733ab

[2015-05-12 19:52] #2 closed

[2015-05-13 16:15] #4 closed

[2015-05-13 19:31] prakhar1989 commented on #3
Fixed in https://github.com/prakhar1989/react-tags/commit/fa2c2d052acc6807b01ecd87af6f2a67318ef369

[2015-05-13 19:31] #3 closed

[2015-05-14 20:56] beeant opened #5 "add options for placeholder?"
How about an option to change the input placeholder from Add new country?

Thank you

[2015-05-15 06:30] prakhar1989 commented on #5
Fixed in PR #6

[2015-05-15 06:30] #5 closed

[2015-05-19 05:39] prakhar1989 opened #8 "Upgrade to ReactDND 1.0"

[2015-05-19 13:41] prakhar1989 opened #9 "Feedback by Dan Abramov"
As reported [here](https://discuss.reactjs.org/t/react-tags-a-simple-tagging-component/243/2)
- [x] It would look better if the currently dragged tag was slightly dimmed.
- [ ] It would behave better if the tags were swapped only after the cursor has reached the half width of the tag it's over. You can use getBoundingClientRect inside the hover handler to do that calculation. Otherwise there's a f

[2015-06-01 14:48] dnusca opened #10 "Draggability Options"
An option to disable draggability would be useful for different implementations.

[2015-06-01 14:51] prakhar1989 commented on #10
@dnusca If you provide an empty dragHandler, it should work fine.

[code]
Do you have any specific ideas about disabling drag?

[2015-06-01 15:01] dnusca commented on #10
@prakhar1989 Sorry, I thought the move cursor was implemented in the component. That works perfect.

[2015-06-01 15:01] #10 closed

[2015-06-01 15:02] prakhar1989 commented on #10
No problem! :+1:

[2015-06-06 07:49] #8 closed

[2015-06-13 12:33] alexeygolev opened #11 "Use lowercase 'react' in require"
Webpack goes bananas because of the difference in the way people would normally require modules (lowercase based on the package name) and the way you require it ('React').

[2015-06-13 12:38] alexeygolev commented on #11
Sorry about this. Got confused by the name on github and installed another package called 'react-tags'.

[2015-06-13 12:38] #11 closed

[2015-06-18 05:38] qynAUGMN opened #12 "the tags input is autofocus.can you add a param to setting when don't need focus this input"

[2015-06-19 13:11] #12 closed

[2015-06-19 13:15] prakhar1989 commented on #12
Hi, I've published a new version which makes this [configurable](https://github.com/prakhar1989/react-tags#autofocus). Also, the latest version of `ReactTags` has a breaking changes in the API (from 0.x.x version), so make sure you read the usage section carefully - https://github.com/prakhar1989/react-tags#usage

[2015-07-27 14:52] skumaresan opened #13 "Feedback and requirements"
[code]

[2015-08-07 15:41] brigand opened #14 "Async suggestions"
Use case: tag suggestions based on (potentially thousands of) tags used elsewhere.

I'm going to fork and implement this, is a PR for this acceptable? Is this api good?

[code]

If `loading` is truthy, display an additional item at the end of the suggestions with the loading class.

Additional classes:

 - `ReactTags__tagInput--loading`
  - use case: spinner on right side of input
 - `ReactTags__s

[2015-08-07 16:37] prakhar1989 commented on #14
@brigand: Looks good and I'm definitely up for accepting the PR. Quick note about the API.. what does the `onIncomepleteInput` prop required for?

[2015-08-07 18:11] brigand commented on #14
It gives you a place to start requests to the server.

[code]

[2015-08-08 06:11] prakhar1989 commented on #14
Right. Makes sense. :+1:

[2015-09-15 13:05] pola88 opened #15 "Tags Validation"
Hi guys!

is there a way to validate the tag that the user wants to add?

Thanks,

[2015-09-15 13:10] prakhar1989 commented on #15
Hi @pola88

Yup, you can surely validate the tag -

[code]

[2015-09-17 17:48] jkusachi opened #16 "Prevent Delete on Text Input Delete"
With some updates to the CSS, one is able to do a 'stacked' approach of the tags rather than have the tags inline with the input field.

![screenshot 2015-09-17 10 19 08](https://cloud.githubusercontent.com/assets/332474/9940596/a5c654e4-5d25-11e5-8565-6f035143fc22.png)

In this case however, and tags exist, pressing the "Delete" key on an empty Input Box will delete the most recently added Tag.

[2015-09-17 18:48] prakhar1989 commented on #16
Makes sense. However, rather than creating an additional parameter did you try the following -

[code]
So in your `handleDelete` function, just don't do anything. I believe this should solve the problem.
Let me know if you face issues.

[2015-09-17 18:50] prakhar1989 commented on #15
Hi @pola88,

Since I haven't heard back I'm assuming this is working for you now. I'm closing this issue for now - if you face any issues feel free to re-open this.

Thanks!

[2015-09-17 18:50] #15 closed

[2015-09-18 23:59] jkusachi commented on #16
thanks @prakhar1989

in this scenario though, users wouldn't be able to click the 'X' on the button to delete a tag

in the case presented, I would only want to disable it for the onKeyDown on empty input field.

[2015-09-25 00:20] checkhavoc opened #18 "Allow this.props.onChange for API calls"
Any chance this can be added to the input onChange handler? This would be nice to have so that the input can make API requests just in case suggestions are not already pre-loaded. If there is a better way to handle this type of request, please let me know. Thanks!

[code]

Jayr Camacho

[2015-09-29 20:54] prakhar1989 commented on #18
Fixed in #19

[2015-09-29 20:54] #18 closed

[2015-10-03 00:04] checkhavoc commented on #14
It seems like this type of request can be handled in the PR I created for #19 @brigand

[2015-10-13 17:32] pola88 opened #21 "Show suggestions onKeyPress"
Hi guys,

I wanted to know if there is a way to show the suggestions when the user press key down.

Thanks in advance.

[2015-10-13 17:35] prakhar1989 commented on #21
Hey @pola88

That sounds like a great idea and I can definitely see a use of this. At the moment though, there seems to be no such way. I'll see if I can get to this and a push this feature in the next release, but I can't promise when (extremely busy with school work). I'll keep this issue open so that I remember it.

Thanks!

[2015-10-13 17:49] pola88 commented on #21
Great!
Thanks @prakhar1989

[2015-10-27 14:23] rikardscm opened #23 "Make it possible to disable drag and drop"
It would be nice to have the option of disabling the drag and drop entirely, by passing some prop.

[2015-10-27 16:47] prakhar1989 commented on #23
@rikardscm Thanks for raising the issue. This does seem a bit hard to do but I'll see what I can do about it. Will keep this open till then.

[2015-11-05 19:26] jkusachi opened #24 "Add Release"
Since Github supports releases, I think it would be good to add them for this repo

Currently releases tab is like the following, even though npm states its 1.0.3 (latest of 11 releases):

![screenshot 2015-11-05 11 25 12](https://cloud.githubusercontent.com/assets/332474/10979212/032ae78e-83b0-11e5-93a0-21fe38f545ea.png)

[2015-11-06 18:10] prakhar1989 commented on #24
Thanks @jkusachi, that's a nice idea  :+1: . I'll definitely add the subsequent releases on Github as well.

[2015-11-13 14:28] bzums opened #25 "Example not working"
When I try to run the example with react 0.14 I get the following error:
```Warning: DragDropContext(ReactTags)(...): React component classes must extend React.Component.```
```Uncaught Error: Invariant Violation: DragDropContext(ReactTags).render(): A valid ReactComponent must be returned. You may have returned undefined, an array or some other invalid object.```

Am I missing a point?

Best

[2015-11-13 14:36] bzums commented on #25
Maybe some additional info: I copied the example from the readme.md into my project and imported ReactTags like the following:

```import { WithOutContext as ReactTags } from 'react-tag-input';```

[2015-11-14 16:03] prakhar1989 commented on #25
@bzums Let me have a look at this and get back to you.

[2015-11-15 18:55] superafroman commented on #25
I think this is caused by using react@0.14.  It might be worth merging this fork, https://github.com/picryl/react-tags, which has updated and seems to be working.

[2015-11-16 09:08] bzums commented on #25
Is it working for you? It looks like I get the exact same error with the given fork.

[2015-11-16 12:29] superafroman commented on #25
Yeah it's working for me.  How did you install it?  I had to clear react-tag-input from node_modules and my package.json and then install the fork directly from github - `npm install --save git://git@github.com:picryl/react-tags.git`.  And obviously rebuild my project.  If you have react-dnd installed as well it may be worth removing that before installing the fork.

[2015-11-20 00:19] xonev commented on #25
I'm having the same issue and the fork appears to fix it.

[2015-11-23 13:05] pawlowskimichal commented on #13
8. Need option to set terminator characters, e.g. with `terminators={[' ', ',']}` when space or comma is typed, it acts as if enter was pressed and inserts already typed characters as a new tag.

[2015-11-24 07:03] dauidus commented on #16
+1

I'm looking to do this, too.  I've styled the tags to mimic the default tag input field in WordPress (I'm using this in a plugin).  In @jkusachi's scenario, this would allow me to mimic the functionality of the default input field, too.

-D

[2015-11-25 21:20] not-raspberry commented on #25
The problem is the Github version is 2.0.1 while the one available on NPM is still 1.0.3.

[2015-11-26 09:48] olegafx opened #28 "npm-version is outdated"
npm shows 1.0.3 as the latest release. But package.json specifies version 2.0.1.

Could you publish a new version to npm?

[2015-11-26 18:03] prakhar1989 commented on #28
Hey @olegafx, I just published the latest version on NPM. Let me know if you see any issues.

[2015-11-26 18:03] #28 closed

[2015-11-26 18:04] prakhar1989 commented on #25
Hi everyone, I just pushed the latest release on NPM. Can someone try and let me know if it works as expected? Thanks!

[2015-11-26 18:06] prakhar1989 commented on #24
Added a release for `2.0.1` - https://github.com/prakhar1989/react-tags/releases/tag/v2.0.1. Thanks again for raising the issue!

[2015-11-26 18:06] #24 closed

[2015-12-09 14:43] jeseiter opened #31 "Getting the following run time error with v2.0.2 - Uncaught TypeError: this.refs.input.focus is not a function"
reactTags.js:56

[2015-12-14 21:03] eoinmurray opened #32 "Allow to pass style classes as input"
Consider something like

[code]

I think it would make it much easier to integrated into existing projects that have existing UI packages in place

[2015-12-22 15:30] thomasjonas commented on #31
I think the input reference should be wrapped in [ReactDOM.findDomNode](https://facebook.github.io/react/docs/top-level-api.html#reactdom.finddomnode) function since access to the underlying DOM node is needed. See the last paragraph at the [complete example in the React refs docs](https://facebook.github.io/react/docs/more-about-refs.html#a-complete-example)

[2016-01-01 19:21] beeant opened #33 "Warning: Each child in an array or iterator should have a unique "key" prop"
I encountered this problem when I'm trying to add new fresh tags (for example the tags is not saved in database, they don't have tag id)

So I'm thinking if we can add:
[code]
in here
https://github.com/prakhar1989/react-tags/blob/master/lib/reactTags.js#L188

I can add `tag.id` to all the new fresh tags, but I have to clean it back when sending them to the server. Because if I don't it will have

[2016-01-02 02:26] prakhar1989 commented on #33
Makes sense. Would you be interested in sending a pull request with this change in place? I'll be happy to merge that in!

[2016-01-02 02:27] prakhar1989 commented on #33
Oh and Happy New Year! :fireworks:

[2016-01-11 13:56] tUrG0n commented on #23
+1 any news @prakhar1989

[2016-01-11 17:41] prakhar1989 commented on #23
Hey @tUrG0n - sorry for the silence on this. My semester just got over and I was just finishing off a few pending projects. I'll try to get something fixed this week - btw, would you be interested in working up a PR? I'll be happy to help (if required).

[2016-01-11 18:54] tUrG0n commented on #23
@prakhar1989 congrats on getting that semester done mate :)
I wish i could work on a PR, but i'm using it as part of a 4 week MVP sprint where i'm building, shipping, getting users and potentially a paying customer :P

[2016-01-11 20:01] prakhar1989 commented on #23
@tUrG0n Haha! Ok, I'll see on what I can get done! :grinning:

All the best with your sprint :+1:

[2016-01-13 19:08] bitdivision commented on #32
I would also appreciate this. Using hard-coded class names is not really ideal in many situations.

I may be extending this module over the coming days. Is it worth making a PR for this?

[2016-01-13 23:36] prakhar1989 commented on #32
@bitdivision A PR definitely sounds great! The ability to configure class-names with reasonable defaults would be useful. Let me know if you need any help.

[2016-01-14 02:04] tUrG0n commented on #23
Thx @prakhar1989  ^^

[2016-01-14 16:43] prakhar1989 commented on #14
Thanks @checkhavoc for your work on this! Closing this issue.

[2016-01-14 16:43] #14 closed

[2016-01-14 16:44] #25 closed

[2016-01-20 16:57] slavikdenis opened #36 "Showing all items"
Could you please fix, if I set _minQueryLength_ to **1**, on click in the enter area, It would automatically show all the suggestions? Thanks

[2016-01-21 14:33] rnicholus commented on #1
I would suggest skipping jest. It's incredibly slow and tied to an ancient version of Node.js. Jest is really a terrible testing tool in general. Instead, I would suggest sticking with Jasmine and Karma. You can run tests headless using PhantomJS. The best approach is to create a Travis CI account, setup a config file, and have Travis run your tests on each push to GtiHub. I'm working on a blog po

[2016-01-21 15:53] prakhar1989 commented on #1
Great! Looking forward to the blog post!

[2016-01-25 04:06] rnicholus commented on #1
At [Widen](http://widen.com), we are discussing working on unit tests for react-tags as part of an upcoming sprint. Of course, if we end up using react-tags and are able to work this into a sprint, we will contribute the unit tests back to our project in a pull request. Either way, this is the high-level work I see required on our end:

- [ ] Pull in devDependencies: Jasmine, Karma, and PhantomJS

[2016-01-25 16:13] prakhar1989 commented on #1
Sounds good Ray! Let me know when you want to enable Travis CI integration. Thanks again to you and the folks at Widen for your contributions.

Greatly appreciate it :+1:

[2016-01-26 01:57] alexdmiller commented on #36
If you set `minQueryLength` to 1, then 1 character is required to make the suggestions appear.

However, I think you should be able to set `minQueryLength` to 0 and have the suggestions appear when you focus the text input. This doesn't happen currently.

[2016-01-26 09:54] rnicholus opened #39 "Automatically choose option on trigger key (enter/tab/etc) if only one suggestion matches"
During integration of react-tags into our app at Widen, we had a requirement that a proposed tag should be accepted as the matching suggestion if only one match can be found. This would happen when the user hits enter or tab or whatever the trigger key is set to.  For example:

1. Suggestions of "one, two, three"
2. User starts to type "th"
3. User hits enter.
4. Tag is persisted as "three".

This

[2016-01-27 16:18] jde commented on #39
+1 This may seem like a small ui improvement, but when someone is doing a lot of work on a system things like this have a huge productivity boost.  Also, as op mentioned, it is in line with expected behavior so no user training necessary!

[2016-01-27 19:48] prakhar1989 commented on #39
Sorry for the late reply. This surely sounds more user-friendly than what's currently in place. If you've already have this implemented, send in a PR and I'll be glad to merge it in.

[2016-01-28 02:51] rnicholus commented on #39
My plan is to introduce a new option - `autocomplete`. Thee possible values:

- `false` (default) - component functions as it did now
- `true` - when trigger key (such as enter) is pressed, first matching suggestion is used.
- `1` - when trigger key (such as enter) is pressed, matching suggestion is used only if there is a single matching suggestion

This new option/behavior has no effect if there

[2016-01-28 11:12] TomCaserta opened #41 "Check if addEventListener exists before using it for server side rendering"
To allow for server side rendering, we should remove any browser specific function calls or feature detect them before attempting to use them otherwise it will stop working on setups such as react-php-v8js.

[2016-01-29 13:09] rnicholus commented on #39
Implemented in #40 and part of 2.2.0.

[2016-01-29 13:09] #39 closed

[2016-01-30 01:47] rnicholus opened #42 "a11y: tab key is ignored when in text input field"
In the `handleKeyDown` function in reactTags.js, [a delimiter key's default action is _always_ prevented](https://github.com/prakhar1989/react-tags/blob/v2.2.0/lib/reactTags.js#L108). The comment in the code mentions that this is in place to prevent delimiters from becoming part of the tag, which makes perfect sense. However, with the tab key as a delimiter, this prevents keyboard access to the do

[2016-02-01 08:16] rnicholus commented on #42
@prakhar1989 Seems you may be quite busy with your many other projects/repos. If that is true, I'd be happy to help out with this library, as time allows, as a contributor.

[2016-02-01 15:26] prakhar1989 commented on #42
Hi Ray! Sorry again for the late response.

This sounds great. I'd surely welcome any help in making this library better. Should I add you as a collaborator so that you get more control over the direction of the project? Let me know what you have in mind!

[2016-02-01 15:33] rnicholus commented on #42
Adding me as a collaborator sounds acceptable to me. If you are comfortable with me pushing out new versions as well, you'll want to consider adding me to the project in npm as well. That is explained at https://docs.npmjs.com/cli/owner.

[2016-02-01 15:36] prakhar1989 commented on #42
Added you as a collaborator, Ray! I'm fine with adding you on NPM too but I feel that initially both of us discuss whenever we're pushing out a new release. If I see myself being a bottleneck, I'll surely add you on NPM. Does that sound acceptable?

[2016-02-01 15:40] rnicholus commented on #42
Yep, sounds great to me! I have at least one update to make (this case) and I'll try to assist with other cases as time allows. Also note that we (at Widen) _have_ created a story for an upcoming sprint to look into adding unit tests for this project. More info on that in the unit testing issue later.

[2016-02-01 15:41] prakhar1989 commented on #42
Wonderful! Thank you for stepping up for contributing to this library! :grin

[2016-02-02 02:18] rnicholus commented on #42
I see this as being part of 2.2.1, as this is a bug, IMHO.

[2016-02-02 02:31] prakhar1989 commented on #42
:+1:

[2016-02-03 18:09] FilipeQ commented on #23
+1

[2016-02-04 12:44] rnicholus commented on #42
@prakhar1989 Changes for this fix are being staged on hotfix/42-a11y. If you have no objections, I'll merge into master and then perhaps you can push 2.2.1 to npm.

[2016-02-04 14:16] prakhar1989 commented on #42
Of course @rnicholus. Go ahead :+1:

[2016-02-04 14:19] #42 closed

[2016-02-04 14:31] rnicholus commented on #41
I'm not seeing any explicit browser-specific calls in the code, and react-tags doesn't use `addEventListener`. I'm going to close this, but if I've missed something, please let me know.

[2016-02-04 14:31] #41 closed

[2016-02-04 14:33] TomCaserta commented on #41
Oh thats odd, I may have placed this on the wrong repository! I'll have a look through now. Sorry.

[2016-02-04 14:48] rnicholus commented on #23
This is going to be a tough one to fix since react-dnd is used before react-tags is even exported. It is also a key element in one of the exported values (`WithContext`). Breaking changes will be needed to address this. More specifically, a change will need to be made to exports and access to a react-dnd-wrapped react-tags.

Personally, I'd just drop all but a single default export. It's trivial t

[2016-02-04 14:52] rnicholus commented on #42
This is now on master. `npm publish` at your convenience @prakhar1989!

[2016-02-04 18:17] prakhar1989 commented on #42
Just published it on NPM, Ray! Thanks a ton =)

[2016-02-16 06:20] y-takey commented on #36
+1   I want to show all the suggestions.

currently mininum value of `minQueryLength` is `1`. If setting `minQueryLength` to `0`, replace it with `2` inner the library.
https://github.com/prakhar1989/react-tags/blob/master/lib%2FSuggestions.js#L32

[2016-02-16 07:49] y-takey commented on #36
It was resolved with the following work around. Maybe not a good way :(

[code]

[2016-02-19 15:47] dbhandel opened #45 "Inline Styling"
Is it possible to perform inline styling? That doesn't appear to be the case. I think that would be hugely helpful.

Thanks

[2016-02-22 23:12] aaronucsd opened #46 "Read only view"
Is there a way to show the tags without the edit mode? Like i do not want to show a delete x or input field to add more tags. Just want to list my tags.

[2016-02-24 03:06] vkbansal commented on #46
You can try passing `null` to `removeComponent` prop if you do not want to show delete`x`.

[2016-02-25 00:30] aaronucsd commented on #46
I tried but didn't work. Maybe i did it wrong?

`        <ReactTags tags={tags}
          suggestions={suggestions}
          removeComponent={null}
          handleDelete={this.handleDelete}
          handleAddition={this.handleAddition}
          handleDrag={this.handleDrag} />`

[2016-02-25 02:20] vkbansal commented on #46
try using empty `<span/>` tag like this
[code]

[2016-02-25 02:23] aaronucsd commented on #46
That gave me errors.

`Warning: Failed propType: Invalid prop `removeComponent` of type `object` supplied to `ReactTags`, expected `function`. Check the render method of `DragDropContext(ReactTags)`.`

[2016-02-25 02:29] vkbansal commented on #46
`removeComponent` must be a function, according to the `src`;

So use `() => <span/>` instead

[2016-02-25 02:29] aaronucsd commented on #46
this works but i still need a view only mode, meaning the input field needs to go away (i prefer not have to add css to do this).

`removeComponent = () => <span/>;
        <ReactTags tags={tags}
          suggestions={suggestions}
          removeComponent={this.removeComponent}
          handleDelete={this.handleDelete}
          handleAddition={this.handleAddition}
          handleDrag={this.ha

[2016-02-25 02:31] vkbansal commented on #46
OK I'll try putting up a PR for it.

[2016-02-25 02:33] aaronucsd commented on #46
Thanks! It be great just to have a easy flag to set to make it all read only (no delete x and input), as this is a real use case, where i show tags that does not allow for edit.

[2016-02-25 19:01] shedali opened #47 "permit minimum query length of 0"
By default, if no minQueryLengthis set, it defaults to 2. Suggestions begin to show after two characters are typed.

I would like to set this to 0 so that suggestions display immediately; however, by doing so the following code evaluates to false so it defaults to 2.

https://github.com/prakhar1989/react-tags/blob/master/lib/Suggestions.js#L32

[2016-02-27 11:51] dcworldwide opened #48 "Custom Tag Component"
Hi,

Looks great! Can I pass a custom component as a prop to customise how tags are rendered?

I've like to embed a date-picker inside the tabs.

Thanks

[2016-02-29 01:43] vkbansal commented on #46
Added in #49

[2016-02-29 07:29] vkbansal commented on #48
@prakhar1989 I would also like to remove `Tag`'s dependency on `react-dnd` as I don't need the reordering capability.

[2016-02-29 23:13] aaronucsd commented on #46
Hi . Thanks for putting this in. I saw it and did a `npm update` but did not get the latest. Is it because we didn't update the version?   "version": "2.2.2",

[2016-03-01 00:05] aaronucsd commented on #46
I did a npm update, and i think i got the latest, as i was able to add the new prop but did not see the readonly mode kick in.

from the call:
// INIT FAKE DATA
const fakeData = {
  tags: [{ id: 1, text: 'Apples' }],
  suggestions: ['Banana', 'Mango', 'Pear', 'Apricot', 'Peach', 'Strawberry'],
};

const options = {
  readOnly: true,
};

const elementTable = <TagList data={fakeData} options={option

[2016-03-01 00:45] aaronucsd commented on #46
maybe bump the version and re-publish?

[2016-03-01 00:57] vkbansal commented on #46
If you require it urgently, you can change your package.json as follows
[code]

and run npm update

[2016-03-01 01:12] aaronucsd commented on #46
Interesting. When can i get it through a regular update? I thought the PR
was approved and merged, no?

On Mon, Feb 29, 2016 at 4:57 PM, Vivek Kumar Bansal <
notifications@github.com> wrote:

Regards,
-Long Huynh

[2016-03-01 01:13] vkbansal commented on #46
depends on @prakhar1989

[2016-03-01 01:17] aaronucsd commented on #46
I see. :)
I thought it was approved, as you updated the readme.

Regards,
-Long Huynh

On Mon, Feb 29, 2016 at 5:13 PM, Vivek Kumar Bansal <
notifications@github.com> wrote:

[2016-03-01 01:18] vkbansal commented on #46
@prakhar1989 Just did it

[2016-03-01 01:22] aaronucsd commented on #46
Yeah I saw. Lol. Thanks man. This is great.
On Feb 29, 2016 5:18 PM, "Vivek Kumar Bansal" <notifications@github.com>
wrote:

[2016-03-01 01:27] aaronucsd commented on #46
Got it now! Works like a charm. Only thing i would comment on is when it's
readOnly mode, the drag-n-drop is disabled but i still get a cross mouse
icon on hovering. We might want to take that out too so it's not confusing.
Else perfect. Thanks!

Regards,
-Long Huynh

On Mon, Feb 29, 2016 at 5:21 PM, Long Huynh <longahuynh@gmail.com> wrote:

[2016-03-02 01:00] dcworldwide commented on #48
That's a separate issue

[2016-03-07 13:16] beeant commented on #33
thank you for the merge! :)

[2016-03-07 13:16] #33 closed

[2016-03-07 15:01] #1 closed

[2016-03-07 15:01] #9 closed

[2016-03-07 15:01] #13 closed

[2016-03-09 22:33] Guibod opened #51 "Compatibility with redux-form or redux-fields"
I'd like to know if you can allow control over the <input /> field.

I need to be able to use a custom component for the input field (because I use redux-form and material-ui).

[2016-03-10 00:56] dcworldwide opened #52 "Add animation on drag and drop and a ghost style for the item being dragged"
Drag works great, but it looks incomplete from a UX point of view.

It would be great if:

- There was a ghost style applied to the item being dragged (i.e. so that the user can see it is being dragged). This should be configurable.

- Would be nice if there was an animation to that showed items re-sequence on drop.

[2016-03-14 17:20] cklab commented on #46
Running into an issue with the readOnly feature: page breaks unless we explicitly set autofocus to false.

[2016-03-14 18:59] cklab commented on #33
Running into the same warning every now and again. Scenario is:

Enter tag with `{ name: "tag", id: 1 }` and then a new, non-existent tag `{ name: "New Tag" }`

"New Tag" will get the same "key" field.

Generating ID should be consistent and deterministic, IMO ignore user input when generating a key. Submitted PR #54

[2016-03-18 14:33] sapegin opened #55 "Add changelog"
Because [it’s important](http://keepachangelog.com/).

[2016-03-18 20:19] mheiber opened #56 "How can I make the tags not draggable?"
Is there a way to make the tags *not* draggable? I'm looking to do something like:

[code]

Great library, thank you for sharing your work!

[2016-03-24 21:50] ypling commented on #56
@prakhar1989  I know give a empty function to handleDrag can disable the drag behavior. Do you think its a good idea that check if props.handleDrag not a function set the draggable attribute to false?
I think disable the dragging animation is what people are looking for.

[2016-03-25 01:22] ypling opened #57 "How to hide suggestion onBlur?"
When I add more than one react-tag-input I want to be able to hide suggestions when focus on another input. Is there already a way to do that?

[2016-03-25 13:29] prakhar1989 commented on #56
Yup, sounds good. Do you mind sending in a PR with this fix? :grinning:

[2016-04-10 13:24] chmanie commented on #23
@rnicholus Sounds great! I'd also suggest to be able to choose the react-dnd backend to also support touch devices (currently I only have the touch backend installed).

[2016-04-11 02:07] rnicholus commented on #23
@chmanie I would expect to remove react-dnd as a dependency entirely. Then you can integrate it however you choose.

[2016-04-11 02:12] rnicholus commented on #56
Sounds like this was resolved in #58, so I'm going to close. Please let me know if I am mistaken.

[2016-04-11 02:12] #56 closed

[2016-04-11 02:17] rnicholus commented on #55
A pull request that includes a changelog.md with the changes from previous releases would be appreciated. At that point, it will be easy to keep it up-to-date going forward. Short of that, you can already compare tags using GitHub's "compare" feature: https://help.github.com/articles/comparing-commits-across-time/.

[2016-04-11 02:27] rnicholus commented on #48
@dcworldwide Have you tried creating a tag w/ a component specified as the value of the `text` property? Seems like it would work to me, but I haven't verified.

@vkbansal Please see #23.

[2016-04-11 02:31] rnicholus commented on #23
I didn't realize that the internal `<Tag>` component was so dependent on react-dnd. Given that reality, my plan to simply remove react-dnd from the library seems shortsighted. A different solution will be needed it seems.

Perhaps the most recent change described in #56 is sufficient to address the issue described here...

[2016-04-11 06:17] sapegin commented on #55
I can read commit log myself but I’m asking for a change log.

[2016-04-11 07:19] rnicholus commented on #55
Since none of the many contributors to this project owe you anything in particular, perhaps you could become a contributor as well and get this changelog started. After all, this is how open source works.

[2016-04-11 07:22] sapegin commented on #55
I don’t use this library anymore. And writing a good change log is a task that only the author can do properly. Of course if he cares about his users. I know how open source works.

[2016-04-11 07:22] #55 closed

[2016-04-18 13:30] sebinsua commented on #51
I have this same problem. `redux-form` would normally maintain the state of the form within a redux store for me. Instead I'm going to have to make the `handle*` methods fire actions that amend the store state manually.

[2016-04-24 02:38] sinkcup commented on #36
Like this: https://select2.github.io/examples.html#tokenizer

suggest merge code of @y-takey

[2016-04-24 02:52] sinkcup opened #59 "how to limit tags number"
eg: user can select living city, if not exist, user can input. this input should limit 1 item.

Like this: http://selectize.github.io/selectize.js/#demo-max-items

[2016-04-24 03:15] sinkcup opened #60 "how to set suggestions ID"
now suggestions have no ID, they are only string. but they are from database, have ID, and will save ID.

like this:

[code]

[2016-04-24 13:17] sinkcup commented on #36
@y-takey `selectionMode: true` will forbidden add new tag.

It trouble me...

[2016-04-26 09:50] magano commented on #59
For what I've tried currently you can only disable the handleAddition behaviour with a limit flag you can set by yourself.
The input cannot be disable since currently you have no control over the input component.

[2016-04-26 17:24] ypling commented on #59
Yes you need to implement your limitation logic in handleAddtion function.
If you want to disable input. Please try something like this

<ReactTagInput
    ref={node => this._input = node.refs.child.refs.input}
    ...
/>
...
this._input.disabled = true;

[2016-04-26 17:32] ypling commented on #60
I think you need to convert your suggestions from an array of objects to an array of strings before pass into react-tags.
Then in your handleAddition function go find id use the user selected text from original array of objects.

It's better to have your suggestions store as an Object. Text as key and id as value. This way will be easy to find suggestion id by suggestion text and remove duplicatio

[2016-04-28 17:14] MattWilliamsDev opened #62 "Correct spelling of "delimeters" prop to "delimiters""
The `delimeters` props is spelled incorrectly, and this led to a lot of confusion in figuring out why things weren't getting delimited with my custom delimiters.

I was passing in:
[code]

The component expects:
[code]

[2016-04-29 15:11] magano commented on #59
Thanks for the tip, it helped me out too

[2016-05-01 18:22] sebinsua opened #63 "dist-modules contains non-ES5 code"
The contents of `dist-modules` that are used by the module available on NPM [contain non-ES5 code](https://github.com/prakhar1989/react-tags/commit/b7f7152a06825a121ca9f8d3a4d35b58ac1d7269#diff-0cebfb7909e2be875b110504a7fe5755R2). This seems to be a regression that appeared in `2.2.6`.

See the comment here for further clarification: https://github.com/prakhar1989/react-tags/commit/b7f7152a06825a1

[2016-05-03 15:43] Jbarget opened #64 "Syntax error when requiring in the library"
I'm getting the following error when adding the following line:

[code]

[code]

To give you a heads up our stack includes TypeScript. Any help would be great!

Thanks in advance

[2016-05-03 23:21] sebinsua commented on #64
This is the same issue as: https://github.com/prakhar1989/react-tags/issues/63

[2016-05-04 14:32] Jbarget commented on #64
@sebinsua thanks, are you suggesting reverting back to a version lower than 2.2.6 would fix it?

[2016-05-04 14:50] sebinsua commented on #64
@Jbarget Reverting to `2.2.5` fixed the issue for my team.

[2016-05-04 14:53] Jbarget commented on #64
@sebinsua thanks!

[2016-05-05 01:59] prakhar1989 commented on #64
Keeping this open so that I can fix the current release.

[2016-05-07 01:24] aaronucsd commented on #63
any updates on this? I got the same issue.

[code]

[2016-05-18 03:53] wiiiim opened #65 "v2.2.6 shouldRenderSuggestions renders when query length is smaller"
Small problem in v2.2.6:

`    shouldRenderSuggestions: function (query) {
        var props = this.props;
        var minQueryLength = props.minQueryLength || 2;
        return (props.query.length < minQueryLength);
    },`

this renders suggestions when the query length is smaller than minQueryLength, while it should be bigger
this also breaks other things, such as all suggestions showing on the

[2016-05-18 10:19] teknologist commented on #65
Exactly!  Crazy bug. Can't even understand how nobody noticed it! :-)

[2016-05-18 10:21] klacointe commented on #65
Already noticed here https://github.com/prakhar1989/react-tags/commit/b7f7152a06825a121ca9f8d3a4d35b58ac1d7269#commitcomment-17401576

But no response :confused:

[2016-05-18 10:39] teknologist commented on #65
I forked it and fixed it ! :-)

[2016-05-18 12:15] rahulraibit opened #66 "Suggestion box is always visible"
Hi , I am using this library and facing the issue, that the suggestion box is always visible even after selected the data, apart from this everything is working fine. I have also notice that "data-reactid"  is not generating in my case because I am using react-dom - 15.0.1 in which no more  "data-reactid" will be there. Can any one  suggest how to solve this problem. Thank you in advance

[2016-05-18 14:59] rahulraibit commented on #66
Sorry guys I have fixed the problem by adding the condition
`  if (suggestions.length === 0 || this.props.query == '' || this.props.shouldRenderSuggestions  != null && !this.props.shouldRenderSuggestions(props.query) || this.props.shouldRenderSuggestions == null && !this.shouldRenderSuggestions(props.query)) {
            return null;
        }`

[2016-05-18 15:04] #66 closed

[2016-05-19 06:06] wiiiim commented on #65
as a quick fix, you can also just pass your own shouldRenderSuggestions as props

[2016-05-20 06:18] rahulraibit opened #67 "Getting this error on npm install - 5621 error peerinvalid The package react@15.0.2 does not satisfy its siblings' peerDependencies requirements!"
I am getting this error.

5618 error node v4.4.4
5619 error npm  v2.15.1
5620 error code EPEERINVALID
5621 error peerinvalid The package react@15.0.2 does not satisfy its siblings' peerDependencies requirements!
5621 error peerinvalid Peer react-bootstrap@0.29.4 wants react@>=0.14.0
5621 error peerinvalid Peer react-dom@15.0.2 wants react@^15.0.2
5621 error peerinvalid Peer react-redux@4.4.5 wants

[2016-05-20 12:26] mike1808 commented on #63
To avoid this problem, you can run the latest nods.js with `--harmony_destructuring` argument.

[2016-05-21 01:27] prakhar1989 commented on #63
Sorry everyone - I've been quite busy which is why this repo has not got a lot of love. I'm working on this now to fix this. Let me know if anyone has ideas on how to proceed!

[2016-05-21 01:34] #62 closed

[2016-05-21 16:37] #63 closed

[2016-05-21 16:40] prakhar1989 commented on #63
Hey folks, I've published a new version which fixes this. Let me know if you still see something wrong and feel free to re-open this issue. Thanks again for your patience.

[2016-05-22 12:23] #59 closed

[2016-05-22 12:34] prakhar1989 commented on #65
Sorry for not getting back on this earlier. This should be fixed now.

[2016-05-22 12:34] #65 closed

[2016-05-22 12:36] prakhar1989 commented on #67
Should be free in v2.2.8. Feel free to re-open issue if this persists.

[2016-05-22 12:36] #67 closed

[2016-05-22 12:37] prakhar1989 commented on #64
Fixed in v2.2.8.

[2016-05-22 12:37] #64 closed

[2016-05-22 12:48] prakhar1989 commented on #31
This should be fixed in later releases. Let me know if you're still facing this issue.

[2016-05-22 12:48] #31 closed

[2016-05-22 13:03] teknologist commented on #65
Hi @prakhar1989 ,

Shouldn't it be >= ?

I understand it is more a grammar suggestion but IMHO when I say minimum query length is 2 than a query with length 2 should trigger suggestions.

Cheers! :-)

[2016-05-22 13:04] prakhar1989 commented on #65
Ah damn! You are right! Fix and re-releasing it now. Thanks =)

[2016-05-22 13:14] teknologist commented on #65
Thanks! @prakhar1989  :-)

[2016-05-22 18:07] Jbarget commented on #64
👍  nice

[2016-05-23 07:13] klacointe opened #68 "Problem with requires on case sensitive OS"
Since this commit, I got these errors:

[code]

Which is normal because Tag.js and Suggestions.js files are uppercase.

[2016-05-23 12:58] prakhar1989 commented on #68
Darn it! Thanks for letting me know @klacointe. I'll push a fix by evening (EST).

[2016-05-24 00:12] prakhar1989 commented on #68
Fixed on https://github.com/prakhar1989/react-tags/commit/461cf2bae07d45940b52a5dd498c301ff3968041 and deployed the latest version. Thanks for raising the issue. =)

[2016-05-24 00:12] #68 closed

[2016-05-24 02:43] JamesXNelson commented on #57
This is the only problem I have with this library.

Unfortunately, the inability to hide the popup means I've either got to fork and change the source, or use a different library. :-/

[2016-05-24 07:35] SachaG opened #70 "React 15 Support"
Any plans to switch this package to React 15?

[2016-05-24 13:31] prakhar1989 commented on #70
Yup! I'll do the migration over tonight (EST) and if all looks good, push a new release (`3.x`) with React 15.

[2016-05-24 13:55] SachaG commented on #70
Awesome, thanks so much!

[2016-05-24 23:53] prakhar1989 commented on #70
Hey @SachaG, I just upgraded to React v15. Give it a try and let me know if you face any issues (I'll keep this issue open until I hear back).

[2016-05-25 11:37] klacointe opened #71 "v3.0.0 classNames are not applied"
This merge returns always the DefaultClassNames https://github.com/prakhar1989/react-tags/blob/master/lib/reactTags.js#L64

[2016-05-25 12:55] kayaelle opened #72 "Uncaught TypeError: Cannot set property 'value' of undefined"
Thanks for this great component.

I'm encountering this error: `"Uncaught TypeError: Cannot set property 'value' of undefined"` in relation to

[code]

in the `addTag` function.

Think this may be because of

[code]

as I'm also getting this error: `"Uncaught Invariant Violation: addComponentAsRefTo(...): Only a ReactOwner can have refs`. You might be adding a ref to a component that was not creat

[2016-05-25 16:07] bigparksh commented on #72
This issue has been at the latest version.

[2016-05-25 23:15] SachaG commented on #70
Yep, seems to work just fine! :) http://recordit.co/z1hvGEaWD4 thanks!

[2016-05-25 23:17] prakhar1989 commented on #70
Fantastic!

[2016-05-25 23:17] #70 closed

[2016-05-26 02:01] prakhar1989 commented on #71
Thanks for pointing it out. Seems like an obvious issue - probably lodash changed it's merge API after this was implemented. Fix released in 3.0.1.

[2016-05-26 02:01] #71 closed

[2016-05-26 10:17] prakhar1989 commented on #72
Hi @kayaelle, I'm unable to reproduce this error. Can you please clearly outline the steps to do the same?

[2016-05-26 11:44] klacointe commented on #71
Thanks!

NB: You forgot some console.log in the code.

[2016-05-26 12:23] prakhar1989 commented on #71
Oops. Will remove those in the next release!

[2016-05-29 15:49] hdriqi commented on #72
Hi @kayaelle, i found out that the problem is because your react and react-dom has different version with the one that react-tags use. So, you will have two react and react dom in your node modules.

The solution is to synchronize your react and react-dom version to the one that react-tags use, which is 15.1, so in your package.json chane your react and react-dom to this one

`   "react": "^15.1.0

[2016-05-31 03:13] facultymatt opened #73 "make filteredSuggestions settable by user"
It I have a list of suggestions like so:

cat
cats
cars
cards

And i start to type

`a`

then I will get a suggestion box with all 4 suggestions and the `a` characters underlined (marked).

If I then type `ar` 0 suggestions will render.

It I type `car` then 2 suggestions will render.

I would expect that  any suggestion matching the input pattern would render, not just if the suggestion matches o

[2016-05-31 03:43] facultymatt commented on #73
I discovered this is because of https://github.com/prakhar1989/react-tags/blob/master/lib/reactTags.js#L81-L85 and maybe other functions which call this.

This behavior makes sense sometimes, but in all cases its not ideal. For example in my case the filtering is done via an API call so my suggestions list is ready to go - the extra filtering step produces unexpected results.

Is is possible to ma

[2016-05-31 12:00] facultymatt commented on #73
Noticed that it was easy to override `filteredSuggestions` - would be great to add to the documentation as a supported option 😄

[2016-05-31 12:38] prakhar1989 commented on #73
Sounds like a good idea. I feel that making the `filter` function, customizable would be useful, but I'm not sure how the API should look like. My understanding is that most users would **not** want to customize that function and hence there should be a reasonable way of making the default available.

I'll see how others are doing it and in the meantime if you have any ideas, feel free to share.

[2016-05-31 21:18] kayaelle commented on #72
Hi @prakhar1989, Thanks! That fixed it.

[2016-06-03 21:26] jashmenn opened #74 "API suggestions"
Hey! This is a great library, but I have two suggestions on how we might change the API

1. `handleAddition` and `handleDelete` should be passed the complete set of tags
2. `suggestions` should use the same object format `{id: ..., text: ...}` as the tags themselves.

Let me elaborate on each one:

## `handleAddition` and `handleDelete` should be passed the complete set of tags

It seems odd to me

[2016-06-04 21:05] tommoor commented on #23
Looks like this should be closed now that https://github.com/prakhar1989/react-tags/pull/58 is merged?

[2016-06-04 23:31] rnicholus commented on #23
Perhaps. I'm not sure a more complete solution for making DnD optional is reasonable.

[2016-06-05 22:07] tommoor commented on #72
I can confirm that I had this same issue and ensuring the react version matched fixed it up. Should be closed as it isn't an issue with react-tags!

[2016-06-05 22:08] tommoor commented on #46
looks like this feature is now in the library and this should be closed?

[2016-06-07 15:55] ttrmw commented on #74
+1 on suggestions being objects w/ids, right now this is the only thing stopping me from using this component

[2016-06-08 16:02] #23 closed

[2016-06-08 17:44] cah-danielmullins opened #77 "Auto-add tag after delay"
I have a requirement from my product team to auto-add a tag after a user has stopped typing for a certain amount of time. I have implemented it as follows:

[code]

The only issue I have is that after the tag is created, the input value is still present. I.e., I'll type "art", wait a third of a second, the tag will be added correctly but "art" is still present in the input.

In this case `addTag`

[2016-06-12 00:19] prakhar1989 commented on #46
Thanks for pointing this out @tommoor.

[2016-06-12 00:19] #46 closed

[2016-06-12 15:03] prakhar1989 commented on #77
Adding a new prop `autoAdd` sounds reasonable. You can fork this project, add that prop and work as per your convenience.

[2016-06-12 15:04] prakhar1989 commented on #72
Thanks everyone!

[2016-06-12 15:04] #72 closed

[2016-06-16 21:24] jacobcarpenter commented on #47
As a workaround, it looks like `-1` is valid input and would result in the desired behavior.

[2016-06-17 22:34] prakhar1989 commented on #47
Although, @jacobcarpenter's method is a hack, I support this! Thanks @jacobcarpenter's for sharing 👍

[2016-06-17 22:34] #47 closed

[2016-06-22 20:28] AdamKyle opened #79 "Drag doesn't work when you pre-populate the tag field"
![screen shot 2016-06-22 at 2 20 20 pm](https://cloud.githubusercontent.com/assets/188563/16282144/aa127042-3884-11e6-9564-ab96d893abfa.png)

The above is a list of tags to pre populate the tag field:

![screen shot 2016-06-22 at 2 22 12 pm](https://cloud.githubusercontent.com/assets/188563/16282159/c5934562-3884-11e6-9952-ca77c0fca63b.png)

So you can see the tags above. Awesome.

When I try and

[2016-06-28 10:30] Philin-Anton opened #81 "component update"
Don't you want to update this component to support ReactJS 15+?

[2016-06-29 10:56] teknologist opened #82 "Should suggestions be filtered with 'contains' ?"
Hi,

I noticed suggestions only filter by 'startsWith', shouldn't it make sense to rather do a 'contains ?

In:

https://github.com/prakhar1989/react-tags/blob/master/lib/reactTags.js#L81-L85

I changed indexOf() === 0 with indexOf() > -1

If this is by design, then it is just a suggestion.

Thanks again for your hard work on this react component! :-)

[2016-06-29 11:13] teknologist commented on #82
I also added diacritics to use removeDiacritics and let the user have autocomplete without the ned to type accents or other international characters... It is not perfect as the highlighted string also removes diacritics but works for us...

[2016-07-05 14:35] Wildhoney opened #84 "Handle onBlur event"
When you click off of the `input` it would be nice if the value of the `input` had the possibility of being transformed into a tag via the `onblur` event.

I think this is as simple as adding an [`onBlur` to the `input` node](https://github.com/prakhar1989/react-tags/blob/master/lib/reactTags.js#L248-L254) unless anything else needs to occur? We could then accept an optional `handleInputBlur` func

[2016-07-05 23:35] PaulMest opened #85 "React Tags will not build on case-sensitive file system"
When trying to build `react-tag-input@3.0.4` I get:
[code]

This is fixed by changing the following in `reactTags.js`:

**Original:**
[code]

**Modified (lowercase filename):**
[code]

[2016-07-06 00:45] prakhar1989 commented on #85
Thanks for pointing this out, @PaulMest. I'll just release a fix so that the path names are more consistent.

[2016-07-06 00:47] #85 closed

[2016-07-06 10:28] ratheous commented on #79
The tags you are pre-populating all have the same ID. Make them unique and it should work.

[2016-07-06 12:58] prakhar1989 commented on #84
Closing #86

[2016-07-06 12:58] #84 closed

[2016-07-06 13:00] prakhar1989 commented on #81
It already [does](https://github.com/prakhar1989/react-tags/blob/master/package.json#L25). The README isn't yet updated though. I'll fix that soon enough though.

Thanks for pointing it out!

[2016-07-06 13:34] prakhar1989 commented on #79
In continuation to what @ratheous has said - have a look at [this](https://github.com/prakhar1989/react-tags/blob/master/example/main.js#L29-L34) example.

[2016-07-06 20:05] #79 closed

[2016-07-08 17:30] ricksuggs opened #88 "Expose "tag" property to custom remove component."
I'm implementing "strikethrough" tag removal, wherein the user hovers over an existing tag, and the text is styled with `text-decoration: line-through` and upon clicking the text, the tag is removed.

The easiest way to accomplish it is to style css the existing react tags, to not display the real tag text, and update https://github.com/prakhar1989/react-tags/blob/master/lib/Tag.js#L73 to pass in

[2016-07-13 03:04] SachaG opened #89 "react in dependencies vs peerDependencies"
I noticed that this package lists `react` in `dependencies`, but (at least according to this SO answer) that seems like a bad practice?

http://stackoverflow.com/a/29277601/649299

[2016-07-13 03:09] SachaG commented on #89
Another answer saying the same thing: http://stackoverflow.com/a/30454133/649299

FYI moving `react` from `dependencies` to `peerDependencies` fixed the "multiple React" error I was seeing (https://facebook.github.io/react/warnings/refs-must-have-owner.html).

[2016-07-13 13:04] prakhar1989 commented on #89
Hey @SachaG, you are totally right. I saw what other components are doing, and they too treat it as a peerDepedancy. Thanks for letting me know. I'll make this change and push this up soon.

[2016-07-14 00:11] SachaG commented on #89
Awesome 👍

[2016-07-15 14:24] prakhar1989 commented on #89
Hey @SachaG. Apologies for late turn around - got caught up in some personal stuff. I have released a new version on NPM which react as peer-dependancy. Feel free to re-open the issue if you see any problems with the new release.

Thanks again for letting me know.

[2016-07-15 14:24] #89 closed

[2016-07-16 01:48] SachaG commented on #89
Awesome, that's actually a pretty fast turnaround in my book :)

[2016-07-19 12:58] prakhar1989 commented on #81
Fixed in https://github.com/prakhar1989/react-tags/commit/bfd74dde3d77de59c605b79fe599d4f80f8071a0

[2016-07-19 12:58] #81 closed

[2016-07-21 00:27] anyati opened #90 "Suggestions only working on the initial tag"
I've implemented your library, and I'm trying to make use of the suggestions feature. It seems to work fine for the first tag I input, but once I try to write a second tag, no suggestions pop up. Is this an issue specific to me, or are you experiencing the same issues? Thanks

[2016-07-21 12:46] prakhar1989 commented on #90
I believe that's an issue specific to you. You can try out a working demo on [WebpackBin](http://www.webpackbin.com/41DVgMvv-)

[2016-07-23 13:53] prakhar1989 commented on #90
Closing this since I haven't heard back.

[2016-07-23 13:53] #90 closed

[2016-07-23 13:58] prakhar1989 commented on #82
Hi Eric! Apologies for getting back to you so late on this. I added `startsWith` specifically since I felt that was more logical (i.e. inline with user's expectations) and something that a few other libraries (that I checked) were doing.

`contains` might be a perfectly fine alternative to depending upon your usage. I believe that you should be able to modify this to suit your use-case. Let me kno

[2016-07-26 18:56] stephenburgess8 commented on #82
Hi, I'm interested in making a PR to allow for an additional way to filter suggestions. Right now, as mentioned in this thread, suggestions are filtered matching from the beginning of a string. However we have use cases where we'd like to filter by the beginning of any word in the string, (i.e., first name, last name, and email). However default behavior remaining to be only filtering at the begin

[2016-07-27 13:13] prakhar1989 commented on #82
@stephenburgess8 That sounds wonderful!

Just to be sure I understand this correctly, I assume that you're proposing adding one prop to check if a custom filter method is provided and falling back to the default one otherwise?

[2016-07-27 13:56] stephenburgess8 commented on #82
Cool! Well, I am working on something that could use this change so I will likely be making a PR in the next week.

Originally my idea had been to add another filter into your code. However I think your idea much better. There would be a prop which would accept a function. If the function were present, it would use the function to filter the results, otherwise fall back to your default. This would

[2016-07-27 14:03] prakhar1989 commented on #82
Sure, @stephenburgess8. Glad I could help out.

Looking forward to your PR :)

[2016-07-28 13:05] Philin-Anton commented on #81
It's cool, thank you!

[2016-07-29 17:30] rnicholus commented on #82
Hello again @prakhar1989. @stephenburgess8 is a colleague of mine. I'm going to begin working on adding the feature he has proposed to react-tags. I'll open up a PR for review once it is done. I expect this to be a non-breaking change, so perhaps that can become v4.1.0.

I'm also wondering if the React peer dependencies can be relaxed a bit, such that 0.14 is allowed in addition to 15.0. If any of

[2016-07-30 12:30] prakhar1989 commented on #82
This is a very good point and I can surely see why supporting 0.14 is a good idea. Would you want to add that change in #92 or let me know and I can push that separately as well.

Thanks!

[2016-07-30 13:57] rnicholus commented on #82
I can handle the peerDependency update in my pull request. I've created a checklist of changes. Once those are all checked off, it's ready for review.

[2016-07-30 14:06] prakhar1989 commented on #82
Sounds good!

On Saturday, July 30, 2016, Ray Nicholus <notifications@github.com> wrote:

--

*Prakhar Srivastav*
*http://prakhar.me/ <http://prakhar.me/>*

[2016-08-03 02:27] daamsie commented on #32
I tried this with tagInput: 'form-control' for bootstrap styling. However the tagInput class is not on the actual input itself, but on a div around the input. That to me is not expected behaviour.

But more importantly it looks like the there isn't currently a way of setting the class of the input itself at the moment.

[2016-08-03 15:06] #73 closed

[2016-08-03 15:06] #82 closed

[2016-08-08 14:14] michaelzoidl commented on #60
Ok, but what should i do if two suggestions have the same content?

In my case you can choose names from people, so if - and this case is realistic - there are two people with the same name after the selection from the __react-tags__ i cannot identify which one was selected? (_fyi at the moment we've just forenames_)

[2016-08-08 14:58] michaelzoidl commented on #60
Okay, i've now some kind of work-around, i think for the end-users this is okay (or maybe some benefit!?)

[code]

<img width="106" alt="screen shot 2016-08-08 at 16 56 48" src="https://cloud.githubusercontent.com/assets/528550/17484201/22564118-5d89-11e6-8616-deb161407517.png">

[2016-08-09 11:55] prakhar1989 commented on #60
Yeah, I think this is a good way to proceed. You might wanna think about how you want your users to distinguish between same names.

[2016-08-09 11:55] #60 closed

[2016-08-09 12:05] michaelzoidl commented on #74
Just for your information.. the #60 is/was quite similar, i just added the index of the suggestion-array to the suggestion-items (so in the string), so i can detect the selected item by the index - and that's the way i get to the ID of the suggestion.

[2016-08-09 13:47] ChaimF90 opened #94 "Uncaught TypeError: item.toLowerCase is not a function"
I am trying to have my app set up so that the suggestions are not hard coded, but rather are tags that I have already saved for this user. When I try to input a tag I get this error: Uncaught TypeError: item.toLowerCase is not a function. What can I do about this?

[2016-08-09 14:10] prakhar1989 commented on #94
Hi! Thanks for raising the issue. Can you please replicate the issue on [WebpackBin](http://www.webpackbin.com/41DVgMvv-) so that it's easier for us to debug?

[2016-08-09 14:14] ChaimF90 commented on #94
http://www.webpackbin.com/4JaoQCMK- Here you are.

[2016-08-09 15:03] prakhar1989 commented on #94
Thanks! So it turns there were two errors in your code.

1. Add `suggestions` in `getInitialState`
[code]

2. Correctly pass on the props to the component
[code]

You can see the working version [here](http://www.webpackbin.com/EyWSykXtb). Let me know if that doesn't work.

[2016-08-09 15:09] ChaimF90 commented on #94
I appreciate your reply, though I am not sure if my initial question was clear. I want to NOT have a separate prop for suggestions, but rather use the tags which are already saved as suggestions. For instance, if this is a user's first time using my site and he does not have any saved tags yet, I would like no suggestions to show up. The next time he comes back to my site, the suggestions will be

[2016-08-09 15:16] prakhar1989 commented on #94
Oh! My apologies for not understanding your question correctly. [Here's](http://www.webpackbin.com/EyWSykXtb) an example of how this could work.

Basically, you need to change the `handleAddition` function to correctly set the suggestions based on what the user has entered so that the user's entry could serve as suggestions.

[2016-08-09 15:19] ChaimF90 commented on #94
OK awesome this seems to work. Going to try this in my project now. Thank you!

[2016-08-09 15:20] prakhar1989 commented on #94
Awesome! I'm closing this issue for now. Feel free to re-open if you get stuck!

[2016-08-09 15:20] #94 closed

[2016-08-14 00:24] limweifa opened #97 "."

[2016-08-14 00:26] #97 closed

[2016-08-16 09:49] twltwl opened #98 "react-tags breaks default dnd behaviour"
I have an input field which I drag images to in my application. After adding tags to my application this no longer works.

demo: http://www.webpackbin.com/4Jji1CstZ

[2016-08-16 13:40] prakhar1989 commented on #98
Hey! Thanks for raising this issue and creating the webpackbin link. However, I'm not sure if I'm able to replicate the issue. I removed `<Tags>` and I still couldn't see any difference with the image being dragged. Could you please clarify what exactly should I be expecting to see?

Thanks!

[2016-08-16 14:19] twltwl commented on #98
Im dragging the image into the input field. After adding a tag this is not possible anymore.
I created a gif showing how to reproduce it -> http://imgur.com/a/CRkLv

[2016-08-22 14:05] stahlmanDesign opened #101 "Deprecation warnings: dragDropManager"
warning.js:36 Warning: You are manually calling a React.PropTypes validation function for the `dragDropManager` prop on `DropTarget(DragSource(Tag))`. This is deprecated and will not work in the next major version. You may be seeing this warning due to a third-party PropTypes library. See https://fb.me/react-warning-dont-call-proptypes for details.

warning.js:36 Warning: You are manually calling

[2016-08-22 16:59] duffbuster opened #102 "Expose a function to get the value of the input field."
I've got a requirement to have an external submit button that adds a tag (in addition to adding on an enter keypress). In development, I've noticed that there's no easy way to grab the input value and send it to my handleAddition function. I'll stick the PR number in here when I submit it.

[2016-08-22 22:34] stahlmanDesign commented on #101
I updated to v4.3.0 and no longer get this error

[2016-08-22 22:34] #101 closed

[2016-08-22 23:08] prakhar1989 commented on #101
Great!

On Monday, August 22, 2016, Justin Stahlman <notifications@github.com>
wrote:

--

*Prakhar Srivastav*
*http://prakhar.me/ <http://prakhar.me/>*

[2016-08-24 14:53] SergeyGuzhvay opened #104 "suggestion to add "handlePaste" option to the component"
I'm not sure is it right place to suggestions, but still. I faced the situation when i need to pass custom "onpaste" function to component, is it possible to add this functionality in near future or i need to do in by myself? Thanks

[2016-08-26 02:21] prakhar1989 commented on #104
I think that's an uncommon use-case, so that I don't see that being added in the near future. Having said that, if there are more requests for that feature I'll surely add it.

I'll leave this issue open as of now, and check back again in a while to see if there are any 👍 on this. Hope that answers your question!

[2016-08-27 18:51] atley commented on #18
I dont get it. I have a Search API for tags. I want to update the suggestion Array onChange. How do I do that?

[2016-08-30 09:48] wendylw opened #105 "handleInputBlur function is not working"
Bind myself function on handleInputBlur, but can not working

[2016-08-30 15:24] prakhar1989 commented on #105
Hi @wendylw, thanks for opening the issue. If you look at the code for [`handleInputBlur`](https://github.com/prakhar1989/react-tags/blob/9de77b8b9c823a7c498168c4fba6f5db4d34d44d/lib/ReactTags.js#L120-L126), you'll see that the handler is triggered **only when** the textfield is not blank. Did you try out this scenario too?

I've created a webpackbin example for you to see how this works. You can

[2016-08-31 01:54] wendylw commented on #105
Thank you for solution my problem

On Tue, Aug 30, 2016 at 11:24 PM, Prakhar Srivastav <
notifications@github.com> wrote:

[2016-08-31 04:00] #105 closed

[2016-09-01 20:49] ntsim commented on #105
Hi @prakhar1989, I was playing around with your component today (good work btw) and am surprised by the above `onBlur` behaviour. I'm curious why it shouldn't call the passed `handleOnBlur` if the field is empty?

[2016-09-02 15:09] prakhar1989 commented on #105
Hi @ntsim, interesting question. I had to check the history to answer that, and it seems the answer lies in [this issue](https://github.com/prakhar1989/react-tags/issues/84) by @Wildhoney.

The idea behind this change was to automatically convert the text in the input field in case the user tabs over and hence it makes sense to trigger in when the field is non-empty.

Thinking about it now though,

[2016-09-02 18:32] ntsim commented on #105
Sounds like a great idea. A validation check in the passed `handleInputBlur` function would be trivial for a developer to implement, but having such a check baked into the API would considerably reduce the amount of control they would have over the behaviour. Generally fewer assumptions are better for building generic components :+1:

[2016-09-03 15:28] prakhar1989 opened #106 "Trigger handleBlur on empty input"
Trigger handleBlur even when the input is empty.  See [discussion] (https://github.com/prakhar1989/react-tags/issues/105#issuecomment-244207743) for motivation behind this change.

[2016-09-11 07:20] gilm31 opened #107 "allow input props attribute"
to set props like "maxLength" for input component

[2016-09-11 14:55] yarnball opened #108 "Custom tag separator (Space bar, comma or enter)"
Great work with this.

Is it possible to use the Space Bar, comma, and enter keys all as options to separate tag entries?

Thanks

[2016-09-11 15:19] yarnball commented on #21
Agree on this idea! It would be good if this did not sort tags alphabetically, instead in the order it's received from the API. That way, for example, it can be setup like a "recently used tags" item. Also would be good to be able to limit how many tags are shown.

[2016-09-12 09:14] Wildhoney commented on #105
Will open a PR for the modified behaviour 👍

[2016-09-12 14:34] prakhar1989 commented on #106
Fixed in #109

[2016-09-12 14:34] #106 closed

[2016-09-12 22:20] ssteinerx opened #110 "Demo site produces duplicate IDs"
I added 'Buttswana' and ChingleDoodle, then clicked the 'x' on Thailand, added "thai" and got a duplicate ID of 4, then added Thailand and it resumed proper numbering.

What all countries have you visited?
Indiax Buttswanax ChingleDoodlex thaix Thailandx
Add new tag
[
  {
    "id": 2,
    "text": "India"
  },
  {
    "id": 3,
    "text": "Buttswana"
  },
  {
    "id": 4,
    "text": "ChingleDoodle

[2016-09-21 05:44] ukils opened #112 "Not able to create a new tag after deleting the existing tags"
steps followed..
1. Created some tags.
2. type a new tag , don't press separator.
3. delete all the existing tags.
4. now try to press separator.
This does not create a new tag unless you modify what you have typed.

[2016-09-21 06:59] Chesla opened #113 "handleFilterSuggesstions function is not getting called."
<ReactTags tags={this.state.empTags||[]}
	      	  					handleFilterSuggestions={this.filterSearch.bind(this,this.state.suggestions)}
	      	  					handleInputChange={this._fetchEmpDataRealTime.bind(this)}
	      	  					allowDeleteFromEmptyInput={false}
	      	  					placeholder="add new employee"
	      	  					readOnly={this.state.unassignedGroup}
	      	  					suggestions={this.state.sugges

[2016-10-21 13:00] kaushikbarodiya opened #118 "Custom delimiter keys not working in mobile browser."
Hi Prakhar,

I have used react-tag-input in mobile friendly website with custom delimiter (comma). I have passed all the key code of keys I want to use as delimiter in delimiter props.

It works as expected in web browsers, chrome on ios  and safari on ios. But not on chrome browser for android.

Any help in this regard will be useful.

[2016-10-25 10:36] timpler opened #119 "Fuzzy search for suggestions"
Is it possible to show suggestions basing on fuzzy search?

eg.
Utat > **U**ni**t**ed S**ta**tes
Gny > **G**erma**ny**
eddom > Unit**ed** King**dom**

etc.

[2016-10-26 17:27] prakhar1989 commented on #118
Ah, haven't yet given a try. Since I don't have an android device, can you paste the error message that you're seeing so that we can debug? Also, this issue arises only when you use a custom delimiter or in the default case too?

[2016-10-26 18:39] prakhar1989 commented on #119
Sweet idea! The [fuzzy](https://github.com/mattyork/fuzzy) library on NPM looks great and can be included into the project. If you're interested, feel free to send in a PR, and we can look at making it a part of the next release :+1:

[2016-11-02 10:50] specialunderwear opened #120 "Example site does not work the same as example packaged in repo"
The index.html of the example site is a year old. it uses react 0.13.3.

The thing is, in that demo drag and drop is excellent, at all times the full set of items is displayed, and you see the dragged item move in the list while dragging.

If you run the example in this repo, that is not the case, the dragged item disappears from the list and dropping is very awkward. You can not see how the list

[2016-11-29 17:05] mschipperheyn opened #122 "invalid case sensitive import 'React'"
Hi, you use

    var React = require('React');

It should be

    var React = require('react');

The difference can cause various unforeseen problems.

[2016-11-29 18:16] prakhar1989 commented on #122
Hi, can you link me to instances in the code where you're seeing this usage?

[2016-11-29 19:39] mschipperheyn commented on #122
Hey, that's weird. Can't find it now

[2016-11-29 19:39] #122 closed

[2016-12-01 22:10] prakhar1989 commented on #120
Hey @specialunderwear, you can try out a more recent example on [WebpackBin](http://www.webpackbin.com/41DVgMvv-) which are linked to in the docs. Is the behavior what you expect?

[2016-12-20 20:21] Radivarig commented on #108
Find out the [key codes](https://www.cambiaresearch.com/articles/15/javascript-char-codes-key-codes), then pass this as a prop `delimiters={[32, 188, 13] /*space, comma, enter*/}`

[2016-12-21 14:01] lasfin commented on #108
Delimeters by char codes don't work well. In russian keyboards we have comma and one of cyrillic letters on the same buttons. So, if we will use 188 char code as delimeter, we will lose ability to enter any russian word with letter 'Б' in it.

[2016-12-27 17:06] StefanFeser commented on #107
Yeah it would be really great to set own attributes like "name", "id" etc.

[2016-12-28 15:25] joinjoohny opened #127 "ReactTags__selected position"
Have the option to change position selected tags (`ReactTags__selected`) after input (`ReactTags__tagInput`) ?
Thx!

[2016-12-29 03:09] prakhar1989 commented on #127
Thanks for raising the issue. I don't quite understand the request @joinjoohny, though. Can you please elaborate? Thanks

[2016-12-29 15:45] joinjoohny commented on #127
I would like to have select tags after the search input
I have attached a screenshot
https://goo.gl/ndCxjD
https://goo.gl/diBNKc
Thx!

[2016-12-30 07:11] Radivarig commented on #77
As a temporary fix you can remount the component after adding the tag, by changing `key` prop.

[2017-01-06 16:46] Wildhoney opened #128 "Focus when removing tags"
Expectedly, when removing a tag the focus is transferred from the `input` to the close button. However, it'd be nice to optionally transfer the focus **back** to the `input` immediately, thus improving UX.

Any thoughts on the best way to implement something like this? Would it require a lib change?

[2017-01-09 17:02] brianarpie opened #129 "handleFilterSuggestions breaks drop down suggestions click handlers"
Hi, when I include `handleFilterSuggestions` and return the array of suggestions without modification, it does what you would expect: all `suggestions` populate the drop down list. However, when i click any of the suggestions, they all do the same thing: call `handleAddition` with the first element from the `possibleSuggestionsArray`. Am i missing something here ? All of the click handlers are pas

[2017-01-10 07:23] hegdeas opened #130 "Tags with out input control"
Hi,

I would like to display some predefined tags without any input control.  But I want to allow delete on existing tags.

Is there a way to achieve this?

Using readonly will disable input control but it will also disable delete.
I just want the input control to be disabled

[2017-01-10 14:12] dmitryvim opened #131 "suggestion as object"
I need separate suggestion to id and label.

**Id** to send to backend, **Label** to show in list.

[2017-01-14 03:04] gavinkilbride opened #132 "Set focus on input when clicking on the ReactTags__tags container."
First off, thanks for creating a great component, I appreciate your effort no-end.

I have (what I hope is) a small request, I would like to be able to set the focus on the input when I click on the outermost container, otherwise you have to click on the input itself. I have styled my input so it doesn't have a border and have added the border to the outer ReactTags__tags container so that the enl

[2017-01-18 06:11] prakhar1989 commented on #128
Hey Adam, not sure I understand you correctly. When I use my mouse to click on the `x` button, the focus doesn't change, but when I used <kbd>backspace</kbd>, I see that the focus remains on the input. Are you referring to something else?

[2017-01-18 11:26] Wildhoney commented on #128
For me in Chrome 55.0.2883.95:

- [Navigate to the demo](http://www.webpackbin.com/EJdPySdLG);
- Focus on the `input` (by default);
- Enter a country
- Delete the country

**Expected:** Focus remains on the `input` node
**Actual:** Focus is transferred to the `x` and thus you need to click on the `input` again

[2017-01-18 11:33] Wildhoney commented on #128
![Focus](http://i.imgur.com/gyzdm2O.gif)

[2017-01-22 17:48] adekbadek commented on #102
I've had the same requirement. I just keep the input value in the state, updating it on `handleInputChange`, then in the `onClick` of the 'add tag' button, call handleAddition function.
Also, to reset the input field after adding, I change the key prop on ReactTags as hinted in #77

You've probably got that figured out, but I wanted to put it here in case someone else got this 'add tag button' use

[2017-02-10 10:10] sverhagen opened #138 "Suggestions stay open"
Following situation:
- React tags instance
- Backed by a list of suggestions

Following sequence:
1. Put cursor in input box
2. Start typing until suggestion appears
3. Click outside of input

Actual result:
- Text so far is removed (or stays behind, depending on whether I provide `handleInputBlur` callback
- _Suggestions remain behind_

Expected result:
- Text so far is removed (same as above)
-

[2017-02-11 06:21] sverhagen commented on #138
FWIW, using this as a workaround now:

    constructor(props) {
      super(props);
      this.focused = false;
    }

    render() {
      const suggestions = ...;
      const filteredSuggestions = this.focused ? suggestions : [];
      return (
        <div>
          <ReactTags tags=...
                     handleDelete=...
                     handleAddition=...
                     handleDrag

[2017-02-22 16:18] Voxis opened #139 "demo page gives me 404"
funky 404 though.

[2017-02-22 16:54] #139 closed

[2017-02-22 16:54] prakhar1989 commented on #139
Thanks for making the issue - just updated the URL.

[2017-02-24 07:34] Thraithep opened #140 "Module build failed: ReferenceError: [BABEL]"
I import react-tag-input in my project.And my project can't build with webpack.

this's my package.config.I try to solve it.

  "devDependencies": {
    "awesome-bootstrap-checkbox": "^1.0.0-alpha.4",
    "babel-core": "^6.23.1",
    "babel-loader": "^6.3.2",
    "babel-preset-es2015": "^6.18.0",
    "babel-preset-react": "^6.16.0",
    "babel-preset-stage-0": "^6.22.0",
    "babel-preset-stage-1"

[2017-02-26 03:09] prakhar1989 commented on #140
What's the error that you're seeing with webpack?

[2017-02-28 09:10] Thraithep commented on #140
this's error

ERROR in ./~/react-tag-input/~/react-dnd/~/disposables/modules/index.js
Module build failed: ReferenceError: [BABEL] Z:\dev\PharmaPack\PharmaPack.Admin\node_modules\react-tag-input\node_modules\react-dnd\node_modules\disposables\modules\index.js: Using removed Babel 5 option: Z:\dev\PharmaPack\PharmaPack.Admin\node_modules\react-tag-input\node_modules\react-dnd\node_modules\disposabl

[2017-03-03 19:35] ryan953 opened #141 "<Tag> requires `react-dnd` even when not configured with a `moveTag` prop"
I have an app that's using react-tags but is not configuring drag+drop behavior for the <Tags>. I'd like to be able to use a slimmed-down version of Tags that removes `react-dnd` as a dependency. Using webpack's tree-shaking would be acceptable, but as it is the <Tag> component always configures itself for dnd so tree shaking doesn't work :(

[2017-03-07 09:35] chrisssycollins opened #142 "Tiny issue: Demo link kind of broken"
The current link takes you [here](https://www.webpackbin.com/41DVgMvv-) and asks to notify the author about moving their BIN to the new version of Webpackbin.

![screen shot 2017-03-07 at 09 32 35](https://cloud.githubusercontent.com/assets/6320793/23650162/16b3284a-0319-11e7-86f9-40b8c0fd78e5.png)

The old version can be used but not sure how long for.

[2017-03-12 01:31] indapublic commented on #129
@brianarpie Do you still have your behaviour? I cannot reproduce it

[2017-03-12 17:52] #142 closed

[2017-03-12 17:53] prakhar1989 commented on #142
Thanks - just pushed an update!

[2017-03-22 17:46] cklab opened #144 "Unspecified props are swallowed"
I'm using react-tags alongside [react-bootstrap](https://react-bootstrap.github.io/). One of the components I use from there is `OverlayTrigger`, which throws on various handlers and events on the child component: `onMouseOut` and `onMouseOver` to name a few. But because the props that are passed to `ReactTags` are [selectively extracted](https://github.com/prakhar1989/react-tags/blob/master/lib/R

[2017-04-02 18:28] ralphyua commented on #52
Yes, having animation for the drag and drop would be very nice.

[2017-04-06 21:22] cmackay commented on #139
I just tried the demo page and it shows 404. https://prakhar.me/react-tags/example

[2017-04-13 14:42] crowmw opened #150 "toggle suggestions manualy"
Is it possible to close suggestions and still have focus on input?
I want to close suggestions after add a tag, but still want to open suggestions when there is no tags added, input is empty and user set focus on first time.

[2017-04-15 16:17] prakhar1989 commented on #139
Fixed the link. Here it is http://prakhar1989.github.io/react-tags/example/

[2017-04-15 19:59] cmackay commented on #139
Great, Thanks!

[2017-04-16 01:27] prakhar1989 commented on #140
This should be fixed now - updated the build and webpack configs. Feel free to re-open the issue if you still have problems.

[2017-04-16 01:27] #140 closed

[2017-04-16 01:29] prakhar1989 commented on #120
This has been fixed now, checkout the [demo here](http://prakhar1989.github.io/react-tags/example/).

[2017-04-16 01:29] #120 closed

[2017-04-16 06:57] #128 closed

[2017-04-16 07:01] prakhar1989 commented on #128
Hey Adam, apologies for the late update - i just released a fix for this. Feel free to reopen the issue if it still persists.

[2017-04-17 03:55] prakhar1989 opened #162 "Proptypes and React.createClass warnings due to ReactDND"
Blocked on https://github.com/react-dnd/react-dnd/issues/731

[2017-04-17 17:56] edencorbin opened #164 "mouse click not selecting suggestions"
This must be my specific implementation, but everything works except mouse clicking, it can highlight but will not transfer the selected option to tags. I can use up and down arrows and hit enter, but mouse is not working, any ideas what might be preventing this functionality?

[2017-04-17 18:42] prakhar1989 commented on #164
Hi @edencorbin, can you mention which version are you using? The [demo](http://prakhar1989.github.io/react-tags/example/) uses the latest version on NPM and works as expected.

[2017-04-20 22:36] ZachGawlik opened #165 "Input does not clear when autofocus is false"
Starting v4.7.0 , when setting `autofocus={false}` the input is not cleared after adding a tag.

I believe this to be caused by https://github.com/prakhar1989/react-tags/commit/4429be7922173e25a764fb26ced8898a15e49edf?diff=split#diff-833c370f0b7e67628628a041d1984df3R217 , and I'll start working on a fix.

![bug](https://cloud.githubusercontent.com/assets/5553498/25254980/860e1326-25f6-11e7-8dca-ae

[2017-04-30 19:43] #165 closed

[2017-05-08 06:54] ankitrg commented on #108
I am trying it like this and it doesn't work:

[code]

[2017-05-12 11:09] gorgos opened #171 "Add option to show only suggestions not yet added"
`ids` for suggestions would be helpful. Otherwise a workaround is

[code]

[2017-05-15 13:26] gorgos commented on #162
looks like its fixed in the latest release

[2017-05-22 09:52] sam-blinkdigital opened #173 "React Tags for multiple input field"
How do we implement React Tags for multiple input field on same form.

Please suggest.

[2017-05-29 21:26] Vino4 opened #174 "Installtion Script"
Write an installation script to make the installing process easier

[2017-05-29 21:27] #174 closed

[2017-05-31 10:29] notrab commented on #131
Has anyone figured a way to do this? I haven't looked at the API in much detail but this package seems a perfect fit with something I'm working on.

[2017-06-09 11:20] sam-blinkdigital commented on #74
#60 We cannot hide index of suggestion in any way. It does not look good.

[2017-06-11 15:59] herkyl commented on #59
The method that @ypling suggested doesn't work anymore. This is how you can get it working:
[code]

[2017-06-20 07:40] jeznag opened #177 "Demo link broken"
https://webpackbin.herokuapp.com/41DVgMvv- is a broken link

[2017-07-18 15:55] jonathanphz commented on #173
I think you can just add the name attribute like <ReactTags name="inputNameHere" />
Then target it like `this.props.name`

Haven't fully tried this yet.

[2017-07-20 13:36] #32 closed

[2017-08-03 18:13] jonathanphz opened #184 "Suggestions only work in state?"
I'm trying to add a list of suggestion without using state but currently getting errors. I imagine the errors are because suggestion need to come from state. Is this true?

[2017-08-04 23:29] jonathanphz opened #185 "Save only text value or expose only text value?"
Hi I've been hitting a wall here because I need to save the text values of the tags and not the object it creates.

For example:
Instead of the saved value be like: `[{id: 1, text: "JavaScript"}, {id: 2, text: "PHP"}]`

I need to have: `["javaScript", "PHP"...]`

Is there an easy way of doing this without being too messy?

[2017-08-10 07:17] hoantran-it commented on #171
@gorgos Good catch! I agree with you.

[2017-08-10 10:46] saranshbansal commented on #36
@y-takey
I've spent a day trying to implement your suggestion but it won't work. React API has changed a lot since your answer. Also, refs will vanish from the scene in further releases.

@prakhar1989
Brother, can you remove the query check and just let me show all suggestions onClick (and make it configurable of course)?
It will be a great help. Currently, I couldn't find any other plugin which c

[2017-08-10 10:48] saranshbansal commented on #21
@prakhar1989
It will be a great help if you could just let users show all suggestions onClick (and make it configurable of course).

[2017-08-17 14:02] atoiv commented on #36
It's possible to override the problematic [`shouldRenderSuggestions`](https://github.com/prakhar1989/react-tags/blob/7049b832961bb178f08ba1cf5af25bef3c17ebd6/lib/Suggestions.js#L65) function by passing it as a prop of the same name to ReactTags component:

[code]

This will make the list of suggestions to be always rendered.

Then just add css rules for hiding the suggestions list when the input i

[2017-08-21 16:43] mckinleymedia opened #186 "add submit button"
In addition to keyboard enter, I'd also like to have a button.

[2017-08-22 07:30] saranshbansal opened #187 "Can't scroll with Arrow Keys"
With this plugin, I can't scroll with Arrow Keys when fixing the height of Suggestions container.

This is the CSS change I made:
Original:
div.ReactTags__suggestions {
    position: absolute;
}

Changed:
div.ReactTags__suggestions {
    position: absolute;
    height: 144px;
    overflow-y: auto;
}

Please suggest a solution. I have seen other similar plugins but they work just fine with arrow ke

[2017-08-23 00:07] aequasi opened #188 "Add ability to edit value of text input"

[2017-08-30 14:41] gitjeff05 commented on #184
Suggestions needs to be an array of strings.

[2017-09-01 01:37] martyan commented on #36
I have created PR with desired functionality. Hope it gets reviewed and merged soon as there were no big changes in the code. Cheerz!

[2017-09-01 18:40] mezod commented on #131
How are you guys solving this? Having to map the chosen tags back to objects with ids seems like what everyone would need?

[2017-09-01 18:41] mezod commented on #184
Would be great if they were an object as suggested here https://github.com/prakhar1989/react-tags/issues/131

[2017-09-03 05:00] mahavrilla opened #191 "Allow keyDown to propogate up if the suggestions are not shown"
When I want to do inline editing, it would be beneficial to handle the keydown (specifically esc key) when the suggestions dropdown is not shown. The use case for this is displaying just the tags without the input, then on click show the input for inline adding, and then esc key will toggle the input.

[2017-09-06 23:50] kingllama opened #194 "Add option to disable input."
There's a `readOnly` property right now, but it would be great to be able to `disable` the input.

[2017-09-08 05:12] prakhar1989 opened #197 "Looking for maintainers"
As evidenced by the growing number of issues and PRs on this project, I've not been able to keep up with growing and maintaining this library. I'm quite occupied with other projects at the moment and do not see myself freeing up to work on this library in the foreseeable future.

Instead of letting it languish, I was hoping if someone would be interested in maintaining this library and working wit

[2017-09-09 17:27] ajmas opened #198 "Making drag an drop optional?"
I came by this project by means of react-tags-autocomplete (i-robots-fork), which removes drag and drop. I also made some PR to that project to deal with adding support for internationalisation.

Given this background, would it be worth making drag and drop optional for people who aren't interested in the support, as a way of possibly merging efforts down the road?

[2017-09-13 04:08] theog opened #199 "onKeyDown not firing for android device"
It appears the onKeyDown for android will not pickup key events and as such will not handle the action around defining a key such as comma to  identify and separating tags.

Can verify this by emulating android 7 with chrome and adding keyup, keydown events to the document.

document.onkeyup = function(e) {
    e = e || window.event;
    console.log("keyup:", e.keyCode);
};

document.onkeydown = f

[2017-09-14 04:39] gopikishanm commented on #197
Hi Prakhar,

I will try to maintain this library and will help with coding. Please let me know what are expected from me so that I can understand the role better.

[2017-09-15 20:01] sw-yx commented on #56
note to others - can also disable the cursor change:

[code]

[2017-09-15 20:57] sjsn commented on #194
+1 I need closable tags without the input.

[2017-09-30 17:09] mrdannael commented on #197
Hi Prakhar,

I'm interested in maintaining react-tags. I sent you an email.

[2017-10-08 16:35] JUnderwood1991 opened #206 "comma delimiter ignored"
When attempting to set an array of delimiters, character code 44 (comma) is added, however it doesn't appear to be acknowledge in the key down handler.

I added 32 (space) to make sure the prop was working and it does.

Many tag inputs across various systems use commas to split tags, this system should also support that.

[2017-10-08 16:37] JUnderwood1991 commented on #206
Closing issue, 188 is comma apparently.

[2017-10-08 16:37] #206 closed

[2017-10-27 13:41] apurvgandhwani opened #208 "Show suggestions drop up instead of drop down"
Is there any way suggestions can open up instead of drop down?

[2017-11-09 17:04] cdreve commented on #36
I have also made a PR with that contains the changes from @martyan and also allow the possibility to use the keyboard to select a suggestion when `minQueryLength` is set to `0`. Also updated tests.

[2017-11-21 07:57] vnhung opened #211 "How to custom render tag ?"
I want to insert photo for each tag, please help me !

[2017-11-22 10:59] francisrod01 commented on #33
The same error.but my default tags are `['tag 01', 'tag 02', 'tag 03']` without a key.

[2017-11-22 14:01] francisrod01 commented on #211
Cool! I want to custom to render with new div also.

Today is it:

![image](https://user-images.githubusercontent.com/4691768/33131003-5ba5353a-cf7c-11e7-9bc4-fbd20d0041c4.png)

But I'd like to render this way:

![image](https://user-images.githubusercontent.com/4691768/33131171-dcb6300c-cf7c-11e7-90db-dab8925e80fe.png)

http://sliptree.github.io/bootstrap-tokenfield/

[2017-11-27 12:09] patrick-samy commented on #39
Is it possible to avoid adding the tag if there is no suggestion? Effectively limiting the tags values to the suggestion list.

[2017-11-28 08:24] tobiaskiel opened #212 "IE -> Expected "spec" provided as the second argument to DragSource to be a plain object. Instead, received [object Array Iterator]. Read more: http://react-dnd.github.io/react-dnd/docs-drag-source.html"
Unalbe to use this in IE, I get the following error:
Expected "spec" provided as the second argument to DragSource to be a plain object. Instead, received [object Array Iterator]. Read more: http://react-dnd.github.io/react-dnd/docs-drag-source.html

npm ls gives:
+-- react-tag-input@4.7.2
| +-- lodash@4.15.0 deduped
| +-- prop-types@15.6.0 deduped
| +-- react-dnd@2.5.4
| | +-- disposables@1.0.1
|

[2017-11-28 16:38] xxryan1234 opened #213 "does react-tag support listing suggestion when minQueryLength={0}?"
does react-tag support listing suggestion when `minQueryLength={0}`? I want a list of suggestions to show even if I haven't typed anything yet. I tried `minQueryLength` but it does not work

[2017-11-30 16:43] JMcWilliams11 commented on #187
Hi @saranshbansal, I was wondering if you figured out a workaround for this issue?

[2017-11-30 20:57] francisrod01 opened #215 "Component DragDropContext(ReactTags) declared `PropTypes` instead of `propTypes`. Did you misspell the property assignment?"
Well, I upgraded all dependencies and that's it on browser console:

[code]

[2017-12-07 19:07] davidmfoley opened #217 "react 16?"
On github, it looks like v4.7.1 includes react & react-dom v16.0.0 as peerDependencies.

However, when I install latest from the npm registry, I get v4.7.2, published 7 months ago, with versions 14 and 15 of react and react-dom in the peerDependencies.

[2017-12-13 13:18] ankur1163 opened #218 "doesnt see tags in input text box"
https://screencast.com/t/5lLUh50zlCO

There is no error in console. Whats this error?

Here's my code

https://paste.ofcode.org/EX6vTYrkEMXcNftVtKKZCs

[2017-12-14 00:45] jmale commented on #215
Looks like the issue is in "lib/Tag.js" - just a typo there on line 105:
"Tag.PropTypes" should be "Tag.propTypes"

[2017-12-14 07:32] ankur1163 commented on #218
it magically started working

[2017-12-14 07:32] #218 closed

[2017-12-18 16:12] francisrod01 commented on #215
Thank you @jmale ! :)

[2017-12-18 16:12] #215 closed

[2017-12-22 12:03] ghost opened #220 "why are you modifying state directly?"
In this sample

[code]

why are you modifying state directly? one is not allowed to do so according to react doc

[2018-01-03 12:36] LukaszNowakPL commented on #164
I confirm this issue with recently downloaded version.

`"react-tag-input": "^4.7.2"`

`import { WithContext as ReactTags } from "react-tag-input";`

`<ReactTags
 tags={getGroupTags(conf.content, conf.accesses)}
 suggestions={getGroupSuggestions(conf.content, conf.accesses)}
 handleAddition={(i) => conf.handleAddition(i)}
 handleDelete={(i) => conf.handleDelete(i)}
/>`

Adding 1 (left mouse button

[2018-01-06 03:24] greenkeeper[bot] opened #221 "An in-range update of webpack-dev-server is breaking the build 🚨"
## Version **2.10.0** of [webpack-dev-server](https://github.com/webpack/webpack-dev-server) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/prakhar1989/react-tags/compare/greenkeeper%2Fwebpack-dev-server-2.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      webpack-dev-server
    <

[2018-01-09 21:03] gskrap commented on #138
That's been a decent workaround, but using it, the suggestions disappear if the user tries to manually drag the scroll bar on a scrollable list of suggestions.

[2018-01-10 22:31] ronalfy commented on #220
Modifying state directly is like going `this.state.tags=tags`. I believe the example to be correct.

[2018-01-10 23:29] 0x0ece opened #223 "XSS on Suggestion"
This may lead to XSS, I'd recommend removing the `dangerouslySetInnerHTML`:
https://github.com/prakhar1989/react-tags/blob/09331ab41b17c8713a0172f1c3bed8473c503f0e/lib/Suggestions.js#L83

[2018-01-18 09:42] LukaszNowakPL opened #224 "Pass tag properties to removeComponent"
I use removeComponent to show nice delete button. Sometimes I don't want to delete certain Tag - just make button disabled. I might be able to do this if Tag properties pass to my removeComponent.

[2018-01-20 16:13] JuliaPetrishina opened #225 "["react": "^16.0.0"] Warning: Component DragDropContext(ReactTags) declared `PropTypes` instead of `propTypes`. Did you misspell the property assignment?"
## Steps to reproduce

1. Install React 16.0.
2. In Chrome (or probably any other browser), open the dev console on the page with react-tags
3. As soon as the page contain react-tags React shows the following:
_Warning: Component Menu declared ``PropTypes`` instead of ``propTypes``. Did you misspell the property assignment?_

[2018-01-21 06:36] SaharExelate opened #227 "Support handling click on a certain tag"
Hi,

I've added a PR #226 in order to support an handler for clicking on a certain tag.
It uses a new prop --> **handleTagClick**

What do you think?

Thanks,
Sahar.

[2018-01-23 21:03] dehlen commented on #197
any news here ? There are a lot of unmerged open PR's and I am wondering whether there will be a maintainer in the future or if I should work with a fork of myself.

[2018-01-26 16:37] drewcook commented on #225
Yes I was going to create this same issue.  This is definitely a warning that comes up after updating to React 16.  This can be fixed by updating line 340 on https://github.com/prakhar1989/react-tags/blob/master/lib/ReactTags.js

[2018-01-26 16:43] drewcook commented on #225
I was poking around and looks like there is already a pull request made for this issue.  Hopefully its handled soon. https://github.com/prakhar1989/react-tags/pull/222

[2018-01-26 16:45] prakhar1989 commented on #225
#222 has been merged. Will release an update soon.

[2018-01-26 17:28] prakhar1989 commented on #197
Sorry, no news yet. Haven't heard back on the follow ups yet. Let me know if you are interested!

[2018-01-30 16:06] drewcook opened #229 "Warning: Component DropTarget(DragSource(Tag)) declared `PropTypes` instead of `propTypes`. Did you misspell the property assignment?"
This is a console warning.  React 16 throws this and prefers component.PropTypes when setting props.

[2018-02-03 13:14] mrdannael commented on #224
Will this [PR](https://github.com/prakhar1989/react-tags/pull/202) be enough for you? :)

[2018-02-03 14:01] mrdannael commented on #197
@dehlen Is there something you are waiting for in particular? :)

[2018-02-03 23:52] #221 closed

[2018-02-03 23:53] mrdannael commented on #213
#210

[2018-02-03 23:55] mrdannael commented on #213
#210

[2018-02-03 23:56] #225 closed

[2018-02-03 23:57] mrdannael commented on #229
Tag.js typo fixed on branch master. Closing.

[2018-02-03 23:57] #229 closed

[2018-02-04 00:03] mrdannael commented on #217
The latest version of react-tags is 4.7.3 now. Update me if this still occurs.

[2018-02-04 00:16] mrdannael commented on #188
Can you be more specific? :) For example - Expected behavior and Actual behavior :beers:

[2018-02-04 00:21] mrdannael commented on #177
Is it still an issue?

[2018-02-04 00:25] #162 closed

[2018-02-04 00:27] mrdannael commented on #144
#145

[2018-02-04 00:35] mrdannael commented on #129
@brianarpie do you still have your behaviour? :)

[2018-02-04 00:42] mrdannael commented on #108
I suppose that PR #196 should resolve the problem with russian keyboards, rigth? Or am I wrong? :)

[2018-02-04 00:44] #107 closed

[2018-02-04 00:50] mrdannael commented on #88
PR #202 should resolve this.

[2018-02-04 00:50] #88 closed

[2018-02-04 00:59] #16 closed

[2018-02-04 01:37] mrdannael opened #230 "react tags v5.x.x"
## Release 5.x.x
### Features/Enhancements
- [ ] key code is deprecated (#196)
- [ ] custom tag component (#48, #211)
- [ ] tags inside 'input field' or default (#211, #132)
- [ ] choose to sort tags (#21)
- [ ] inline styling (#45)
- [ ] should work with redux-form (#51)
- [ ] two react-tag-input in one place (#57, #173)
- [ ] suggestions can be array of objects (#74, #131, #185)
- [ ] auto-add (

[2018-02-04 11:42] dpkshrma commented on #220
`splice` mutates the variable acted upon. So, the issue is valid.
It is easy to do it immutably using `slice` or `filter` though:
[code]

[2018-02-04 22:14] #177 closed

[2018-02-05 19:26] cklab commented on #144
@mrdannael thanks for adding the ref, I can rebase if the PR is good-as-is.

[2018-02-05 20:07] mrdannael commented on #144
Yes, please. Rebase with master :)

[2018-02-05 21:13] cklab commented on #144
One way or another, something like it would be necessary to avoid the "unknown prop" warnings. Without it, props such as `handleDelete`, `handleAddition`, etc. would be passed to the top-level div leading to those warnings.

[2018-02-06 03:10] Jucesr commented on #45
I am using 4.7.3. There is a prop "inline" that you can set to false if you want to separate tags from input.

[code]
The prop is not in the docs maybe it was just added.

[2018-02-07 07:00] ashfaqrafi opened #231 "custom placeholder"
How to give a custom placeholder?

[2018-02-07 13:58] mrdannael commented on #231
Is `placeholder` prop not working correctly?

[2018-02-14 05:06] ashfaqrafi commented on #231
where to add the prop?

[2018-02-14 05:35] ashfaqrafi commented on #231
Ya, its working.

[2018-02-14 06:04] ashfaqrafi opened #232 "Show data fetched from server"
In my project I need to show some predefined tags fetched from the server using network call, the user input will be taken along with the fetched tags and new array of tags will be sent to the server using PUT request. How can I get the data fetched from the server and show in the tags?
Here is my code so far:
[code]
@prakhar1989 need help badly.

[2018-02-14 08:49] mrdannael commented on #231
Cool, closing :)

[2018-02-14 08:49] #231 closed

[2018-02-14 08:53] mrdannael commented on #232
The easiest way imo is to fetch tags from backend at the very beginning of mounting component i.e. and just put them in `tags` state.

Also could you please format your code for better readability? :)

[2018-02-14 09:47] ashfaqrafi commented on #232
Thanks for the response, could you please elaborately tell me where to change things in my code block? @mrdannael

[2018-02-14 10:23] mrdannael commented on #232
[Axios](https://github.com/axios/axios) package should be enough for that. Let's assume that you have endpoint for fetching tags from backend i.e. `/api/tags`. So we want to make api call in `componentDidMount()` and update our state.

[code]

Response from backend should look like this:
[code]

Hope it helps :)

[2018-02-14 10:59] ashfaqrafi commented on #232
Thanks, I am trying it now.

[2018-02-15 07:35] ashfaqrafi commented on #232
Hi @mrdannael is there any way I can save these tags data in redux store instead of fetching them from setting state as in the same component I am showing data using redux store like tableid, tablename, ailas and then there is tags for individual rows of the table, now I am facing problem getting the tags using state as my other table components of the same table are loaded from redux store.

[2018-02-15 11:35] damsvann commented on #104
This option could really help us a lot!

[2018-02-15 15:22] mrdannael commented on #232
I see two options for it now @ashfaqrafi:
1. Create simple action that will put your tags into specific reducer and then just call `this.props.dispatch` with that action and proper arguments i.e. `response.data.tags`. (or refer to [this](https://redux.js.org/docs/basics/UsageWithReact.html))
2. Create action/function with [redux-thunk](https://github.com/gaearon/redux-thunk). Inside it just make a

[2018-02-15 15:22] #232 closed

[2018-02-16 23:29] mrdannael commented on #224
Merged. Closing this issue.

[2018-02-16 23:29] #224 closed

[2018-02-17 03:12] LaurieSReynolds opened #233 "Swap layout of input and tags - display input on top"
Really great component!  Thank you!

For an application that I'm building, the user may enter 30 or more tags.

Is there a way to display the input control on the top and the tags below it?

I'm setting {inline=false} which displays the input box below the tags which is helpful.

[2018-02-17 06:36] mrdannael commented on #233
AFAIK I don't think so. But that enhancement should not be difficult to add. I'll think about it :)

[2018-02-19 01:23] LaurieSReynolds commented on #233
Cool.  Thank you!

[2018-02-20 08:38] mrdannael commented on #227
Merged :beers:

[2018-02-20 08:38] #227 closed

[2018-02-20 08:39] mrdannael commented on #213
Merged

[2018-02-20 08:39] #213 closed

[2018-02-20 08:52] mrdannael commented on #36
Merged :beers:

[2018-02-20 08:52] #36 closed

[2018-02-20 11:25] Dictory commented on #217
@mrdannael Hello. I have that error:
`Component DropTarget(DragSource(Tag)) declared PropTypes instead of propTypes. Did you misspell the property assignment?` when use react-tags.
just for notice

[2018-02-20 13:08] mrdannael commented on #217
@Dictory I can't replicate the issue. Can you use jsfiddle or something similar to reproduce it?

[2018-02-22 09:02] InonHold opened #234 "Cannot read property 'stopPropagation' of undefined"
After upgrading to latest version (4.8.0) I started getting the following error:
'Cannot read property 'stopPropagation' of undefined'
when removing a tag using keyboard's backspace.

Looking into the code it seems like - handleDelete(i, e) is not getting the 'e' argument when it is called from handleKeyDown.

[2018-02-22 09:35] mrdannael commented on #234
Should be fixed in v4.8.1.

Released! Try it now :)

[2018-02-22 10:25] joshpitzalis opened #235 "Duplicate tags | You can enter the same tag twice"

[2018-02-22 10:26] joshpitzalis commented on #235
Is this deliberate? Is there any reason why people would want to do this or is this a bug to be fixed?

[2018-02-22 10:51] mrdannael commented on #235
Looks like it's a bug to be fixed.

[2018-02-22 13:26] InonHold commented on #234
Thanks for the quick fix
👍

[2018-02-22 13:26] #234 closed

[2018-02-24 20:14] prakhar1989 commented on #197
Just an update: Daniel (mrdannael) has volunteered to be a maintainer of this library going forward! Thank you very much Daniel! 🎉

[2018-02-26 06:13] ashfaqrafi commented on #232
Thanks @mrdannael :)

[2018-02-28 17:48] mihaiserban opened #239 "handleTagClick error if not defined"
handleTagClick is documented as optional, but throws error in console if not defined.

`commons.js:616 Uncaught TypeError: this.props.handleTagClick is not a function`

[2018-02-28 17:55] mihaiserban commented on #239
submitted pull request for this issue.

[2018-02-28 19:26] mrdannael commented on #239
Fixed and released! :beers:

[2018-02-28 19:26] #239 closed

[2018-03-02 16:24] mrdannael commented on #112
fix already on master

[2018-03-02 16:24] #112 closed

[2018-03-03 16:55] ad1992 commented on #235
@mrdannael can I take this up ?

[2018-03-04 14:54] bepbrasil opened #241 "Add option to maintain suggestion list open for development purposes"
For some reason, the suggestion list always closes now, if your click enter, if you right click the suggestion list, if you right click the input field. Something has changed on the latest release because this wasn't happening.

This is not really a bug, so I'm suggesting a new option so the suggestion list stays open because this helps us to stylize the component using the browser developer tools

[2018-03-04 17:37] mrdannael commented on #241
Thanks for the info. I'll look on it today.

[2018-03-05 14:52] jadelmir opened #242 "tags are overlapping"
![screen shot 2018-03-05 at 4 50 37 pm](https://user-images.githubusercontent.com/31207632/36981279-67a279a0-2095-11e8-9336-22ccf5fd9f90.png)

					<div className="element">
						<div className="inputCountries">
							<Label
								htmlFor="hf-email"
								style={{
									fontSize: 20
								}}

								{item}
							</Label>
						</div>

						<div>
							<ReactTags
								tags={tags}

[2018-03-05 14:56] ameenmattar commented on #242
Same Issue here.

[2018-03-05 15:15] mrdannael commented on #242
Are you using styles provided by library?

[2018-03-06 13:11] ndemidovich-sc opened #243 "Added empty tag if press 'Arrow down' and press 'Enter'"
### Steps to reproduce
1. Set focus on input.
2. Type text 'test' in field
3. Press `arrow down`
4. Press `enter`

### Expected result
Tag with text 'test' is displayed

### Actual result
![capture](https://user-images.githubusercontent.com/25152982/37034015-f153a8e0-2158-11e8-8418-f738eb5f93c3.PNG)

[2018-03-06 15:57] Komar0ff opened #244 "After removing any tag, the next tag is overlapped by the last tag in the array"
on http://prakhar1989.github.io/react-tags/example/
![gif](https://user-images.githubusercontent.com/10588170/37042735-1f9cd98a-2170-11e8-904a-e37adddf3c22.gif)

[2018-03-06 18:19] mrdannael commented on #244
Oh, key props in tags are duplicated. Workin' on in :)

[2018-03-07 20:58] mrdannael commented on #244
Ok. So the problem is not library itself but proper handling addition method. Need to fix example page then :)

[2018-03-08 16:51] ad1992 commented on #243
@mrdannael I will look into this.

[2018-03-08 17:11] mrdannael commented on #243
Awesome!

[2018-03-08 22:47] mrdannael commented on #235
Should be fine now. Closing :)

[2018-03-08 22:47] #235 closed

[2018-03-09 08:29] jadelmir opened #247 "how to change the placeholder "add new tag""
how could i change the placeholder

[2018-03-09 17:06] SpeedOfSpin commented on #247
Its a prop on the component
 <ReactTags placeholder="My new placeholder" />

[2018-03-10 17:13] ad1992 commented on #230
@mrdannael added pre commit hook in the list

[2018-03-12 00:21] #243 closed

[2018-03-12 15:22] Abdisalan opened #249 "Allow arbitrary use of html for react tags"
Is there any plan to add some type of wrapper element so users have more freedom when styling tags?

[2018-03-12 16:00] jstevensstein opened #250 "Attempts to focus after handleTagClick on readonly component"
There is no text element rendered for readonly, so attempts to set the value are trying to set a property of undefined

https://github.com/prakhar1989/react-tags/blob/master/lib/ReactTags.js#L110-L114

[2018-03-12 23:06] tzehe opened #251 "iOS can not click on item in suggestion list"
Hi,

I am experiencing a strange behaviour after clicking on a suggestion item from my mobile device. The item is not added to the tags. I also tested this on the example page and had the same result.
After this I add `onTouchStart={props.handleClick.bind(null, i)}` in Suggestions.js:

`<li
            key={i}
            onMouseDown={props.handleClick.bind(null, i)}
            onMouseOver={props

[2018-03-14 19:49] ad1992 commented on #249
@Abdisalan you can use https://github.com/prakhar1989/react-tags#styling to add your custom styles.  Does this fulfil the requirement ?

[2018-03-14 20:03] ad1992 commented on #251
@tzehe would you like to give a PR for this fix?

[2018-03-15 08:52] ad1992 commented on #247
@jadelmir https://github.com/prakhar1989/react-tags#placeholder-optional

[2018-03-15 08:55] ad1992 commented on #217
@Dictory does the issue still occur ?  we have migrated to react 16 in latest version 4.9.1

[2018-03-15 09:33] Dictory commented on #217
@ad1992 sorry, now i doesn\`t have error

[2018-03-15 09:38] ad1992 commented on #217
awesome 👍 closing this issue

[2018-03-15 09:38] #217 closed

[2018-03-15 11:25] tzehe commented on #251
Yes I will give a PR later.

[2018-03-15 18:11] levininja opened #257 "Documenting option defaults"
The documentation at https://www.npmjs.com/package/react-tag-input is great at documenting what all the options are.

However it would be really useful if it also documented what the defaults are for each optional option (i.e. if the user doesn't specify it, what is the default behavior?).

[2018-03-15 18:24] ad1992 commented on #257
@levininja sure will add the defaults in the documentation.

[2018-03-15 19:55] ad1992 opened #258 "allowUnique"
allowUnique will decide whether the tags will be duplicated.

Currently the suggestions also shows the options which are already added so clicking on that, the user won't be be able to add the option as tag as https://github.com/prakhar1989/react-tags/pull/245 got pushed. This will also be solved with this prop.

This prop will help in deciding whether to allow only unique tags.

cc @mrdannael @pr

[2018-03-15 23:28] rozekfr opened #259 "Different type of tags"
Is it possible to render two different tag for example blue and red one? Is it possible to add class to tag or something like that?

[2018-03-17 20:04] #250 closed

[2018-03-17 20:25] ad1992 commented on #220
this has been fixed in the code @ronalfy @dpkshrma.

[2018-03-17 20:25] #220 closed

[2018-03-17 22:11] prakhar1989 commented on #258
Is there a usecase for having duplicated tags? If not, I think having the unique only behavior sounds reasonable to me.

[2018-03-18 06:02] ad1992 commented on #258
@prakhar1989 @mrdannael some time back when I wanted to use react-tags in one of my project where I did need the flexibility to decide whether tags should be duplicated or not.

My use case was I wanted to receive the input of test cases for a particular coding challenge, the test cases if includes array then it can have input as [1,2,3,2,1] or ['abc','def','abc']. It also needed to allow empty st

[2018-03-18 06:09] ad1992 commented on #259
@rozekfr you can pass classNames as a prop to your component for custom styling. Please check https://github.com/prakhar1989/react-tags/issues/258. Does this help you ?

[2018-03-18 17:15] prakhar1989 commented on #258
Ah okay. Sounds good then!

[2018-03-19 08:09] Napkutya commented on #233
Cool stuff! Thanks!

But I'm also interested in the swapping
now it looks like :
<ReactTags
                                placeholder="Kulcsszavak: több tag esetén kérem vesszővel válassza el"
                                handleDelete={this.handleDelete}
                                handleAddition={this.handleAddition }
                                handleInputChange={this.onTagInputChan

[2018-03-20 16:24] gskrap commented on #235
your "fix" broke the ability to set anything other than plain text as the "text" attribute for a tag.

for a simple example example,
{id: 1, text: <span title="here's a tool tip">you can hover on me</span>}
used to be a valid tag

this functionality of passing html elements as the value of the text attribute provided lots of flexibility. please undo this.

[2018-03-20 16:27] gskrap opened #267 "preventing duplicate tags breaks the ability to pass html as the text attr for tags"
your fix of preventing duplicate tags broke the ability to set anything other than plain text as the "text" attribute for a tag.

for a simple example,
```{id: 1, text: <span title="hi i'm a tool tip">you can hover on me</span>}```
used to be a valid tag

this functionality of passing html elements as the value of the text attribute provided lots of flexibility.

preventing duplicates is very easy

[2018-03-20 16:34] gskrap commented on #235
please see my newly opened issue https://github.com/prakhar1989/react-tags/issues/267

[2018-03-20 17:17] gskrap commented on #258
handling duplicates should be handled by the developer on the passed handleAddition function for maximum flexibility.

checking tag.text equality by calling .toLowerCase is restricting the text attr to be plain text, please see my open issue https://github.com/prakhar1989/react-tags/issues/267

[2018-03-20 17:31] ad1992 commented on #267
@gskrap I will look into this.

[2018-03-21 13:41] odalysadam opened #269 "Error while dragging tags: Unable to find node on an unmounted component."
Today I installed 4.9.1 using yarn and when dragging tags the following error occured:

[code]

I rolled back to 4.7.3 (the version I was working with) and it's working just fine again. This is my first issue ever so I don't know what is expected when reporting a bug. Feel free to ask questions and I will try to give answers. I'm relatively new to React and Webpack, so I don't really have a clue w

[2018-03-21 19:45] ad1992 commented on #269
@odalysadam which browser are you using ?

[2018-03-22 10:12] odalysadam commented on #269
@ad1992 Google Chrome Version 65.0.3325.181 and Firefox Quantum 58.0.2 used on a MacBook

[2018-03-23 17:32] etrofimenko opened #277 "React-tags stopped working in IE 11 from version 4.7.3"
Some issues start appearing in IE. Please check the screenshot.

![image](https://user-images.githubusercontent.com/907320/37844409-5a8ca7b0-2ed0-11e8-93da-96c9f4fd64ae.png)

[2018-03-24 12:03] ad1992 commented on #277
@etrofimenko does it happen in the demo link as well http://prakhar1989.github.io/react-ta…

[2018-03-24 12:39] etrofimenko commented on #277
On Sat, 24 Mar 2018 at 14:03, Aakansha Doshi <notifications@github.com>
wrote:

--
Best Regards,

Eugene Trofimenko

Skype : etrofimenko
Mobile : +38(095) 7042427

[2018-03-25 17:12] #110 closed

[2018-03-26 08:15] etrofimenko commented on #277
@ad1992  Yes, it does. I've added a screenshot.

![image](https://user-images.githubusercontent.com/907320/37894335-97839968-30e6-11e8-81b3-8e96f5f40397.png)

I think it was happened due to the following function, because IE doesn't support it.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isInteger

[2018-03-26 10:44] khushboogupta1 commented on #94
@prakhar1989  i got stuck in same issue in **react-native-multiple-tags**
     <MultipleTags
          tags={this.state.allSelectedPubs}
          onChangeItem={(content) => { this.setState({content}); }}
        />
        {
          (() => this.state.content.map(item => <Text key= {item}> {item} </Text>)) ()
        }

      Allselectepubs:
         "demoTestData"
          "demoTestData1"
HOw

[2018-03-27 09:05] #277 closed

[2018-03-27 16:46] ad1992 commented on #277
@etrofimenko thanks for reporting the issue :) . Its fixed now.

[2018-03-28 18:41] ad1992 commented on #269
@odalysadam does this happen here http://prakhar1989.github.io/react-tags/example/

[2018-03-29 09:32] odalysadam commented on #269
@ad1992 nope, it does not :)

[2018-04-03 15:28] quarryman commented on #150
👍 should provide ability not to lose focus after suggestion has been selected

[2018-04-04 18:49] #267 closed

[2018-04-05 14:45] gjvoosten opened #287 "Wrong code in v5.0.0 dist"
It appears the `dist-modules` are not up-to-date w.r.t. the `lib` code, compare e.g.:

https://github.com/prakhar1989/react-tags/blob/v5.0.0/lib/ReactTags.js#L62

with:

https://github.com/prakhar1989/react-tags/blob/v5.0.0/dist-modules/ReactTags.js#L136

The dist still refers to `item.toLowerCase()` whereas the lib refers to `item.text.toLowerCase()`…

[2018-04-05 15:02] ad1992 commented on #287
@gjvoosten thanks a lot for reporting this.Its fixed now https://github.com/prakhar1989/react-tags/blob/v5.0.1/dist-modules/ReactTags.js#L136

[2018-04-05 15:02] #287 closed

[2018-04-05 15:26] gjvoosten commented on #287
@ad1992 Thanks for fix and the quick turn-around time!

[2018-04-11 10:18] rozekfr commented on #259
This is not what I want. I need to add two classes for tag. I want to display one type of tag with blue background and another type of tag with red background.

[2018-04-11 11:57] ad1992 commented on #259
ahh ok I get it now @rozekfr . In that case a prop classname needs to be passed to each tag. Would you be interested in giving a PR for this feature ?

[2018-04-11 12:30] rozekfr commented on #259
Sure, when I will have some extra time I will do that. I have an idea, how to do that.

[2018-04-11 15:31] ad1992 commented on #259
Awesome. looking forward for your PR :)

[2018-04-11 15:37] ad1992 commented on #98
@twltwl does this issue happen v5.0.1 ?

[2018-04-11 15:40] ad1992 commented on #194
@kingllama would you give a PR for this feature ?

[2018-04-11 15:47] ad1992 commented on #212
@tobiaskiel is this issue happening in v5.0.1 ?

[2018-04-11 21:01] kingllama commented on #194
@ad1992 No promises but I can definitely take a look this weekend. My react skills and free time have certainly improved since I opened the issue.

[2018-04-13 09:34] dcsaszar opened #293 "Error on IE11: Object doesn't support property or method 'isInteger'"
* Use IE11
* Open https://react-tag-input.stackblitz.io/

### Expected

Demo works

### Actual

Shows a blank page.
Browser console:

`Object doesn't support property or method 'isInteger'`

[2018-04-13 09:38] dcsaszar commented on #293
According to #277 this should already be fixed 🤷‍♂️

[2018-04-13 18:47] ad1992 commented on #293
@dcsaszar the stackblitz seems to use v4.8.1 thats you are getting this bug. Thanks for reporting this. We will update the stackblitz dependencies.

[2018-04-15 17:46] ad1992 commented on #194
@sjsn I am sorry I didn't get you what you need. Can you please explain ?

[2018-04-15 17:49] sjsn commented on #194
@ad1992 The pull request kingllama made addresses what I needed. Thanks!

[2018-04-17 21:22] mikailbayram opened #297 "Displaying tags below input field"
Is there a way of displaying the tags below the input field instead of above it?

[2018-04-18 15:41] ad1992 commented on #257
@levininja sorry I didn't get time to work on this. Would you like to give a PR on this ?, I would be happy to review :)

[2018-04-18 15:45] ad1992 commented on #198
@ajmas I am not sure if we will be working on this immediately but I would be happy to review a PR on this feature. Please feel free to pick this up.

[2018-04-18 15:45] #293 closed

[2018-04-18 15:46] ad1992 commented on #293
@dcsaszar this is fixed

[2018-04-18 18:08] ad1992 commented on #297
@mikailbayram we don't have any way to display the tags below the input field. Would be happy to receive a PR for the same :)

[2018-04-23 11:33] ibrahimshaer opened #300 "A problem with delimeters"
Pasting into the input field of react tags automatically adds the tag to the list of selected tags.

[2018-04-23 17:46] ad1992 commented on #300
Can you explain more what you mean and may be provide an example as well ?

[2018-04-24 07:18] ibrahimshaer commented on #300
Hello,
When the user is pasting in the input of the react tags, reacts tags handle
Addition prop is triggered without triggering input handling prop.

Best Regards,
Ibrahim Shaer.

On Mon, Apr 23, 2018 at 8:46 PM, Aakansha Doshi <notifications@github.com>
wrote:

[2018-04-26 03:21] jpbufe3 opened #303 "`handleAddition` and `handleDelete` should not be required props"
Given that `handleAddition` and `handleDelete` aren't used or accessible when `readOnly` is `true`, it seems like having a default noop function should suffice for both and the `.isRequired` can be removed.

[2018-04-26 03:55] jpbufe3 opened #305 "Paste calls `addTag` with the wrong type"
Pasting currently splits the string into an array of strings and then passes each one directly to `addTag`. However, `addTag` now expects an object with `id` and `text`.

See: https://github.com/prakhar1989/react-tags/blob/c59ff527f08b8f307f69d883be8bfe943f1d5fc4/lib/ReactTags.js#L226 and https://github.com/prakhar1989/react-tags/blob/c59ff527f08b8f307f69d883be8bfe943f1d5fc4/lib/ReactTags.js#L230

[2018-04-26 11:32] sandropoluan opened #307 "Weird looking"
I got weird looking component. What I miss?

![weird](https://user-images.githubusercontent.com/11922251/39303348-61fae1c4-4988-11e8-89dd-88e89a9bbb08.png)

[2018-04-26 17:30] ad1992 commented on #307
Can you please share the props you passed to the component ?

[2018-04-27 03:44] sandropoluan commented on #307
[code]

[2018-04-27 10:01] cdreve commented on #211
@mrdannael I see you added this to 5.x.x. This includes having a custom renderer for suggestions, right?

[2018-04-27 17:39] #303 closed

[2018-04-28 05:41] ad1992 commented on #307
I agree @sandropoluan . The CSS should be added by default. We should bundle the css in webpack. Thanks for reporting this bug.

[2018-04-30 12:24] cdreve opened #309 "Custom renderer for both tags and suggestions"
I would like to be able to define a custom renderer function for both tags and suggestions. This would give me a lot more control over how the tags and the suggestions are rendered.

[2018-05-02 14:10] sudheeshcm commented on #241
@bepbrasil and for others in search for this option,
[code]

This should solve the problem.

[2018-05-04 15:37] jpbufe3 opened #312 "Bump version to 5.0.2 and release with fixes to paste"
Now that #306 is merged with master, bump the appropriate version numbers to 5.0.2 and create a release to deploy to npm.
@ad1992 - let me know if there's anything I can do here, but figured it might be easiest for you to just handle. Thanks!

[2018-05-04 17:25] ad1992 commented on #312
@jpbufe3 I will release it by tomorrow. Some pending cleanup needs to be done and some pr needs to be merged before I make the release.

[2018-05-04 20:09] ad1992 commented on #312
released 5.0.2

[2018-05-04 20:09] #312 closed

[2018-05-04 20:15] ad1992 commented on #300
@ibrahimshaer this should be fixed now. can you check in the latest release v5.0.2

[2018-05-05 12:33] ibrahimshaer commented on #300
Thank you.

On Fri, May 4, 2018 at 11:15 PM, Aakansha Doshi <notifications@github.com>
wrote:

[2018-05-05 14:27] #300 closed

[2018-05-08 16:40] ebrillhart opened #318 "Getting a `Cannot read property isInteger of undefined` all of a sudden"
Hi!

I've been using this library in a project for a few months now and it's worked great. I upgraded to the latest version a few days ago though, and I'm now getting a `Cannot read property isInteger of undefined` error in the browser, to the point that the browser crashes. It looks like the `Number` library isn't getting imported correctly from core-js in some way in the `suggestions.js` file -

[2018-05-08 19:28] ebrillhart commented on #318
closing - resolved

[2018-05-08 19:28] #318 closed

[2018-05-08 19:30] ad1992 commented on #318
@ebrillhart what was the issue and how was it resolved ?

[2018-05-10 07:36] AChaoZJU opened #319 "Why suggestion only appear when I type two or more letters ?"
This problem is found in the [example](https://stackblitz.com/edit/react-tag-input-1nelrc?file=index.js) of this repository.
If I type one letter,  for example, `L`. There is no suggestions. If I type `La`, `Laos` and `Lativa` will appear in the suggestions.
It seems that [index.js](https://stackblitz.com/edit/react-tag-input-1nelrc?file=index.js) don't explain the problem.

[2018-05-12 12:14] ad1992 commented on #319
@AChaoZJU you can pass `minQueryLength` as `1` and it will start rendering suggestions for 1 letter. By default `minQueryLength` is 2.

[2018-05-12 15:14] #319 closed

[2018-05-18 14:37] dragoscacuci commented on #269
@odalysadam Make sure the React version used by your application is at least the same as the version used by react-tag-input.

[2018-05-24 11:41] rkterungwa16 opened #325 "I cannot get separate values for two or more react-tag inputs."
For my current use case, I have an input for `included keywords` and another for `excluded keywords`, for which I need to collect separate tag values. Whenever I create a tag for one of the input fields, and click on enter, the tag appears on the other input field. Is there a way to do get these values separately currently.

[2018-05-26 06:27] ad1992 commented on #325
@rkterungwa16 can you give an example what you mean so its more clear ? I didn't get this line ` Whenever I create a tag for one of the input fields, and click on enter, the tag appears on the other input field.`

[2018-05-30 00:02] ebrillhart commented on #318
it was an internal project dependency issue!

[2018-05-31 04:37] ashfaqrafi opened #332 "send tags to the server while handleAddition is called"
I want to send tags each time I call handleAddition method, that is while I put enter in my keyboard a new tag will be created using handleAddition method and at the same time the tag will be sent to server through HTTP request. is it possible to achieve? if so what will be the code. I want to do same while I delete a tag. @prakhar1989 @mrdannael please help me out.

[2018-06-02 04:11] ad1992 commented on #332
@ashfaqrafi did you try making the api call in `handleAddition` prop itself ?

[2018-06-04 14:52] xubinzheng opened #338 "seems placeholder prop doesn't work"
I added placeholder prop into the component, seems not working?

------> code
![image](https://user-images.githubusercontent.com/9353989/40924403-2dc73dc8-67e5-11e8-8548-3b17f329928b.png)

-------> also tried
![image](https://user-images.githubusercontent.com/9353989/40924808-2ba6f578-67e6-11e8-9b1d-4de27a39a2ee.png)

-------> result
![image](https://user-images.githubusercontent.com/9353989/40924

[2018-06-04 14:57] ad1992 commented on #338
@xubinzheng it works here https://stackblitz.com/edit/react-tag-input-1nelrc . can you reproduce in stackblitz and share the link so I can look in to it.

[2018-06-04 15:17] xubinzheng commented on #338
Thank you for your quick response. I tried the link you provided and it all worked fine.
will double check my dev environment.

Thanks

[2018-06-04 15:17] #338 closed

[2018-06-07 13:35] yangtheng opened #342 "autocomplete is bugged?"
Hi, I was trying to use autocomplete in my application and it didn't work, it produced an error in the console instead. I couldn't find an issue with my code so I decided to try implementing autocomplete in your example code. The same error occured:

Uncaught TypeError: query.toLowerCase is not a function
    at ReactTags.js:116
    ...

Please have a look as I would like to have the autocomplete

[2018-06-07 16:14] ad1992 commented on #342
@yangtheng which react tags version are you using ? are you able to reproduce here https://stackblitz.com/edit/react-tag-input-1nelrc ?

[2018-06-07 16:30] yangtheng commented on #342
Yes the same error can be reproduced in that example if I add an
autocomplete prop to ReactTags like this:

<ReactTags
tags={tags}
autocomplete
suggestions={suggestions}
delimiters={delimiters}
handleDelete={this.handleDelete}
handleAddition={this.handleAddition}
handleDrag={this.handleDrag}
handleTagClick={this.handleTagClick}
/>

Am I doing it right?

On Fri, Jun 8, 2018 at 12:14 AM, Aakansha Do

[2018-06-07 17:48] ad1992 commented on #342
@yangtheng yes its a bug. Would you like to give a PR for the fix ? If you revert to v4.9.1 it should work.

[2018-06-07 22:15] tabrath commented on #297
@ad1992 I'm eager to do this, but what would be a good prop to specify this? `over`, `under`, `before` or  `after` maybe?

[2018-06-08 18:51] ad1992 commented on #297
@tabrath I think we should instead add a prop `inputFieldPosition` which has default value `inline` and optional value `below` and `above` . WDYT ?

[2018-06-09 00:00] tabrath commented on #297
@ad1992 Sure, sounds good. Keeping the `inline` prop for backwards compatiblity?

[2018-06-09 05:02] ad1992 commented on #297
@tabrath yes lets keep `inline` prop in `5.x.x` for backward compatibility. Can you add a `TODO Comment` that it will be removed in version `6.x.x` ? And also add in read me as well that we will remove in version `6.x.x`.

[2018-06-10 17:17] #342 closed

[2018-06-12 12:13] greenkeeper[bot] opened #347 "An in-range update of webpack-cli is breaking the build 🚨"
## Version **3.0.4** of [webpack-cli](https://github.com/webpack/webpack-cli) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/prakhar1989/react-tags/compare/master...prakhar1989:greenkeeper%2Fwebpack-cli-3.0.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>we

[2018-06-19 07:48] AChaoZJU commented on #119
Fuzzy search may be a important feature for some developer.

At least,
eg.
est -> test
es -> test

etc.

[2018-06-19 08:02] AChaoZJU commented on #119
Fuzzy search may be a important feature for some developer.

At least,
eg.
est -> test
es -> test

etc.

[2018-06-19 08:47] ad1992 commented on #119
@AChaoZJU would be happy to receive PR for this change :)

[2018-06-19 15:27] siliconeidolon opened #349 "handleInputChange appears to change suggestion filtering when calling setState"
Code to demonstrate the issue:
[Stackblitz code](https://stackblitz.com/edit/react-tag-input-vgxh7c)

I'm attempting to write a character counter that takes the input value length from the event provided to `handleInputChange`. When I use `setState` to change the value, and if I have a `minQueryLength` prop on the component, the suggestions filter appears to break, showing every suggestion.

If th

[2018-06-20 12:21] morozp opened #351 "Custom Component For Tag Item"
Hi. Thanks for ypur great job.

1) How I can add specific style for any tag?
for exmaple each tag has some tagStatus but if tagStatus === 'active' backgroudcolor should be green.
2) How to add title for tag's item if it has long string?

[2018-06-20 13:53] jpggvilaca commented on #349
+1

[2018-06-20 14:44] mikengu commented on #349
It seems to be an Event Loop problem. This is not pretty but if you do this it should fix the event problem.

[code]
The time can be anything. Hopefully, someone will have a more elegant solution.

[2018-06-21 12:20] ad1992 commented on #349
@siliconeidolon thanks for reporting the bug. Would you like to give a PR for the fix ?

[2018-06-21 18:13] ad1992 commented on #351
@morozp
1. This should be achievable with https://github.com/prakhar1989/react-tags#styling. Can you try this ?
2. I didn't get you here. What do you mean by adding title to tag ?

[2018-06-22 04:54] #257 closed

[2018-06-22 09:47] gaurav3017 opened #352 "Partial word search"
Is it possible to partial search a tag? For example, if I type "Lanka", it should suggest "Sri Lanka". Right now, "Sri Lanka" is only suggested when "Sri" is typed.

[2018-06-22 10:15] siliconeidolon commented on #352
You'll need to write your own function for `handleFilterSuggestions`, eg:
[code]

[2018-06-22 10:21] siliconeidolon commented on #349
@ad1992 The fix above will work for the implementation of my `handleInputchange` function, but it doesn't solve the underlying issue within the component. If I get time I'll have a look at  submitting a PR for what seems to be causing the problem (https://github.com/prakhar1989/react-tags/blob/master/lib/ReactTags.js#L152)

[2018-06-22 12:49] anhmt90 opened #353 "[Bug] autocomplete doesn't work"
After setting the `autocomplete ` prop, `Error: query.toLowerCase is not a function` occurs.

![image](https://user-images.githubusercontent.com/16328682/41777206-e09008c4-762a-11e8-8474-5e9983eebf75.png)

[2018-06-22 13:43] morozp commented on #351
@ad1992
1) I need different styles for any tags. Any of them should have tag Status == active (green color) but other should be red.
2) i meen  attribute title  <span title={'Tag text is long long long long long long long long long long long long long long long long long long long long long'}>Tag text  is long ...</span>

[2018-06-23 11:03] ad1992 commented on #353
@anhmt90 this bug is duplicate of https://github.com/prakhar1989/react-tags/issues/342 and has been fixed. This will be pushed in next version release.
closing this.

[2018-06-23 11:03] #353 closed

[2018-06-24 19:17] ad1992 commented on #352
@gaurav3017 we don't support it right now but would be happy to receive a PR for this.

[2018-06-24 19:34] ad1992 commented on #351
@morozp currently we are not passing any other props to Tag component apart from what is supported so if we start passing the props example `status` in this case then you will control the styling. So we just need to pass the rest of the props. Would you like to give a PR for this ?

[2018-06-25 12:16] con322 opened #361 "Is it possible to not trim the inputted text onChange?"
I am passing inputValue and an onChange function into react tags.

The problem is i am unable to add any spaces to the end of the inputted text i think this is because it is trimmed before it gets to the passed onChange method.

Not sure what the best option would be for this improvement/change. Either remove the trimming altogether and let users implement there own or pass trim as a prop which yo

[2018-06-25 16:39] ad1992 commented on #361
@con322 leading and trailing spaces will be trimmed, i didn't get your use case here. why do you need it not to be trimmed, can you explain?

[2018-06-27 08:34] con322 commented on #361
@ad1992 thanks for the quick reply. I am setting the input value therefore need to change the state using the onChange function, within the onChange function i set the state of inputValue which is passed to react-tag-input also within that function I have custom validation (validation doesnt do anything fancy other than display a message somewhere outside of the react-tag-input component), because

[2018-06-28 17:17] greenkeeper[bot] opened #364 "An in-range update of webpack is breaking the build 🚨"
## Version **4.13.0** of **webpack** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/prakhar1989/react-tags/compare/master...prakhar1989:greenkeeper%2Fwebpack-4.13.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/webpack/web

[2018-06-29 02:06] xubinzheng opened #365 "Conflict with Redux 4.0 since react-dnd depends on Redux 3.7"
Found issue within Redux 4.0, since the `react-dnd` in `package.json` has version locked down to `3.0.2`, which only supports Redux 3.X.

maybe update the version of react-dnd in `package.json` to latest `5.0.5`

"dependencies": {
    "core-js": "2.5.5",
    "lodash": "4.17.5",
    "prop-types": "15.6.1",
    "react": "16.4.1",
    "react-dnd": "3.0.2",
    "react-dnd-html5-backend": "3.0.2",

[2018-07-01 12:49] ad1992 commented on #361
@con322 I am not sure If I got you right. I understood that spaces are trimmed before your callback is hit. But can you give an example of why the spaces are needed?

[2018-07-05 08:12] con322 commented on #361
@ad1992 because validation is done onChange therefore after every key press so if a users puts a space it's then trimmed before i can change the state.

[2018-07-05 16:32] ad1992 commented on #361
@con322 we trim the data only when the keys which are delimiters are pressed. So you can pass only enter key as a delimiter and use `handleAddition` callback. does that make sense ?

[2018-07-09 14:59] #129 closed

[2018-07-11 17:56] obiwankenoobi opened #370 "cant make the styling work"
Hey! first of all, great lib! thanks for that,

I must be doing something wrong but I couldnt understand the docs and I wasnt able to get the styling work for me. I tried to copy the example css you provided to a new file, then imported it to my component `import './tags.css` and tried it out. Still my tads component has this unstyled look like here #307 but as I see he was able to fix it by copyi

[2018-07-11 18:07] obiwankenoobi commented on #370
sorry totally my bad. I passed the `classNames` component!

[2018-07-11 18:07] #370 closed

[2018-07-16 12:15] richsell86 commented on #361
@ad1992 I am also having the same issue and I believe it to be a bug.

[2018-07-17 19:50] episodeyang opened #372 "doesn't seem to work with styled-components"
Maybe because this component doesn't support inline styling?

[code]

[2018-07-20 08:37] richsell86 commented on #361
@ad1992 Any news on this?

[2018-07-21 07:36] ad1992 commented on #372
@episodeyang thank you for the suggestion to use style-components. I am a little buzy so might not be able to pick this up immediately but will try to push soon for sure.

[2018-07-21 17:58] episodeyang commented on #372
Thanks!

On Sat, Jul 21, 2018 at 12:36 AM Aakansha Doshi <notifications@github.com>
wrote:

[2018-07-24 09:35] richsell86 commented on #361
@add1992 I've recreated this issue. It's here https://stackblitz.com/edit/react-tag-input-953xaw

It seems to me that this is a really simple fix, simply don't trim the text and send it as is. It's not like it's any of your code that is dependent on the text being trimmed, it's only consumers of the component who would subscribe to the event. Why not leave it up to them to trim the input if needed

[2018-07-24 13:01] Razboi commented on #59
This worked for me. Allows the user to type in but prevents the addition and input clearing.
[code]

[2018-07-24 13:18] imjay009 opened #375 "cannot edit the tags?"
Please add an inbuilt functionality to edit the tags like Google provides in Gmail.

[2018-07-25 14:09] ad1992 commented on #375
@imjay009 I am little busy hence not getting time to build this. This is one of the tasks in our `TODO list`. Would be happy to recieve a pr on this.

[2018-07-25 14:22] ad1992 commented on #361
@richsell86 @con322 got it. We shouldn't trim the for a controlled component. I will push the fix for this.

[2018-07-30 09:32] budaaaa opened #378 "maxLength propType requires string,"

[2018-07-30 09:45] budaaaa opened #379 "maxLength propType requires string,"
Hello
Loving react-tags :)

While implementing the library i noticed that maxLength requires a number in the docs but in **ReactTags.js** a string is required.

PS: Created a PR.

[2018-07-30 09:47] #378 closed

[2018-08-01 18:19] jaysb29 opened #382 "Getting error while rendering input tag"
I am getting this error everytime I try to render the input
TypeError: Cannot read property 'tagInput' of undefined
ReactTags.render
webpack-internal:///./node_modules/react-tag-input/dist-modules/ReactTags.js:381:44
eval

[2018-08-01 20:55] budaaaa commented on #379
PR Accepted thanks :)
[#140](https://github.com/uracreative/identihub/pull/140)

[2018-08-01 20:55] #379 closed

[2018-08-01 20:58] budaaaa commented on #379
PR Accepted THANKS :)

[#380](https://github.com/prakhar1989/react-tags/pull/380)

[2018-08-02 15:39] greenkeeper[bot] opened #384 "An in-range update of webpack is breaking the build 🚨"
## Version **4.16.4** of **webpack** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/prakhar1989/react-tags/compare/master...prakhar1989:greenkeeper%2Fwebpack-4.16.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/webpack/web

[2018-08-06 06:08] Abisar opened #385 "Unusual size of the package"
For what the this library does it seems like the import size is too large. Is it intended?

![image](https://user-images.githubusercontent.com/18389149/43699585-997db776-9964-11e8-96ce-a80522855bce.png)

[2018-08-06 08:01] ShrawanBK opened #386 "TypeError: this.state.classNames is undefined"
I got this issue while trying to use react-tags.

[2018-08-06 16:45] rahul818 opened #387 "How to send tags to server? please help"

[2018-08-07 16:07] tricepa commented on #382
any luck with this?

[2018-08-07 16:17] #361 closed

[2018-08-07 16:29] ad1992 commented on #361
this has been fixed @richsell86 @con322 . Thanks for reporting.

[2018-08-08 09:02] Suraj151 opened #388 "Couldn't find preset "stage-0" relative to directory"
[code]
i just installed package using npm and trying example build but it throws above error in build

[2018-08-08 18:57] ad1992 commented on #388
can you share [stackblitz link](https://stackblitz.com/edit/react-tag-input-1nelrc) for the above issue ?

[2018-08-08 18:59] ad1992 commented on #386
need more info on this. please share the [stackblitz link](https://stackblitz.com/edit/react-tag-input-1nelrc)

[2018-08-08 18:59] ad1992 commented on #382
please share  [stackblitz link](https://stackblitz.com/edit/react-tag-input-1nelrc) for this issue so i can look in to it.

[2018-08-09 07:01] ShrawanBK commented on #386
Hello,
I have a index.js file which is totally fine in its implementation. I
wanted to add something similar as mentioned in
https://stackblitz.com/edit/react-tag-input-1nelrc?file=index.js . I tried
to implement it, but do get an error saying this.state.classNames is not
defined. A small preview of the error is attached here with the mail !!
Thank you !!

[2018-08-09 08:55] #387 closed

[2018-08-09 11:27] Suraj151 commented on #388
i googled it and find solution [here](https://github.com/webpack/webpack/issues/2785)

**below solution works for me**

install stage-0 preset with npm
[code]
and add it to webpack
[code]

thank you..!

[2018-08-09 11:27] #388 closed

[2018-08-09 18:49] ad1992 commented on #386
@ShrawanBK I can't find the preview as mentioned above. Can you share your index.js file ?

[2018-08-11 00:31] Bibernull commented on #385
It's because of the libraries' dependencies.
You are probably using react@16.x, which would resolve to 16.4.2 at the moment,
while this project is using exactly react@16.4.1 .
So you end up with 2 react versions packaged in your bundle.

[code]

![image](https://user-images.githubusercontent.com/1374110/43986208-63604c0a-9d0e-11e8-882e-584787745217.png)

[2018-08-15 09:47] fdutey commented on #386
Same same here. Looks like the UNSAFE_componentWillMount is not being ran

[2018-08-21 13:41] soulclown commented on #386
@ShrawanBK @fdutey same problem here: as temporary solution i passed `classNames` as props.

`<ReactTags {...props} classNames={{tagInput:{}}} />`

Seems something is wrong on default prop for `classNames`. @ad1992 Let us know.

[2018-08-21 14:00] soulclown commented on #386
@ShrawanBK  @fdutey Same here. I solved pinning the version:
`"react-tag-input": "5.0.1"`
The question is: why in the last version classNames in state is null?

[2018-08-25 15:36] DevFlex commented on #375
@ad1992 if no one has taken on this issue yet I would like to help out.

[2018-08-25 16:10] ad1992 commented on #375
@DevFlex please go ahead 👍

[2018-08-26 07:14] greenkeeper[bot] opened #393 "An in-range update of webpack-dev-server is breaking the build 🚨"
## Version **3.1.6** of **webpack-dev-server** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/prakhar1989/react-tags/compare/master...prakhar1989:greenkeeper%2Fwebpack-dev-server-3.1.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://gi

[2018-08-29 09:03] Fahdshehzad commented on #258
+1

[2018-08-29 17:52] daninfpj opened #395 "Add autoCapitalize prop"
Similar to autofocus, placeholder and maxLength that are passed to the input field, it would be nice to have an autoCapitalize prop (and maybe some other input props?).

[2018-08-31 18:57] ad1992 commented on #395
IMO auto capitalize is something which should be handled by the parent component itself and you can set the state after capitalizing and pass it to react tags.

[2018-08-31 19:05] ad1992 commented on #386
@ShrawanBK @fdutey @soulclown it works when I try with classNames.Would be great if someone can share the [stackblitz link](https://stackblitz.com/edit/react-tag-input-1nelrc) so I can look into it.

[2018-08-31 21:37] daninfpj commented on #395
I meant it more as a way to control the input methods on the field, specifically to disable autocapitalize on mobile devices’ software keyboards, more than to do some processing on the input which can be done later as you suggest.

In general I think you should be able to control all valid properties for the input field.

[2018-09-04 06:13] YasiruDev opened #399 "Input validation"
How can i add validation while text entering? i want to allow only numbers.

[2018-09-05 17:51] ad1992 commented on #395
I get your point but I am not very sure if we should add autocapitalize prop, @prakhar1989 what do you think ?

[2018-09-05 17:55] ad1992 commented on #399
@YasiruDev did you try the prop `handleInputChange` ?

[2018-09-05 17:56] #385 closed

[2018-09-05 17:56] #384 closed

[2018-09-05 17:56] #393 closed

[2018-09-05 18:00] ad1992 commented on #375
@DevFlex are you picking this up ?

[2018-09-05 18:06] DevFlex commented on #375
yes if no one else wants it I would love to work on it. I just haven't really had a chance to because I got side tracked so hopefully this weekend I can work on it

[2018-09-05 18:06] #269 closed

[2018-09-05 18:06] #382 closed

[2018-09-05 18:09] ad1992 commented on #233
This will be live once https://github.com/prakhar1989/react-tags/pull/346 is merged

[2018-09-05 18:33] ad1992 commented on #375
@DevFlex looking forward to your pr :) Please go ahead. Let me know if you need any help.

[2018-09-06 03:58] YasiruDev commented on #399
Yes its worked . Thank you.
[code]

[2018-09-06 05:41] ad1992 commented on #399
awesome :)

[2018-09-06 05:41] #399 closed

[2018-09-06 20:56] greenkeeper[bot] opened #401 "An in-range update of webpack-dev-server is breaking the build 🚨"
## Version **3.1.8** of **webpack-dev-server** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/prakhar1989/react-tags/compare/master...prakhar1989:greenkeeper%2Fwebpack-dev-server-3.1.8">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://gi

[2018-09-07 03:25] ioterateam opened #402 "Cannot read property 'tagInput' of undefined"
I follow your installation and demo code, all is good until I run it on my computer, it's give me this error :
![image](https://user-images.githubusercontent.com/29442149/45196784-291f1780-b288-11e8-8637-40dab14b842a.png)

What should I do to fix this bug? Please help

[2018-09-09 23:06] DevFlex commented on #375
@ad1992 hey I got some work done on it tonight, but after I worked on it a little I started to question my approach a bit. I have just added some functionality to the handleTagClick function to set the focus on the input and change it's value to that of the tag clicked so it can be changed, but I am still thinking about the best way to update that specific tag's content say if they then choose to

[2018-09-10 13:53] ad1992 commented on #375
@DevFlex yes when user clicks on the tag to edit it should have all the functionalities which are there when user creates a tag. If you have started to work on it you can create a PR with (WIP) so I can have a look at it and we can discuss the approach then.

[2018-09-12 09:36] eliasmamo commented on #402
@ioterateam I have same issue, and in my case problem was in React version higher than 16.3 in which componentWillMount was deprecated. So because of that, classNames prop is not saved to state and when invocing this.state.classNames.tagsInput you get the error you get. Not sure how to solve that, only maybe forking....

[2018-09-13 08:26] ad1992 commented on #386
@ShrawanBK @soulclown @fdutey  which react version are you using ? Please make sure you use `16.3` so that ` UNSAFE_componentWillMount` is triggered

[2018-09-13 08:28] #401 closed

[2018-09-14 22:09] sbayegan commented on #402
I'm having the same problem. Upgrading react to the latest version doesn't fix it for me!

[2018-09-15 05:10] ad1992 commented on #402
@sbayegan can you share stackblitz link so I can have a look at your code

[2018-09-15 06:30] #258 closed

[2018-09-15 08:12] ad1992 commented on #375
@DevFlex any updates ?

[2018-09-15 08:13] #347 closed

[2018-09-15 11:35] ad1992 opened #405 "Integrate semantic release"
https://github.com/semantic-release/semantic-release

[2018-09-30 12:36] #188 closed

[2018-09-30 12:36] #191 closed

[2018-09-30 12:36] #108 closed

[2018-09-30 12:36] #144 closed

[2018-09-30 12:36] #247 closed

[2018-09-30 12:36] #242 closed

[2018-09-30 12:36] #307 closed

[2018-09-30 12:36] #309 closed

[2018-09-30 12:36] #241 closed

[2018-09-30 12:36] #325 closed

[2018-09-30 12:36] #332 closed

[2018-09-30 12:36] #365 closed

[2018-10-01 22:51] sendittokeith opened #410 "Drag n Drop error with React 16.5.2"
Upon drag, you get error:
invariant.js:42 Uncaught Error: Unable to find node on an unmounted component.

This can be replicated here by updating sample to the version of React listed above:
https://stackblitz.com/edit/react-tag-input-1nelrc?file=index.js

[2018-10-02 14:12] #405 closed

[2018-10-04 21:59] jinhwanee93 commented on #131
Just wanted to make sure if this is STILL an issue,
```Suggestions.js:58 Uncaught TypeError: input.replace is not a function```

using an array of objects to pass to the ```suggestions``` property does not seem to work, but as suggested here #184 it has to be an array of strings. How come to readme.md suggests the prior?

[2018-10-11 04:53] hashamkm commented on #410
I am also facing same issue

[2018-10-22 07:05] Louis-Chen commented on #51
@sebinsua could you get me a simple?

i try it but tags value was return undefined

[2018-10-22 13:58] alexsheppard11 opened #415 "Vulnerable React-dom v16.4.1"
Greenkeeper has updated _react-dom_ to 16.4.1:
https://github.com/prakhar1989/react-tags/commit/96b8b3f698e2620b7607a6e45c91c432767e492d#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

which has the following vulnerability:  https://reactjs.org/blog/2018/08/01/react-v-16-4-2.html

Updating to 16.4.2 is enough to resolve this security issue. There is PR #383 created by greenkeeper for this change too.

Can

[2018-10-24 17:09] ad1992 commented on #415
@AlexanderTserkovniy this has been fixed. thank you for reporting this.

[2018-10-24 17:09] #415 closed

[2018-10-26 16:28] wparrott-touchnet opened #417 "`tags` prop no longer has a default value"
It looks like the `tags` property is no longer optional. If this was a deliberate change, the docs should be updated. If not, the default prop should be added back to `ReactTags.js`. I don't have a huge preference either way, but ran into the issue when testing the component to see if it will work in a current project.

[Here is the commit](https://github.com/prakhar1989/react-tags/commit/b9851e85

[2018-10-27 20:14] ad1992 commented on #410
@hashamkm @sendittokeith this issue has been fixed.

[2018-10-27 20:14] #410 closed

[2018-10-28 10:45] imtanmoy opened #422 "Max Length property is not working on paste"
There is property to pass `maxLength`. But when pasting some text greater than `maxLength` it doesn't work. It would be great if pasted text is slice to `maxLength` size. Or may be there is some other way to do it. Please take a look.

[2018-10-29 09:03] ad1992 opened #427 "Should we have an option to add empty tags?"
I would like to know if we should allow an option to add empty tags?

Please feel free to give your feedback on this.

[2018-10-30 15:59] tjohnsonSpireDigital opened #428 "Tag validation - input cleared if invalid."
I added a simple email validation inside  handleAddition to prevent the tag being added to state and set the input's background color to red.  The only issue is the input is still cleared because _this.resetAndFocusInput() still gets called.  Is there a way to avoid this?

Thanks!

[2018-10-30 22:57] marras0914 commented on #51
how does input fit into this? I'm not sure I understand recompose, well enough to follow.

constructor(props) {
        super(props);

        this.state = {
            tags: [
                { id: "1", name: "ABC" },
                { id: "2", name: "XYZ" }
             ],
            suggestions: TREATMENTS
        };
    }

    handleChange: ({ input }) => param => input.onChange(param.value)

[2018-11-01 08:20] isaaclem opened #431 "Any plan to make it available for React Native?"
Hi guys thanks for this beautiful package. However I'm wondering if there is any plan to make it available to support React Native too?

[2018-11-01 11:35] ad1992 commented on #431
@isaaclem currently we don't have any such plan to support React Native. But will pick this up some time in future.

[2018-11-01 11:40] ad1992 commented on #428
@tjohnsonSpireDigital can you share your code ?

[2018-11-01 11:49] ad1992 commented on #198
@ajmas this feature has been pushed. I will release a version soon.

[2018-11-01 11:49] #198 closed

[2018-11-01 11:54] #417 closed

[2018-11-01 12:52] YasiruDev opened #432 "delimeters not support for some browsers"
const delimiters = [KeyCodes.comma];  // [188]
i have tested my app with some browsers (mobile browser,desktop browser).but it's not working with some browsers.
all tested browsers are updated and it's chrome browser

[2018-11-05 12:15] ad1992 commented on #432
can you specify which browser you mean its not working @YasiruDev ?

[2018-11-05 14:06] znarf opened #434 "Invalid scss import"
In the https://github.com/prakhar1989/react-tags/commit/063132cc09af9eff748b4e0eea12faf0188ea75b commit, there is now `import '../styles/react-tags.scss';`.

This is translated in the built version as `require('../styles/react-tags.scss');` which is invalid by default.

To work properly, looks like this is requiring a specific environment, such as a dedicated webpack loader. I would advise to remo

[2018-11-05 16:42] foladipo commented on #434
I am experiencing the same problem too. Attempts to import ReactTags fail with the error:
[code]

I'll probably install an older version pending when this issue is resolved.

[2018-11-05 16:46] tjohnsonSpireDigital commented on #428
Here is a quick and dirty implementation.  You will see that on adding an invalid email the input is cleared.  Thank you!

https://stackblitz.com/edit/react-tag-input-ymbi1j?file=ReactTag.js

[2018-11-06 03:58] YasiruDev commented on #432
some mobile browsers. Actually it's happen in Android web browsers.working fine in desktop browsers

[2018-11-11 19:28] #395 closed

[2018-11-19 08:38] #386 closed

[2018-11-21 13:28] #402 closed, assigned to nobody

[2018-11-21 18:59] ad1992 commented on #417
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input)
- [GitHub release](https://github.com/prakhar1989/react-tags/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-21 18:59] ad1992 commented on #422
:tada: This issue has been resolved in version 6.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input)
- [GitHub release](https://github.com/prakhar1989/react-tags/releases/tag/v6.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-21 19:54] tbarlow12 opened #437 "Add color to tags"
For a project we're working on, there is a color associated with each tag. Is there currently an option for setting color? Any potential workarounds?

[2018-11-24 14:37] ad1992 commented on #437
@tbarlow12 you can pass text of the tags as html element. Does that help ?

[2018-11-26 11:21] pilarArr commented on #434
I also have this problem

[2018-11-26 19:44] tbarlow12 commented on #437
@ad1992 what would that look like on adding tags? for example, if I have:

[2018-11-26 19:47] tbarlow12 commented on #437
Sorry, I realize that's a loaded question without much context. We're just wrapping this in our own component with a lot of sample code provided:

[2018-11-27 17:18] ad1992 commented on #437
@tbarlow12 what i meant is you can pass text of the tag as an html element example `<span className ="custom-color">Hello</span>` something like this which you style as per your need and it.

[2018-11-27 17:36] tbarlow12 commented on #437
@ad1992 that makes sense. Thank you!

[2018-11-27 18:36] ad1992 commented on #437
awesome 👍

[2018-11-27 18:36] #437 closed

[2018-11-28 15:36] Bastorx opened #439 "handleAddition provide an event"
When I would like to add a tag and if I press the enter key, it will submit my form just after the tag. I would like to use e.stopPropagation(), but the event isn't provided.

[2018-12-01 08:01] #223 closed

[2018-12-07 08:42] Rafi993 commented on #197
@prakhar1989  why not merge this project with https://github.com/olahol/react-tagsinput

[2018-12-11 13:12] SirPhemmiey commented on #185
Any solution to this?

[2018-12-13 00:33] luciomcamargo opened #447 "Cant display unique tags when mapping JSX."
Hi, I'm having trouble when I attempt to render the component when mapping. Each mapped value renders a unique tag, but empty tags are being displayed on all mapped values. Any idea if there's a way to solve this? Here is a codesandbox to help clarify what I mean.
[https://codesandbox.io/s/github/luciomcamargo/JSON_UI](url)

Try adding tags. They render on all the mapped values. Also when deleting

[2019-01-03 11:03] #259 closed

[2019-01-04 12:53] #427 closed

[2019-01-08 14:23] noobling commented on #439
use the `onSubmit` attribute in your form element to prevent your from submitting e.g. execute a function like
[code]

[2019-01-11 09:37] #244 closed

[2019-01-14 16:10] Iuriy-Budnikov commented on #434
Any updates?

[2019-01-14 17:24] sabinbogati1 opened #460 "Displaying Tags inside input field"
How do I display tags inside input field like this?
![screenshot from 2019-01-14 23-08-00](https://user-images.githubusercontent.com/15702638/51129041-7e2ff300-1851-11e9-9c97-888de1e35e2f.png)

[2019-01-16 14:00] andresmechali commented on #460
This question would be more for StackOverflow.

The tags will not go inside the input field, but you can make it look as if they were. Using classNames prop, you can add custom styles to every part of your autosuggest component. As stated in the documentation, it would be something like this:

    classNames={{
      tags: 'tagsClass',
      tagInput: 'tagInputClass',
      tagInputField: 'tagInpu

[2019-01-16 19:16] malcolmvr opened #461 "Can't set browser autocomplete to "off""
The browser's built-in autocomplete functionality is interfering. I need to be able to add the attribute `autocomplete="off"` to the `input`. I haven't seen any way to do this in the documentation and the code doesn't look like a method is provided. Could this please be added?

[2019-01-18 14:21] Ravim-addweb commented on #434
Any updates yet guys?

[2019-01-19 00:54] #428 closed

[2019-01-19 15:12] ad1992 commented on #434
Sorry I was a little busy. I am working on this and the fix for this will be live soon.

[2019-01-20 08:41] #434 closed

[2019-01-20 08:48] ad1992 commented on #434
:tada: This issue has been resolved in version 6.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input)
- [GitHub release](https://github.com/prakhar1989/react-tags/releases/tag/v6.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-20 08:48] ad1992 commented on #259
:tada: This issue has been resolved in version 6.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input)
- [GitHub release](https://github.com/prakhar1989/react-tags/releases/tag/v6.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-20 08:48] ad1992 commented on #223
:tada: This issue has been resolved in version 6.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input)
- [GitHub release](https://github.com/prakhar1989/react-tags/releases/tag/v6.2.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-20 15:50] #197 closed

[2019-01-22 04:24] #432 closed, assigned to nobody

[2019-01-22 16:03] ronmara opened #467 "Max tags"
How can I set Max tags and then make the input disabled

[2019-01-23 15:50] melenaos opened #469 "Pass event on handleDelete and on handleAdd"
I want to use a common function for handleDelete and handleAdd and the way I am doing now for other inputs is by using a data-name to get the state member i need to update.

<input data-name="example1" value={this.state.example1} onChange="onChange" />

That way I can get the data-name using the event from the onChange function

onchange(event){const name= event.target.getAttribute('data-name')...

[2019-01-25 07:55] melenaos opened #471 "Make crossStr from RemoveComponent parameterisable"
I want to use materializecss to style the tags as chips and I would love to been able to parameterize the 'x' to 'close' so it could be render as an material icon rather than normal character.

[2019-01-25 08:20] #471 closed

[2019-01-25 16:55] dark-swordsman opened #472 "Element type is invalid: expected a string..."
Hi there,

I am getting, "Uncaught (in promise) Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object." when I try to use the ReactTags element.

We are currently running React v14 on our project and haven't had the chance to upgrade to v16. It seems to be some sort of issue with it not being at least React v16.3.

[2019-01-26 07:08] ad1992 commented on #467
@ronmara  set the `readOnly` prop to true after max tags achieved.

[2019-01-26 07:14] ad1992 commented on #469
@melenaos event is being not passed in  prop`handleAddition`.
would you like to give pr ?

[2019-01-26 17:10] ad1992 commented on #197
:tada: This issue has been resolved in version 6.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input)
- [GitHub release](https://github.com/prakhar1989/react-tags/releases/tag/v6.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-01-26 18:07] melenaos commented on #469
Pr for pull request? I haven't made one yet but it's an easy task to start with.

So I will pass as second parameter the click event?

This will bring the needed information to the consumer of the component.

I will work on that tomorrow.

?p??t?ste t? Outlook ??a Android<https://aka.ms/ghei36>

________________________________
From: Aakansha Doshi <notifications@github.com>
Sent: Saturday, Januar

[2019-01-26 21:17] ad1992 commented on #472
@dark-swordsman minimum version needed for the latest release in 16.3 since features like staticDerivedStateFromProps wont be available otherwise. in case you are using react 14 then you will have to use older version of this library

[2019-01-26 21:48] ad1992 commented on #469
@melenaos yes this will be quick fix. you can just pass the `event` to handleAddition and it should be done.

[2019-01-27 06:55] melenaos commented on #469
I did the pr but that didn’t solve my problem.

My problem was that I wanted a way to distinguish an instance of ReactTag from another instance so I can use common handleAddition and handleDelete functions.

When I have two react tags I need to create two couples of functions, one for each tag.

My point with the event was that I could read a data-attribute from the `<ReactTag />` and that way I c

[2019-01-27 13:41] ad1992 commented on #469
@melenaos why not bind the common function and pass a third param which tells you from which component it was triggered

[2019-01-28 10:26] DimaBur opened #475 "Warning: React does not recognize the `removeComponent`"
When I'm adding custom removeComponent as a prop, I receive
```Warning: React does not recognize the `removeComponent` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `removecomponent` instead. If you accidentally passed it from a parent component, remove it from the DOM element.```
Code the same as in the example here https://g

[2019-01-28 20:52] Falieson opened #476 "Example broken"
Hello! i use this example when i'm giving technical interviews (the interview is to replicate the tagger component) but it appears that over the weekend an update broke the example!

![image](https://user-images.githubusercontent.com/1538572/51865553-76655980-22fb-11e9-9edd-588a2faf9b45.png)

[2019-01-30 10:47] andresmechali opened #479 "Adding Sections to suggestions"
Hi! For my current project I need to display the suggestions split into different sections, with their corresponding title. I would gladly start working on it and send a PR, if you agree.

[2019-02-01 13:08] ad1992 commented on #479
@andresmechali i didn't get you. can you explain it a bit more ?

[2019-02-01 13:13] ad1992 commented on #476
@Falieson `react, react-dnd,react-dnd-html5-backend,react-dom` should be installed as peer dependencies. please make sure you install it.

[2019-02-01 14:51] neerajdwiv opened #480 "Not working WithOutContext as ReactTags."
package.json
		"react": "^16.4.0",
		"react-dnd": "^7.0.2",
		"react-dnd-html5-backend": "^7.0.2",
		"react-tag-input": "^6.1.0",

import { WithContext as ReactTags } from 'react-tag-input'

ReactTags is working as intended when using WithContext.

import { WithOutContext as ReactTags } from 'react-tag-input'

ReactTags when using WithOutContext is not showing tags but input for tag only.
< DragDr

[2019-02-01 15:13] mateoSerna commented on #480
I also have this problem. Same dependencies but with "react": "^16.6.3"

[2019-02-04 20:07] Falieson commented on #476
@ad1992  Sorry I wasn't clear enough, when you go to http://prakhar1989.github.io/react-tags/example/ its broken

[2019-02-05 13:59] andresmechali commented on #479
Yes sure! When I type and get suggestions, I would like to have them divided according to what type of suggestions they are. So, for example, if I search for 'ap', I would like to have a section title called 'Fruits' under which I can see 'APple', 'APricot', etc., and then another Section might be titled 'Countries' and would have 'jAPan' and 'singAPore' .

[2019-02-05 23:04] dmossie opened #484 "[Issue] Filtering and updating suggestions"
I want to show all suggestions when I click the input field. So I set minQueryLength to 0.

However I want to only show the suggestions that are not included in my current tags. I changed my suggestions prop, but that didn't update react-tags.

I noticed I could use handleFilterSuggestions for this, however it is not called when the input field is first clicked, and is only called on keystroke.

H

[2019-02-06 23:49] ZebGirouard opened #486 "`autocomplete` and `addTag` logic broken by default"
At the moment, `ReactTags.js`, on line 466 has this conditional:

[code]

If you look closely, you'll notice a typo...at least I think it's a typo, because it causes tag suggestion selection to ALWAYS select the first element in a list of suggestions.

`&& possibleMatches.length` <== that should (I'm like 99% sure) say `&& possibleMatches.length === 1`

My workaround for now is to set the prop `au

[2019-02-08 14:37] LukaszNowakPL opened #488 "[Issue] Suggestion refresh after handleAddition execution"
**Issue**
Suggestions list does not refresh and contains suggestion already taken.

**Steps to reproduce**
- Make suggestion panel open (in my case after clicking on input form - minQueryLength={0}
- Choose one of suggestions provided
- Make suggestions panel open again

**My code**
[code]

**Explanation**
My `handleAddClick` method modifies `tags` and `suggestions` so first one contains taken ele

[2019-02-10 15:38] x5engine commented on #480
this is shit! wtf did happen to this package???

[2019-02-11 13:23] Akitsu opened #490 "How can I check if someone clicked between the tags?"
Is there a way to check if you clicked between the tags? I want to move the input field between the tags based on the where you have clicked.

I’m trying to create simple and easy calculations in my application. The goal is to have ‘zero-fault’ calculations with variables and operators.

An example would be: [Var1] [+] [Var2] [-] [Var3]

All variables and operators will become tags. Everything is

[2019-02-11 19:31] ad1992 commented on #480
@neerajdwiv can you share the stackblitz link with your code so I can look into it.

[2019-02-11 19:36] ad1992 commented on #476
@Falieson pls refer to https://stackblitz.com/edit/react-tag-input-1nelrc for the example. Will be updating the link in the description as well

[2019-02-12 17:13] Falieson commented on #476
Sweet - thanks

[2019-02-12 17:13] #476 closed

[2019-02-13 11:43] atiqueansari1987 commented on #297
can I take this?

[2019-02-13 11:47] atiqueansari1987 commented on #351
I would like to pick it but can you tell me exactly what changes are needed here?

[2019-02-13 12:31] tabrath commented on #297
@atiqueansari1987 yes!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-13 14:05] atiqueansari1987 commented on #297
@tabrath @ad1992 I am not able to run the project locally. Running npm start is starting the webpack dev server but accessing http://localhost:8090/ is listing directory. Can you help me with this?

[2019-02-14 16:20] ad1992 commented on #351
@morozp @atiqueansari1987 we have added `className` prop which will help styling different tags.

[2019-02-14 16:20] #351 closed

[2019-02-14 21:25] x5engine commented on #480
what's the ETA of this issue??

[2019-02-14 21:34] mateoSerna commented on #480
@neerajdwiv Have you resolved the issue? I just reinstall the dependencies and everything worked as expected.

[2019-02-14 22:08] x5engine commented on #480
@mateoSerna I moved to react tags autocomplete and it works fine

[2019-02-14 22:32] MarcoAntonioAntunes commented on #480
Having the same issue. WithOutContext isn't working as expected.

[2019-02-14 23:59] ad1992 commented on #480
react, react-dnd, react-dom and react-dnd-html5-backend have been moved to peer dependencies so please make sure you install the peer dependencies correctly.
It works as expected https://stackblitz.com/edit/react-tag-input-pg2ztz?file=App.js

[2019-02-15 00:04] ZebGirouard commented on #486
Hope that PR is all you need...full project search did not show me `possibleMatches.length` anywhere else, but with no feedback, I had to guess that "my fix" is "the fix".

[2019-02-15 00:13] ad1992 commented on #480
@x5engine @neerajdwiv @mateoSerna @MarcoAntonioAntunes  there is no issue with the package.
You can check the link https://stackblitz.com/edit/react-tag-input-pg2ztz?file=App.js
please make sure you install the peer dependencies correctly.

[2019-02-15 13:48] mateoSerna commented on #480
@ad1992 you're right. It's working now, Thank you!

[2019-02-15 14:41] gabrieldonadel opened #494 "Using two react-tags components on same page"
I'm using these react-tags as an input filter for a table, so I would need to use the same component many times on a single page, is that possible? I've tried creating a two dimension array as tag state but didn't work quite well.

[2019-02-15 18:53] ad1992 commented on #480
closing this since all works fine 👍

[2019-02-15 18:53] #480 closed

[2019-02-16 13:56] ad1992 commented on #486
@ZebGirouard sorry for the late reply and thanks for the PR. I agree with you that first element should only be selected when only one match is found but I could not understand
`autocomplete causes the first item in a list to be selected, whether I click on the second, third, fourth, etc item.`
Do you mean when you pass `autocomplete` as true and while typing if there are multiple matches and you

[2019-02-17 21:28] ronmara commented on #233
I’m trying to implement it too now, is there a way already?

[2019-02-17 22:55] x5engine opened #497 "[BUG] Not working WithOutContext as ReactTags!"
Hello guys,
I have found an issue with this:

[code]

Used with
[code]

more errors related to this

[code]

Thank you

[2019-02-17 23:09] x5engine commented on #497
If I use this like WithOutContext
`import { WithOutContext as ReactTags } from 'react-tag-input';`

I bypass this error but get another one :

[code]

Seriously is there no one testing this before merging to master?

thanks

[2019-02-17 23:20] x5engine commented on #497
I've tried to use this with the suggested version
[code]
with no luck same last error!!

[2019-02-17 23:32] x5engine commented on #497
Moved to https://github.com/olahol/react-tagsinput

Meanwhile, this gets fixed or something, this was a beautiful package to use in react but you've made so complex and unusable.

[2019-02-18 16:15] ad1992 commented on #497
@x5engine as said [https://github.com/prakhar1989/react-tags/issues/480](here), there is no issue with the package and I also had shared

[https://stackblitz.com/edit/react-tag-input-pg2ztz?file=App.js](stackblitz) link where the library is used withoutContext.

Can you share the stackblitz link for the code which is throwing the error so i can look into it.

[2019-02-19 18:17] ad1992 commented on #494
@gabrieldonadel i didn't get you. can you explain more ? or may share a code snippet ?

[2019-02-19 18:25] ad1992 commented on #479
@andresmechali we have added `renderSuggestion` prop where you can render your own custom suggestions. can you check if you can use this prop to render with sections https://github.com/prakhar1989/react-tags#renderSuggestion

[2019-02-19 18:37] ad1992 opened #500 "increase test coverage"
Add missing tests for this library

[2019-02-23 08:52] ad1992 commented on #490
@Akitsu I didn't what you mean by `clicking between the tags` .
Do you mean when you have `[Var1] [+] [Var2] [-] [Var3]` you click near [var3] and add a operator ?
Could you explain more if i got you wrong ?

[2019-02-23 09:08] ad1992 commented on #488
@LukaszNowakPL I agree with you we should refresh the suggestions. I think We should refresh only when `allowUnique` prop is false. What are your thoughts ?

[2019-02-25 05:11] daothithientamm opened #502 "Insert Html <label> befront __tagInputField"
i want to insert Html <label>Create new tag: </label>  between ReactTags__tagInputField and ReactTags__tag . Can you help me custom this with some example. Thks so much
label:"help wanted"

[2019-02-26 18:41] ad1992 commented on #502
@daothithientamm you can pass html in text attribute of the tag, does that help ?

[2019-02-26 22:31] dmossie commented on #484
Haven't tested it, but I'm thinking L197 of ReactTags needs something like this:

const suggestions = this.state.suggestions;
if (this.props.suggestions && this.props.minQueryLength && this.props.minQueryLength === 0){
	suggestions = this.filteredSuggestions(query, this.props.suggestions);
}
this.setState({
	isFocused: true,
	suggestions: suggestions
});

[2019-02-27 03:40] daothithientamm commented on #502
Thanks for your response. Could you give me a example for that ?  Please.
I have attached the file described in this mail.
I have learned about React for a month,  I look forward to receiving your
help. Thank you so much.

Vào Th 4, 27 thg 2, 2019 vào lúc 01:41 Aakansha Doshi <
notifications@github.com> đã viết:

[2019-02-27 03:44] daothithientamm commented on #502
`` <ReactTags
                            allowDragDrop={false}
                            inline={false}
                            tags={tags}
                            suggestions={suggestions}
                            delimiters={delimiters}
                            handleDelete={this.handleDelete}
                            handleAddition={this.handleAddition}

[2019-02-27 07:06] saurabh-sharma commented on #118
Hey, @prakhar1989 I can confirm this is not working on mobile devices with both default/custom delimiters.
Tested on iPhone X and One Plus 3T

![ezgif-1-2de4279f3747](https://user-images.githubusercontent.com/3684584/53471927-522ca200-3a8c-11e9-9827-015bf307eeee.gif)
![ezgif-1-e53bd0ec85eb](https://user-images.githubusercontent.com/3684584/53471928-52c53880-3a8c-11e9-8e4f-672d2f05c0ab.gif)

[2019-03-02 08:01] #297 closed

[2019-03-02 22:59] ad1992 commented on #502
@daothithientamm couldn't find the file which you referred above. You can just pass html in text attribute example `{id: 1, 'text': '<span>hello</span>'}`

[2019-03-02 23:02] ad1992 commented on #118
@saurabh-sharma would you like to give PR for the fix ?

[2019-03-02 23:05] ad1992 commented on #484
@dmossie seems like the issue is similar to https://github.com/prakhar1989/react-tags/issues/488 ?

[2019-03-04 02:29] daothithientamm commented on #502
<ReactTags
                            allowDragDrop={false}
                            inline={false}
                            tags={tags}
                            suggestions={suggestions}
                            delimiters={delimiters}
                            handleDelete={this.handleDelete}
                            handleAddition={this.handleAddition}

[2019-03-04 13:26] dcsaszar opened #508 "Changing the suggestions prop doesn't trigger an update"
Updating the `suggestions` prop (asynchronously) doesn't re-render the suggestions accordingly.

Demo: https://react-tag-input-ncvrjj.stackblitz.io
Here we change the `suggestions` prop 500ms after each input.

### Expected
When changing the `suggestions` prop the Suggestions component rerenders accordingly.

### Actual
The Suggestions component is rerendered eventually, but with an outdated state

[2019-03-06 07:42] Gibr commented on #488
Maybe it would be better to filter out somehow selected tags from suggestion list during `filteredSuggestions` whithout modifyng suggestions list?

[2019-03-06 16:26] #352 closed

[2019-03-06 23:03] tbarlow12 opened #510 "Programmatically focus() and blur() input text box"
Is there a way to explicitly focus or blur the input text box? I've extended this component to do a few other operations (onTagClick handlers and things of that nature), but the text box focuses and blurs at the wrong times. It would be great if there were a publicly exposed function to do something like `this.textInput.blur()`

[2019-03-09 05:48] ad1992 commented on #297
:tada: This issue has been resolved in version 6.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input)
- [GitHub release](https://github.com/prakhar1989/react-tags/releases/tag/v6.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-09 05:48] ad1992 commented on #352
:tada: This issue has been resolved in version 6.4.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input)
- [GitHub release](https://github.com/prakhar1989/react-tags/releases/tag/v6.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-03-09 05:54] #497 closed

[2019-03-11 20:35] dmossie commented on #484
@ad1992 Yeah it looks like the issues we are having are coming from the same problem with the library.

[2019-03-11 20:51] dmossie commented on #194
@ad1992 Was this ever implemented? This would be a great feature to have

[2019-03-14 11:07] ktaras opened #516 "warning react-tag-input > prop-types@15.7.0: Contains template literal syntax; update to v15.7.1"
I have
[code]
in my project and when I run `yarn install` I've got such warning:
[code]

[2019-03-14 16:25] ad1992 commented on #516
@ktaras  thanks for reporting. I will look into this.

[2019-03-14 16:28] ad1992 commented on #194
@dmossie there was a PR but the pr was not merged as some fixes were left in it.  Here is the PR https://github.com/prakhar1989/react-tags/pull/296

[2019-03-15 17:19] prjctnxt commented on #428
I have this problem too when trying to validate tags that start with or contain blacklisted characters.

Ideally returning false from .handleAddition() would prevent the input from being cleared, or better yet a dedicated .validateAddition() that returns a boolean.

[2019-03-16 15:17] #439 closed

[2019-03-22 01:30] Johnston1343 commented on #508
Having the same issue, reverting to 6.0.2 fixed it for now.

[2019-03-24 14:36] #460 closed

[2019-03-26 01:27] i-shubhamprakash opened #520 "Comma delimiter key not working as expected on the chrome browser"
**Expected behavior:**
The user should be able to enter tags when the comma delimiter key is pressed in chrome browser.

**Current Behavior:**
1) We can enter tags with ENTER key as the delimiter but not with COMMA key on chrome browser. The comma key instead of working as delimiter is getting input as a string in the tag.
2) It is working as expected on firefox browser. The problem seems to occur

[2019-03-26 10:17] davemackintosh commented on #508
Also having this issue with the latest available on npm

[2019-03-28 09:21] PushpakGit opened #522 "IE11 The above error occurred in the <ReactTags> component: in ReactTags (created by DragDropContext(ReactTags)) in DragDropContext(ReactTags)"
I am facing above issue on **IE11** it is working on chrome/firefox
Following is the issue

"react-tag-input": "^5.0.2"

<div>
                          <ReactTags tags={[]}
                              suggestions={suggestions}
                              handleDelete={this.handleDelete}
                              handleAddition={this.handleAddition}
                              handleDrag

[2019-03-28 11:51] SergeyShablenko commented on #410
Not fixed, I`m facing this issue

React: 16.8.6
React-tag-input: 6.4.0
react-dnd: 7.4.3,
react-dnd-html5-backend: 7.4.0,

[2019-03-28 14:42] Gibr commented on #520
I tried to reproduce this bug, but i could not.
On chrome and firefox, ENTER and COMMA keys are working equally ([https://stackblitz.com/edit/react-tag-input-1nelrc](url)).
Are you sure about key kode produced by your comma key? Is it 188? You can check it here : [https://keycode.info/](url)

[2019-03-31 03:57] i-shubhamprakash commented on #520
Yes, It works inside the virtual browser using the link you gave but once you click on "Open in new windows Live" button on top right, the same problem occurs I chrome. Enter key is behaving fine but not the comma key. Please check and confirm. Thankyou

[2019-04-03 07:51] #467 closed

[2019-04-03 23:00] #472 closed

[2019-04-04 14:21] #469 closed

[2019-04-05 11:25] #475 closed

[2019-04-18 14:22] atiqueansari1987 commented on #194
@ad1992 I will try and submit PR this weekend.

[2019-04-19 06:53] quanttn-0861 opened #524 "How I can check email is valid ?"

[2019-04-19 09:38] quanttn-0861 commented on #524
Hi there, I don't know how to check email is valid when entering the tags? Could you help me? Thanks

[2019-04-20 02:02] ZebGirouard commented on #486
What a bummer.  I really hope this issue was fixed somewhere else.  To be completely frank, I am a little disappointed that this issue remains unfixed because I was unsure how to add a test case to a project I've never touched before.  I think it cannot be stressed enough how many people fall off open source projects before they get a chance to really help. Not sure why someone else couldn't have

[2019-04-22 13:18] atiqueansari1987 commented on #524
You can use your email validation logic in handleAddition function and if passes you can add it to tag list.

[code]

[2019-04-25 03:37] quanttn-0861 commented on #524
Wow, it's exactly what I was looking for. Thank you so much :D

[2019-04-25 03:38] #524 closed

[2019-04-27 19:50] #494 closed

[2019-04-27 19:50] #479 closed

[2019-05-01 01:19] alexyapp opened #527 "Suggestion: allowUnique callback?"
I was trying to look for a way for when the package encounters a duplicate tag when allowUnique is set to display a toast message notifying the user that the tag is already added but there seems to be none or I may have overlooked it. So perhaps this would be a good feature to add? If so please point me to where I can make a contribution as I would very much love to help out (I am pretty new to th

[2019-05-01 10:38] #490 closed

[2019-05-01 19:24] ad1992 commented on #527
how about showing inline error message instead of toast ?

[2019-05-01 19:33] ad1992 commented on #522
@PushpakGit does this happen in latest version as well ?

[2019-05-04 19:21] saurabh-sharma commented on #118
@ad1992 Will give it a shot!

[2019-05-10 07:54] #502 closed

[2019-05-10 08:35] helgefredheim opened #530 "Better accessibility"
Great component, however it is not accessible, thus we cannot use it. Would love to contribute, is this of interest?

[2019-05-11 11:26] ad1992 commented on #530
@helgefredheim yes we want to make it accessible Would be great if you can contribute !!

[2019-05-12 23:58] #510 closed

[2019-05-17 21:49] #484 closed

[2019-05-27 08:18] apepper commented on #508
At least three different people expressed, that they had this issue and that they had to downgrade the version to avoid this bug. So this is definitely not stale!

[2019-06-06 04:22] #520 closed

[2019-06-07 09:50] stephane-r opened #535 "Show suggestions on first input focus"
Hi @prakhar1989 :)

Is it possible to show suggestions submenu on first input focus ? I've try with `minQueryLength={0}` props, but no result.

Thank you !

[2019-06-20 03:06] Kanosakl opened #538 "Add "Clear tag" button"
I have find that this tag input system is useful for manipulating 1 tag at a time for filter/sorting purposes, but I find that it lacks a "clear tag" feature to remove all the tag.

[2019-06-24 17:02] davemackintosh commented on #508
Bump. I don't want this bug getting closed by the Stale Bot.

[2019-06-26 03:50] #486 closed

[2019-07-07 20:16] #522 closed

[2019-07-07 20:16] #527 closed

[2019-07-17 12:00] greenkeeper[bot] opened #542 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.35.3` to `4.36.0`.

🚨 [View failing branch](https://github.com/prakhar1989/react-tags/compare/master...prakhar1989:greenkeeper%2Fwebpack-4.36.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project.

[2019-07-18 12:50] #488 closed

[2019-07-20 04:24] prashantjain68 opened #546 "I give up ..."
I really liked this component and wanted to use it in my application. I installed all dependencies with recommended versions but keep getting errors.

I finally gave up.

[2019-07-20 20:12] ad1992 commented on #546
@prashantjain68 what errors did you get ? can you share a stackblitz or code sandbox link ?

[2019-07-20 20:13] ad1992 commented on #538
@Kanosakl would you like to give a PR for this ?

[2019-07-20 21:52] prashantjain68 commented on #546
This is the error I get. It is a ReactDND issue. Seems like the index.js file has been renamed to "ReactDnD.min.js" and there is no "esm" folder under "dist"

 Error: Module build failed: Error: ENOENT: no such file or directory, open '/Users/me/git/myproject/node_modules/react-dnd/dist/esm/index.js'

On a different note, DnD should be included only if drag and drop is really required. I dont need

[2019-07-20 21:53] prashantjain68 commented on #546
... and below entries from package.json:

    "react-dnd": "^5.0.0",
    "react-dnd-html5-backend": "^3.0.2",
    "react-tag-input": "^6.4.0",

[2019-07-20 21:57] prashantjain68 commented on #546
<img width="851" alt="Screen Shot 2019-07-20 at 2 55 45 PM" src="https://user-images.githubusercontent.com/2547563/61584559-9f261900-aafe-11e9-8c5b-ed1ae24934a5.png">

[2019-07-22 01:33] wortkotze commented on #546
I encounter the same issues :

`node_modules/react-dnd/dist/esm/index.js:1
W20190721-21:32:06.126(-4)? (STDERR) (function (exports, require, module, __filename, __dirname) { export * from './common';
W20190721-21:32:06.126(-4)? (STDERR)                                                               ^^^^^^
W20190721-21:32:06.126(-4)? (STDERR)
W20190721-21:32:06.126(-4)? (STDERR) SyntaxError: Unexpec

[2019-07-22 17:59] mescarra opened #547 "Add support for react-dnd 6+"
With these dependendencies:
[code]
I'm getting:
[code]

[2019-07-23 12:44] KevinKelbie commented on #547
I'm getting this too with these dependancies:

    "react": "^16.8.6",
    "react-dom": "^16.8.6",
    "react-tag-input": "^6.4.0",
    "react-dnd": "^5.0.0",
    "react-dnd-html5-backend": "^3.0.2"

[2019-07-23 12:53] KevinKelbie commented on #547
I got it working. Not sure how. All I did was stop `yarn` then `yarn run start` again. I hope this helps.

[2019-07-26 12:12] jamalmoir commented on #547
Also getting this.

[2019-07-28 00:19] kgodey commented on #428
I would also like a way to validate additions so that the input doesn't get cleared automatically.

[2019-08-02 12:18] ConnectedReasoning commented on #547
Same. KevinKelbies remedy did not help.

[2019-08-02 12:50] ConnectedReasoning commented on #547
I had installed react-dnd -v 9.3.3 and  react-dnd-html5-backend -v 9.3.2

To fix I removed the newer versions of these packages and reinstalled with commands
yarn add react-dnd@5.0.0
yarn add react-dnd-html5-backend@3.0.2

[2019-08-09 09:15] MarchWorks opened #550 "Add an option "maxQuerySuggestionsNumber" or something like that"
I have more than 60000 suggestions tag and I would like to show just top "N" using an option

[2019-08-09 09:18] MarchWorks commented on #550
Closing this because `handleFilterSuggestions` can be used instead

[2019-08-09 09:18] #550 closed

[2019-08-14 02:13] #535 closed

[2019-08-15 17:29] wei-kortx opened #551 "lodash prototype polution advisory"
been seeing a high severity vulnerability in my project so finally ran npm audit that lead to this advisory. Is this something to be concerned about?

https://www.npmjs.com/advisories/1065

![Screen Shot 2019-08-15 at 1 26 32 PM](https://user-images.githubusercontent.com/38010670/63113349-58daa300-bf60-11e9-9f8a-01c83ff4f2be.png)

[2019-08-17 11:02] LennyLip commented on #547
"react-dnd": "5.0.0",
"react-dnd-html5-backend": "3.0.2",

should be placed in dependencies, not in devDependencies

[2019-08-20 09:36] danielgent commented on #551
Hey Prakhar,

First of all, thanks for the great tool, we use it a lot

But because we use it a lot, it's now our last remaining vulnerable dependency

I see that lodash was updated on July 13th but the last version of react-tags was released on 9th March

Do you have an ETA for the next release?  I think it's a pretty low risk that someone could exploit this tag input, but better safe than sorry!

[2019-08-20 18:35] ad1992 commented on #551
@wei-kortx @danielgent I will release the next version as soon as https://github.com/prakhar1989/react-tags/pull/548 is merged

[2019-08-27 07:33] wviveiro commented on #551
+1

[2019-09-02 09:39] #542 closed

[2019-09-02 09:45] ad1992 commented on #551
@wei-kortx this is fixed `6.4.1`

[2019-09-02 09:45] #551 closed

[2019-09-02 09:55] ad1992 commented on #547
@LennyLip its part of dev and peer so that its not bundled with the library as these will increase the size of the library. Its mentioned in peer dependencies that
[code]
So major version greater than these might not work @mescarra

[2019-09-02 12:51] LennyLip commented on #547
@ad1992 Yes, I agree, but a user will get two react-dnd (If he wants react-dnd9 in his project) in any case.

@mescarra you can try to use [name packages aliases](https://github.com/npm/rfcs/blob/latest/implemented/0001-package-aliases.md#package-aliases)  in your project:

[code]

[2019-09-02 15:56] JoaoFGuiomar commented on #199
Can confirm this. ☝️

[2019-09-03 14:35] Belco90 commented on #547
Just realized about those news peerDeps with v6 as I upgraded the package recently. Those peer deps don't make sense at all, they should be regular dependencies as the library completely depends on that: https://blog.angularindepth.com/npm-peer-dependencies-f843f3ac4e7f

With a peer dep you indicate your code is compatible with that, with a regular deep you indicate your code depends on that, and

[2019-09-06 15:00] demian85 commented on #547
Can someone please understand that I need to use react-dnd 9.x but I cannot because this library requires react-dnd 5.x as a peer dependency. That's fucking outdated.
The author of this library maybe can explain what the hell crossed his mind when declaring peer dependencies...

[2019-09-10 12:39] brymon68 commented on #508
Having this issue as well. Are we the only people using suggestions?

[2019-09-10 13:03] apepper commented on #508
If I'm not mistaken the bug got introduced in d24fe454b53f3e14d505a658e4738d912959d87b, since there is no `UNSAFE_componentWillReceiveProps` any more, that would have updated the state's suggestion based on the new props (/cc @ad1992).

React provides some documentation on how to replace `UNSAFE_componentWillReceiveProps`:
* https://reactjs.org/docs/react-component.html#unsafe_componentwillreceive

[2019-09-10 13:21] dcsaszar commented on #508
See #552 for a fix.

[2019-09-10 13:58] brymon68 commented on #508
Thank you @dcsaszar and @ad1992. Will we see this in master soon?

[2019-09-21 00:32] truantdamian opened #557 "aaaaddd"

[2019-09-21 00:32] #557 closed

[2019-09-25 22:06] #530 closed

[2019-09-27 04:56] kgodey commented on #547
This error is because react-dnd 9.0 removed the DragDropContext decorator in favor of the new [DnDProvider component](https://react-dnd.github.io/react-dnd/docs/api/dnd-provider). This library needs to be updated to use the new component.

[2019-09-29 14:24] ad1992 commented on #547
I might not be able to pick this immediately. please feel free to PR.

[2019-10-10 13:55] igordeoliveirasa opened #558 "Ref"
How could I access throw ref={} ?

[2019-10-11 17:58] francisrod01 opened #559 "Uncaught Invariant Violation: Expected to find a valid target."
Uncaught Invariant Violation: Expected to find a valid target.

I'm facing this issue when I drag a tag.

![image](https://user-images.githubusercontent.com/4691768/66673624-554d5a80-ec37-11e9-8122-c5c6d32ab1f6.png)

Envs:

- react@16.10.2
- react-dom@16.10.2
- react-tag-input@6.4.1
- react-dnd@5.0.0
- react-dnd-html5-backend@3.0.2

A related tag here: [Uncaught Error: Invariant Violation: Expecte

[2019-10-18 12:40] one89 commented on #538
Just submitted a PR for this :)

[2019-10-19 11:55] dkent600 commented on #187
I'd love to see a solution for this, or a suggested work-around.  It is so far the only problem I've found with the control.  :-)

[2019-10-21 06:57] zhouhao27 opened #564 "Can't not run the example with the latest react"
Got the following error message when I run your example code in `readme.md`.

Here is my package.json:

[code]

It seems the `react-dnd` is not installed. But why? It's inside the `package.json` of `react-tag-input`.

[2019-10-21 10:49] hirro commented on #547
Could this issue be renamed to add support for react-dnd 6+?

[2019-11-08 10:41] #546 closed

[2019-11-08 13:38] omkar-joshi commented on #564
@zhouhao27 `react-dnd` is marked as a peer dependency of `react-tag-input`. So you would need to install it along with `react-dnd-html5-backend`. See - https://github.com/prakhar1989/react-tags#installation

[2019-11-22 17:07] jmfsilva commented on #559
DND and a little buggy.
It rarely works and most of the times i'v that error.
Envs:
 - "react": "^16.9.0"
- "react-dom": "^16.9.0"
- "react-dnd": "^5.0.0" (as recommended)
- "react-dnd-html5-backend": "^3.0.2", (as recommended)

[2019-11-23 19:27] hajnalben commented on #547
#566

[2019-11-23 22:16] steverecio opened #567 "Flatten Tag Objects"
Is there a way to flatten the tag objects into just an array of strings? I'm doing some hacky logic around my component to fit that scheme but would be nice to have a boolean option to handle tags as simple strings instead of objects.

[2019-11-24 09:46] jameswyse commented on #559
I'm getting the same error. I think it's because the `key` prop isn't stable

Currently it's set to `key={`${tag.id}-${index}`}` in [ReactTags.js:389](https://github.com/prakhar1989/react-tags/blob/master/src/components/ReactTags.js#L389)
Changing it to `key={tag.id}` fixed the problem for me!

[2019-11-26 13:03] pokidovea opened #568 "delimiters with the same code but different keys"
I have russian keyboard layout. There is russian letter `б` on button with english comma. So, key codes are the same - 188, but `event.key` values are different.
So, russian word `рыбка` (small fish) gets broken into two tags `ры` and `ка`, because `б` evaluated as comma.

[2019-11-26 13:24] pokidovea opened #569 "Limited set of allowed characters"
Now it is possible to create tags with punctuation marks, e.g.
![screenshot-stackblitz com-2019 11 26-16_21_51](https://user-images.githubusercontent.com/2443005/69637003-e0a87100-1068-11ea-9a31-8f45f8bb572b.png)
I need only letters and spaces.

Please, add ability to set a regex for validation of input

[2019-12-02 22:42] johnbowdenatfacet commented on #547
+1 to upgrade react-dnd, old version is using soon to be deprecated react lifecycle methods.

[2019-12-04 18:01] douglasrcjames opened #572 "Change format of tag array"
I need a specific format for the structure of the tag array to match with my iOS setup on Firebase. Is there a way to only set the array to be structured as:
[code]
instead of
[code]

[2019-12-04 18:45] douglasrcjames commented on #572
Found a solution that works for me by modifying this example: https://codepen.io/prvnbist/pen/jJzROe

[2019-12-04 18:45] #572 closed

[2019-12-09 08:42] khoramshahy opened #573 "import { WithContext as ReactTags } from 'react-tag-input';"
Hi I'v installed your package in my project but when I import it in my component all the component don't load without any error. I'm using hook and my react version is 16.8.6.

it seems the problem is with
import { WithContext as ReactTags } from 'react-tag-input';

my package.json infi is:
`"react": "^16.8.6",
      "react-dom": "^16.8.6",
      "react-dnd": "^9.3.2",
      "react-dnd-html5-backe

[2019-12-09 17:08] jhgv commented on #573
It seems like it is not supporting **react-dnd** and **react-dnd-html5-backend** current versions. In my case, I had to downgrade them to:
[code]

[2019-12-10 12:43] #573 closed

[2019-12-11 09:05] khoramshahy opened #574 "suggestion list that is showed to the user is always one step back to the real suggestion"
Hi
my list of suggestions is too long so I want whenever user types I get a new suggestion List from server. I'm using handleInputChange for doing that. but suggetion is always one step back.
Am I using the right function?
If not what should I do?

[2019-12-11 09:17] khoramshahy commented on #508
I also have this problem. why suggestion not update immediately?!

[2019-12-12 07:06] khoramshahy commented on #461
hi
stale is not a good reason to close a bug
I also have this problem.
![browser **autocomplete](https://user-images.githubusercontent.com/20140668/70690101-3452c580-1ccb-11ea-9ca6-8c04e49a2960.png)**

[2019-12-16 16:49] #558 closed

[2019-12-16 21:22] SeongwoonHong opened #575 "Bug: auto generate tag"
steps to reproduce

1. go to demo site
2. type india (which already exists, thus i'm not allowed to have this again)
3. remove india that you just typed
4. hit enter
5. it randomly generates a tag

[2019-12-17 21:12] cs-manughian opened #576 "Bug: className property per tag has no effect"
Hi, I would like to have a specific className per draggable tag object, so I was using the options like so: [{ id: 1, text: 'TagGoesHere', className: 'reserved' }], but it does not seem to have any effect.

The property on the ReactTags component applies the "tag" className to every tag, but I would like to apply a className on an individual tag based on a certain associated data point. Is this a

[2019-12-20 12:28] #508 closed

[2019-12-21 11:41] ad1992 commented on #508
:tada: This issue has been resolved in version 6.4.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input)
- [GitHub release](https://github.com/prakhar1989/react-tags/releases/tag/v6.4.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket: