[2019-12-21 16:06] dcsaszar commented on #574
Maybe a duplicate of #508

[2019-12-22 08:22] #574 closed

[2019-12-24 14:22] khoramshahy commented on #461
Hi in the file ReactTags.js in the section where input element is created I add autoComplete: 'off' and that worked
my code is now like this:
`var tagInput = !this.props.readOnly ? _react2.default.createElement(
        'div',
        { className: this.state.classNames.tagInput },
        _react2.default.createElement('input', {
          ref: function ref(input) {
            _this4.textInput = i

[2020-01-02 11:52] nileshyadav326 opened #578 "How to use this lib in React 15.6.1"
Here is the my package.json file.

    **"react": "^15.6.1",**
    "react-css-modules": "^4.7.1",
    "react-day-picker": "^6.2.0",
    "react-dom": "^15.6.1",
    "react-dropzone": "^4.2.1",
    "react-ga": "^2.3.4",
    "react-google-maps": "^8.5.0",
    "react-helmet": "^5.2.0",
    "react-icons-kit": "^1.0.7",
    "react-id-swiper": "^1.6.1",
    "react-input-range": "^1.2.1",
    "react-linke

[2020-01-05 09:34] ad1992 commented on #578
@nileshyadav326 the react version should be 16+ as mentioned https://github.com/prakhar1989/react-tags#installation

[2020-01-05 09:39] ad1992 commented on #575
@SeongwoonHong I tried following the steps in https://stackblitz.com/edit/react-tag-input-1nelrc  but it works fine and doesn't generate any random tag.  Can you check and confirm ?

[2020-01-07 13:25] AudereSemper opened #579 "Delimiters stop to work when i use handleAddition in HandleInputBlur"
Hello,

i need to add tags when the user click outsed the relative element.

I used HandleInputBlur with inside handleAddition .

[code]

the main problem now is: if i use handleInputBlur react-tags-input stop to use the delimeters.

DId i miss/mistaken something ?

[2020-01-08 12:42] gjvoosten opened #580 "Using unmaintained version of core-js"
[code]
You should probably consider merging prakhar1989/react-tags#560 .

[2020-01-14 14:46] #564 closed

[2020-01-22 03:05] tssghost89 opened #582 "I want to remove drag-n-drop tags because it's conflict with another drag-n-drop in form"
I use react-file-drop, file-pond, and react-tags in the same form.
file-drop and file-pond drag-n-drop can't work because of react-tags.
Please add option to remove drag-n-drop on tags. I don't need to drag-n-drop tags.
Thank you.

[2020-01-30 01:29] #567 closed

[2020-01-31 05:02] #559 closed

[2020-01-31 12:59] Kesudan commented on #547
+1 to upgrade react-dnd as well! Love the tag input but we're having find alternatives as we already make use of latest react-dnd.

[2020-02-01 13:40] #568 closed

[2020-02-01 14:40] #569 closed

[2020-02-23 19:08] #576 closed

[2020-02-25 03:34] tankorsmash commented on #559
I'm having the same issue with dragging a tag and throwing the invariant error about not being able to find a target.

Same as above, except

    "react": "^16.8.0"
    "@hot-loader/react-dom": "^16.8.0"

Some potential causes is inconsistent ids (maybe based on their position on the array) and keys. We'll see if I can make any progress on my own error.

[2020-03-12 10:28] #578 closed

[2020-03-12 11:28] #575 closed

[2020-03-14 14:56] #579 closed

[2020-03-15 14:13] #580 closed

[2020-03-26 20:20] alex-polunochev commented on #582
Does this help?
[code]

[2020-04-07 12:34] afashaisakiye commented on #118
Are you still working on this issue?

[2020-04-07 18:45] saurabh-sharma commented on #118
Hey guys, I literally forgot working on this 😅 Thanks for reminding after a year though.

So I just started debugging this: https://react-tag-input-1nelrc.stackblitz.io/ on phone obviously.
In the example this function:
[code]
is transpiled to:
[code]
But since I opened it on mobile, I saw some additional code in the transpiled method, which was slightly different from the one
So I just added a `c

[2020-04-15 17:19] greenkeeper[bot] opened #590 "An in-range update of style-loader is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [style-loader](https://github.com/webpack-contrib/style-loader) was updated from `1.1.3` to `1.1.4`.

🚨 [View failing branch](https://github.com/prakhar1989/react-tags/c

[2020-04-21 04:15] tssghost89 commented on #582
I try this allowDragDrop={false} but still not working.
I just downloaded and changed component code.

[2020-05-04 03:03] Stancobridge opened #591 "Error _reactDnd.DragDropContext thrown after importing"
I have
"devDependencies": {
        "@babel/preset-react": "^7.0.0",
        "axios": "^0.19",
        "cross-env": "^7.0.2",
        "laravel-mix": "^5.0.4",
        "lodash": "^4.17.13",
        "react": "^16.13.1",
        "react-dom": "^16.13.1",
        "resolve-url-loader": "^3.1.0"
    },
    "dependencies": {
        "@babel/preset-env": "^7.9.6",
        "react-dnd": "^10.0.2",
        "r

[2020-05-06 13:42] findela commented on #349
There is a problem in suggestion list rendering, I am using **handleInputChange** method to fetch autcomplete data from API and setState suggestions array according to documented format like
`suggestions: [{ id: "", text: "" }]`

I have no idea, what's wrong in showing. While console post setState I am able to see the prepared array of objects but it's not displaying. My code is like this -

`Edit

[2020-05-06 13:55] findela opened #592 "Problem in suggestion list re-rendering on handleInputChange event"
There is a problem in suggestion list rendering, I am using handleInputChange method to fetch autcomplete data from API and setState suggestions array according to documented format like
suggestions: [{ id: "", text: "" }]

I have no idea, what's wrong in showing. While consoling, post setState method, I am able to see the prepared array of objects but it's not displaying as a suggestion list. My

[2020-05-06 18:17] krodo93 commented on #591
Same Problem

[2020-05-08 20:51] dschoon opened #593 "Handle ID field that is a number"
I'm receiving the following error because my ID field is an integer and there's no way for me to specify an alternative `idField` prop for me to pass in my `uuid` field name.

[code]

[2020-05-11 17:46] kush1509 commented on #591
Same issue!

[2020-05-14 21:41] agusterodin opened #594 "Add react-dnd and react-dnd-html5-backend as normal dependencies"
Is their a particular reason why react-dnd and react-dnd-html5-backend are listed as peer dependencies instead of just normal dependencies? I have yet to encounter this in other react libraries.

[2020-05-14 22:03] agusterodin opened #595 "Auto sized textbox width"
It would be amazing if the textbox could expand/shrink based on its contents. I am aware that this requires some finessing and isn't just something that can easily be done with just pure html and css.

I've seen approaches that put the contents in a hidden span on the side and observe the size and apply it to the textbox. I have also seen content editable spans (which are torture to work with).

T

[2020-05-14 22:06] agusterodin opened #596 "Useful callback data for handleInputChange, handleInputFocus, handleInputBlur"
It would be awesome if a reference to the synthetic event itself was provided in the handleInputChange callback, handleInputFocus, and handleInputBlur callback. This would be especially useful for the handleInputChange event (so you could do stuff with event.target)

[2020-05-22 15:27] Yupeng-li commented on #591
This library requires:
`react-dnd: ^5.0.0
react-dnd-html5-backend: ^3.0.2
`
You are using react-dnd: 10.0.2 so it's not compatible with react-tags. You can downgrade react-dnd to 5.0.0 and it will work.

[2020-05-25 13:31] p8ul commented on #591
Same issue here! I want to use some cool features on updated react-dnd (context hooks) but I can't because this package throws errors when react-dnd is updated 😞

[2020-05-30 10:26] ad1992 commented on #593
@dschoon this should be fixed in the latest version.

[2020-05-30 10:28] ad1992 commented on #594
@agusterodin the reason was so it doesn't get bundled with the build and if the upstream library wants the drag and drop functionality it can install the deps.

[2020-06-04 18:43] mayognaise commented on #591
Same here 😢

[2020-06-15 15:26] ad1992 commented on #595
@agusterodin want to give PR for it ?

[2020-06-15 15:27] #594 closed

[2020-06-24 00:08] ZeroCoolHacker commented on #591
same here

[2020-06-24 15:02] bipindubey-technoark commented on #593
Yes i am also facing this problem because when we intergrate api then id is number not a string and they have used string so i am getting same error

[2020-06-24 18:01] steverecio opened #612 "Add Tag Input Button"
Is there a way to add a small button next to the input field that would trigger adding the tag to the list? Or is there a function I can pass to the component to trigger parsing/adding the tag? My users are confused and don't necessarily know that they need to hit Enter or Tab.

[2020-06-24 22:08] ad1992 commented on #612
@steverecio would you like to give a PR for adding a? submit button ?

[2020-06-24 22:16] ad1992 commented on #593
`id` is a required field if you are passing tags since https://github.com/prakhar1989/react-tags/releases/tag/v5.0.0 so please make sure you pass id as string

[2020-06-25 02:31] steverecio commented on #612
I ended up opting for a css tooltip:

[code]

[2020-06-25 02:31] #612 closed

[2020-06-25 06:59] bipindubey-technoark commented on #593
when we integrate api with frontend id is always an integer so how can we use it as a string.
I use react for frontend and spring boot for backend so my id field in an integer not an string. you should give an option for use both of them(string and integer) for id field.

[2020-06-25 08:08] ad1992 commented on #593
I am not sure If I understand you correctly, Id field is kept as a string so that for autosuggestions the suggestions can come up irrespective of case sensitivity and uniqueness is also preserved. You can just pass the id field as what is in your text field or you can share a code sandbox url so I can take a look at what's actually going wrong.

And to answer `By the way who stores id as a string

[2020-06-25 12:57] bipindubey-technoark commented on #593
Yess you are right mongodb, firebase stores id as a string. i m agree with you but most commonly we use integer that i wanted to say. lets leave that... will we get solution for that in upcoming days??

[2020-06-25 13:45] ad1992 commented on #593
@bipindubey-technoark as I said there are reasons as mentioned above why its a string instead of a number and that's why.
it was a breaking change.
I am not sure If I will be able to look into it sooner.
But as far as I understand in your case if you are storing the id as an integer fore each. tag,  the change should be to just update those to string or if that's not possible then before passing t

[2020-06-25 15:11] bipindubey-technoark commented on #593
Ok

[2020-06-30 09:36] danielrd commented on #591
Same here, It's nice if dependencies packages are compatible with the latest versions.

[2020-06-30 10:54] ad1992 commented on #591
I am not sure when I will be able to pick this up.  Please feel free to open PR for the same.

[2020-07-12 14:48] #592 closed

[2020-07-22 07:39] razxssd commented on #547
+1 to upgrade react-dnd too

Same issue when using the last version of the library

[2020-07-22 10:48] lenoirdevinci commented on #591
I had the same issue so I changed my package.json as :
[code]
And that fixed the issue

[2020-07-23 00:44] dakkafex commented on #594
I dont understand, this lib doesnt work unless DND is specifically installed, its a hard dependency, even if you dont want to use dnd

[2020-07-23 00:49] agusterodin commented on #594
Wouldn't it be standard practice to define the version you want to use as a normal dependency? Suppose DND had a breaking change, at that point your library breaks since you are at the mercy of what the user installed as their peer dependency instead of the version you as the library creator deem as verified working and tested.

[2020-08-04 07:13] zilahir opened #636 "suggestions visible from the typed characted position"
Example:

![image](https://user-images.githubusercontent.com/6687149/89264088-01cf5180-d63b-11ea-8bc1-12022a489c67.png)

Only those tags should be visible, which starts with the given input, and not all of the tags which includes that specific letter.

I have changed the `minQueryLength` to `1`.

Any idea if I can achieve this?

Thanks!

[2020-08-04 08:00] zilahir commented on #636
missed the `handleFilterSuggestions` in the docs, so my bad. sorry!

[2020-08-04 08:00] #636 closed

[2020-08-05 19:09] razvan100 opened #637 "TypeError: _reactDnd.DragDropContext is not a function when running example code"
I am trying to run the example provided with this library and importing it like

`import { WithContext as ReactTags } from 'react-tag-input';`

(following the **Usage** section from https://www.npmjs.com/package/react-tag-input)

However I'm getting the below error

[code]

  Found a link in a issue ticket, tells this is deprecated
  https://github.com/react-dnd/react-dnd/issues/1489#issuecomment-

[2020-08-28 07:51] zilahir commented on #558
i would like to access the `ref` also. is there a way to do it?

[2020-08-28 12:54] ad1992 commented on #558
Whats your use case ? Adding ref on the container where you are rending won't help ?

[2020-08-28 12:59] zilahir commented on #558
@ad1992 the usecase is the following:

when selecting a tag, (by clicking on it) the input looses focus, and i would like to put it back, so the user does not need to click back into the input every time a tag had been added.

not sure i can achieve the same by putting a ref into the container div, and doing `containerRef.current.focus()`

[2020-08-29 19:04] #582 closed

[2020-08-31 16:22] #593 closed

[2020-09-02 13:25] orszaczky commented on #637
related to https://github.com/react-dnd/react-dnd/issues/1513 and https://github.com/react-dnd/react-dnd/issues/1489

[2020-09-02 13:27] orszaczky commented on #637
also duplicate of https://github.com/prakhar1989/react-tags/issues/547

[2020-09-22 11:01] mefik1337 opened #656 "How can i add DnD into mobiles?"
As in the title. How can i add in react-tags DnD to mobiles(touch)?

[2020-09-24 20:40] xumes opened #657 "Placeholder is not working"
Hello,
I tried to replace the placeholder but it has no effect.

[code]

[2020-09-26 10:17] Ayush909 commented on #637
did you solve this issue? I am running into the same problem.

[2020-09-27 06:32] razvan100 commented on #637
Nope, I believe it was not solved yet.

[2020-09-29 06:36] mrdannael commented on #657
I've tested in on https://react-tag-input-1nelrc.stackblitz.io and it's working for me with the latest version.

[2020-10-02 18:02] xumes commented on #657
Do you mind in show me the snippet you use? When I access this url, I still see the `Add new tag` placeholder. I am developing an app in Portuguese, this is why I need to change it to `Adicione uma nova tag`.
Thanks for the attention.

[2020-10-02 18:31] mrdannael commented on #657
Go to the link i've pasted above and try those props:

`<ReactTags
          tags={tags}
          suggestions={suggestions}
          delimiters={delimiters}
          handleDelete={this.handleDelete}
          handleAddition={this.handleAddition}
          handleDrag={this.handleDrag}
          handleTagClick={this.handleTagClick}
          placeholder="Adicione uma nova tag"
        />`

[2020-10-04 02:27] #591 closed

[2020-10-26 01:25] bruno-barros commented on #637
After v9, DnD changed to the Context API and broke this plugin implementation.
I solved setting DnD to v8.
[code]

[2020-10-27 08:31] Nogias9x opened #665 "How to prevent "Ctrl + V" from adding new tags"
Hello.

Thank you guys for this awesome lib.
I integrated it and things went well :+1:
Then I realize it would be more convenient if users can paste from a clipboard, edit a bit then submit the tag. By now, when users  "Ctrl V", the tag will be added automatically.
Is there any way I could prevent that?

Thank you and have a nice day

[2020-10-29 15:02] ad1992 commented on #665
You are talking about something like https://github.com/prakhar1989/react-tags/pull/455 ?

[2020-10-30 03:48] Nogias9x commented on #665
Thank you for looking up the PR @ad1992 ,

It seems to be. But I'm not familiar enough to know if it would prevent CtrlV from auto submitting or not.

Thank you and have a wonderful day :)

[2020-11-02 17:49] saiteja-konda commented on #637
exact this is working for me  react-dnd@8.0.0 react-dnd-html5-backend@8.0.0 @bruno-barros thanks you

[2020-11-24 20:44] tabna commented on #461
Is the solution ever going to be added to the repo?

[2020-11-27 05:44] mayuriih opened #673 "Module not found: Can't resolve 'react-dnd'"
After installing it's giving me error like below

Module not found: Can't resolve 'react-dnd'

[Error: ENOENT: no such file or directory, stat '/initrd.img'] {
  errno: -2,
  code: 'ENOENT',
  syscall: 'stat',
  path: '/initrd.img'
}

Dependencies:-
    "react": "^16.4.2",
    "react-dnd": "^5.0.0",
    "react-dnd-html5-backend": "^3.0.2",
    "react-dnd-test-backend": "^3.0.2",
    "react-dom": "

[2020-12-03 08:27] ad1992 opened #675 "Make cross icon tabbable so its operable with keyboard"

[2020-12-03 08:50] #675 closed

[2020-12-03 12:41] ad1992 commented on #675
:tada: This issue has been resolved in version 6.4.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input)
- [GitHub release](https://github.com/prakhar1989/react-tags/releases/tag/v6.4.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-12-06 11:08] stinkymonkeyph opened #678 "Space and comma problem for adding new tags"
Adding new tags with space and comma does not trigger on mobile browsers

[2020-12-07 05:21] ad1992 commented on #678
@stinkymonkeyph want to fix it ?

[2020-12-21 14:31] DrSwad commented on #678
Probable reason: #118 #199. I'm actually a bit curious about why this library uses key press events instead of React's onChange event handler. This is how I'm actually patching up the issue for a production app. I'm including my working code below in case anyone needs a desperate fix like me. Also, if it seems like a valid solution and the maintainer allows, then I can contribute a pull request re

[2020-12-25 11:26] #656 closed

[2020-12-25 11:26] #657 closed

[2020-12-27 22:53] johnvincentio opened #690 "Drop tag causes error: Invariant Violation: Expected to find a valid target at DragDropMonitorImpl.canDropOnTarget"
Drag is fine.
On drop, error is:

invariant.esm.js:29 Uncaught Invariant Violation: Expected to find a valid target.
    at invariant (http://localhost:8065/vendors-node_modules_date-io_moment_build_index_esm_js-node_modules_material-ui_core_esm_Card-277f99.bundle.js:9670:15)
    at DragDropMonitorImpl.canDropOnTarget (http://localhost:8065/vendors-node_modules_date-io_moment_build_index_esm_js-no

[2020-12-27 22:55] johnvincentio commented on #690
It should be noted that I used:

"react-dnd": "^11.1.3",
"react-dnd-html5-backend": "^11.1.3"

which I have seen are not supported.

[2020-12-27 22:57] johnvincentio commented on #690
However, the error  is caused by ReactTags.js, about line 251

return tags.map((tag, index) => (
  <Tag
  key={`${tag.id}-${index}`}

Notice 'index' being used in the key. This is the problem.

[2020-12-27 22:58] johnvincentio commented on #690
Solution: ReactTags.js, about line 251

return tags.map((tag, index) => (
<Tag
key={${tag.id}}

and ensure tag.id is truly unique (use uuid() or similar).

[2020-12-27 23:00] johnvincentio commented on #690
Further, due to the need for a hook, I introduced an intermediary. Code follows:

import React, { useRef } from 'react';
import PropTypes from 'prop-types';

import { createDndContext, DndProvider } from 'react-dnd';
import { HTML5Backend } from 'react-dnd-html5-backend';

import ReactTags from '../tags/ReactTags';

const TaskTag = props => {

	const renderTag = () =>
		 (
			<ReactTags
				id={pr

[2020-12-27 23:02] johnvincentio commented on #690
Hopefully, this will be helpful...

[2020-12-28 08:24] mrdannael commented on #690
Awesome, thanks for the input!

[2020-12-30 06:16] johnvincentio commented on #690
Actually, upon review, I did rather more.

I created a [react-tags](https://github.com/johnvincentio/react-tags) repo to allow for easier sharing.

[2021-01-17 14:21] stinkymonkeyph commented on #678
Hi everyone was this resolved already?

[2021-01-20 23:01] eddiekimosabe commented on #576
This still appears to be an issue for me also.
I would like to adjust the color of the tags based on a condition `[{ id: 1, text: 'text', className: 'red' }]` but it doesn't appear to do anything and continue to maintain the .guest-list__tag styles.

[2021-01-20 23:08] eddiekimosabe opened #692 "Bug: className property per tag has no effect"
#576 I'd like to reopen this issue. I'm not sure if I'm missing something but I would ideally like to adjust the background-color of the tag based on a condition. I already have some styles placed on guest-list__tag to make the background-color grey.

But, I assumed that adding something like `{id:1, text:'text', className:'red'}` within handleAddition would allow for an adjustment of the backgrou

[2021-01-21 02:28] #692 closed

[2021-01-21 22:13] eddiekimosabe commented on #576
It looks like the version that I was using was outdated. v6.2.0 and up appears to handle what I need 👍

[2021-01-23 11:37] Cherviakov opened #693 "Update react peer dependency to 17"
Currently this package still specify peer dependency react16, but react17 already out, please update package to be used with it.

[2021-01-25 09:06] asif12043 opened #694 "jjj"

[2021-01-27 11:09] MIKOLAJW197 opened #695 "Add plain input props"
It will be nice to have ability to maintain plain <input> props
- type
- autocomplete

etc.
What's your thoughts about it?

[2021-01-31 23:17] Humpkins opened #696 "TypeError: (0 , _reactDnd.DragDropContext) is not a function"
On /react-tag-input/dist-modules/components/ReactTags.js:574

refer
#1513

571 | };
  572 |
  573 | module.exports = {
  **574 |   WithContext: (0, _reactDnd.DragDropContext)(_reactDndHtml5Backend2.default)(ReactTags),**
  575 |   WithOutContext: ReactTags,
  576 |   KEYS: _constants.KEYS
  577 | };

[2021-02-01 00:18] xxl509 opened #697 "How to edit the tag?"

[2021-02-11 11:31] ToxicToast commented on #673
try to install the missing packages?

[2021-02-13 02:17] hjelmeir commented on #696
see https://github.com/prakhar1989/react-tags/issues/547 for some solutions, specifically setting specific package versions

[code]

[2021-02-15 07:36] #694 closed

[2021-02-15 07:37] ad1992 commented on #693
@Cherviakov want to take it up?

[2021-02-17 04:48] Cherviakov commented on #693
Alright, will check it out.

[2021-03-12 21:00] ebisLab commented on #637
v 8 worked for me, but that sucks. Can we get maintainers of this dependency to get this up to date?

[2021-03-14 16:31] LZygmunt opened #704 "Create decorators for storybook"

[2021-03-14 16:31] #704 closed

[2021-03-24 20:01] Pareder opened #707 "removeComponent props example"
[Current example](https://github.com/prakhar1989/react-tags#removecomponent-optional) in README for `removeComponent` prop has mistake. It is written that:

But you are passing not `onClick` but `onRemove` prop [here](https://github.com/prakhar1989/react-tags/blob/master/src/components/RemoveComponent.js#L26). So can you fix the documentation please?

And also in this example you are passing to na

[2021-05-18 18:22] LostDeception opened #716 "Cannot read property 'id' of undefined when trying to backspace in empty input"
Hello, when I try to backspace but there are no tags present in ReactTags__tagInputField I get the following error.  I understand that it is because there are no tags thus there are is not an id.. I have tried a temp fix for this issue but am having some trouble with it. This is an awesome package and I am really enjoying using it. Thanks!

ERROR:
__________________________________________________

[2021-05-19 13:17] ad1992 commented on #716
@LostDeception do you see this error with latest version? could you share a code sandbox example for the same?

[2021-05-19 18:28] LostDeception commented on #716
So the same sandbox code you have here
https://stackblitz.com/edit/react-tag-input-1nelrc throws that error for me
on my end. I have double and triple checked all the dependencies and they
all match.

On Wed, May 19, 2021 at 8:18 AM Aakansha Doshi ***@***.***>
wrote:

[2021-05-21 08:32] ad1992 commented on #716
@LostDeception this is fixed now in [latest version](https://www.npmjs.com/package/react-tag-input)

[2021-05-21 08:32] #716 closed

[2021-05-21 13:16] LostDeception commented on #716
Thanks!

On Fri, May 21, 2021 at 3:33 AM Aakansha Doshi ***@***.***>
wrote:

[2021-05-26 12:14] WhoIsDT commented on #693
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"^17.0.1" from the root project
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.3.1" from react-tag-input@6.5.4
npm ERR! node_modules/react-tag-input
npm ERR!   react-tag-input@"*" from the root project
npm ERR! Fix the upstream depend

[2021-05-27 12:55] pietruszka opened #721 "Edge: pasting multiline text creates multiple tags"
## Expected Behavior
Pasted multiline text creates only one tag.

Callback passed to `handleAddition` prop to be called once with a pasted text, e.g `{id: "word1\nword2\nword3", text: "word1\nword2\nword3"}`

## Current Behavior
Pasted multiline text creates multiple tags.

Callback passed to `handleAddition` prop to be called multiple times with a partial pasted text, e.g `{id: "word1", text: "wo

[2021-05-27 13:05] ad1992 commented on #693
Sorry keeping this issue for so long, I will try fixing it this weeked

[2021-05-27 16:04] ad1992 commented on #721
Looks like this bug specific to browser Edge, works fine in chrome, ff, and safari. @pietruszka want to create a PR?

[2021-05-27 16:07] Adrian-CL opened #722 "Is there a way to disable the call of this.resetAndFocusInput() method after handleDelete action?"
Currently I am mainly using this react-tag-input component for its removable tags feature.
The component itself is rich and user friendly, but I would like to hide the "Input Field" section during the usage.
So, when I have set the "inputFieldPosition" as hidden, "Uncaught TypeError: Cannot read property 'focus' of undefined" errors pop up because the page couldn't find the input field.

Please ki

[2021-05-27 16:17] ad1992 commented on #722
@Adrian-CL you need the removable tags feature but not allow the addition of tags?

[2021-05-27 16:19] Adrian-CL commented on #722
Thanks for the rapid response.

And yes, that's correct.
The tags will be inserted manually using a different method.

[2021-05-27 16:24] Adrian-CL commented on #722
I have read it from here: https://npmdoc.github.io/node-npmdoc-react-tag-input/build/apidoc.html#apidoc.element.react-tag-input.WithContext.PropTypes.handleDelete
that the this.resetAndFocusInput() method is called after the handleDelete() method has done its business.

So I wonder if there is a way to disable it without changing the module itself.
It's a helpful mechanism but unfortunately not in

[2021-05-27 16:34] ad1992 commented on #722
looks like you are trying in an older version, can you try out the latest version ? Or the [example](https://stackblitz.com/edit/react-tag-input-1nelrc), just hiding input field should work

[2021-05-27 16:41] Adrian-CL commented on #722
I am currently using react-tag-input version 6.5.4, is there a newer version than this?
In your example, I can see the input field is not being focused after tag deletion. May I know how did you achieve that?

[2021-05-27 17:29] ad1992 commented on #722
@Adrian-CL [inputFieldPosition](https://github.com/react-tags/react-tags#inputfieldposition-optional-defaults-to-inline) can be only set to `top|bottom|inline`. `hidden` is an incorrect value. You can remove the `inputFieldPosition` and just hide the input field with css

[2021-05-27 17:44] Adrian-CL commented on #722
@ad1992 thanks for your time and your assistance.
I created a separate css and applied "visibility: hidden" to the class name ".ReactTags__tagInputField", now the input field is hidden and deleting tags doesn't throw error anymore.

Thank you once again!

[2021-05-27 17:44] #722 closed

[2021-05-28 05:55] Adrian-CL opened #723 "Drag and Drop feature on the webpage got disabled once tag(s) is added"
Hi, it's me again.

I have realized one behavior on the react-tag-input component which is once a tag has been added, I could not drag and drop files into my webpage anymore (I have a react-dropzone Drag and Drop section on my screen).

When I dragged my file(s) onto the screen, a "No Entry" symbol is shown besides my cursor instead of "+ Copy" label.
I do not understand what is the factor which c

[2021-05-28 06:11] ad1992 commented on #723
@Adrian-CL this shouldn't happen, is it possible to share a code sandbox example with this scenario?

[2021-05-28 07:30] Adrian-CL commented on #723
@ad1992 I have just noticed the section regarding "Contexts" within the link below:
https://www.npmjs.com/package/react-tag-input

Can you briefly explain what is the difference between withcontext and withoutcontext?
I think this is should be the reason that causes the issue.

I tried to create an example within the code sandbox but failed after adding in react-dropzone component, still trying to

[2021-05-28 07:52] Adrian-CL commented on #723
@ad1992 I have successfully created an example which can reproduce the issue I am facing now.

Please follow the link: https://stackblitz.com/edit/react-tag-input-xlbgc6?embed=1&file=index.js

[2021-05-28 08:32] #693 closed

[2021-05-28 08:42] ad1992 commented on #723
@Adrian-CL thanks for sharing, will look into this

[2021-05-29 14:07] #695 closed

[2021-05-29 14:10] ad1992 commented on #461
closed via #726, this will be available in the next version 🎉

[2021-05-29 14:10] #461 closed

[2021-05-29 14:15] ad1992 commented on #194
closed via #726, this will be available in next version 🎉

[2021-05-29 14:15] #194 closed

[2021-05-29 14:20] ad1992 commented on #693
:tada: This issue has been resolved in version 6.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.6.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-29 14:20] ad1992 commented on #695
:tada: This issue has been resolved in version 6.6.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.6.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.6.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-30 07:00] #590 closed

[2021-05-30 07:01] ad1992 commented on #697
closing in favor of https://github.com/react-tags/react-tags/issues/375

[2021-05-30 07:01] #697 closed

[2021-05-30 07:03] ad1992 commented on #233
closed via #491

[2021-05-30 07:03] #233 closed

[2021-05-30 07:09] ad1992 commented on #208
Instead of adding a prop for this we should show drop up /down depending on space available in viewport

[2021-05-30 08:25] #707 closed

[2021-05-30 08:25] ad1992 commented on #707
thanks for pointing this out @Pareder, its fixed

[2021-05-30 08:38] ad1992 commented on #707
:tada: This issue has been resolved in version 6.6.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.6.1)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.6.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-05-31 06:02] pietruszka commented on #721
Yes

[2021-05-31 09:59] apepper commented on #693
@ad1992 Thank you for your fix.

But the pre-dependencies `react-dnd` and `react-dnd-html5-backend` in the given version do not support React (officially):

https://github.com/react-tags/react-tags/blob/ee727fd6e417b27252581d502dbd4d15deff8193/package.json#L32-L35

Could you upgrade `react-dnd` and `react-dnd-html5-backend` to a more recent version?

I also noticed, that the specific version of `r

[2021-05-31 10:13] apepper commented on #693
In a blank folder this looks like this:

[code]

[2021-05-31 14:53] ad1992 commented on #693
@apepper yeah soon will update the react-dnd as well (in next release),

My bad, yeah will release a patch version for this, thanks for pointing this out.

You mean its not working for you?

[2021-06-01 04:23] Adrian-CL commented on #723
hi @ad1992,

Sorry to bother you.
Did you get the chance to investigate and find out the root cause for this?

[2021-06-01 07:10] apepper commented on #693
It means, that `npm` version 7 will fail installing both `react-tag-input` and `react` (version 17). This is because the sub-dependency `react-dnd` (version 5) does not officially work with `react` version 17.

### How to reproduce
* Create a new folder (e.g. `mkdir demo`)
* Switch into that folder (e.g. `cd demo/`)
* Try to install both `react` version 17 and `react-tag-input` using npm version 7

[2021-06-01 14:09] ad1992 commented on #693
Ahh ok in the [example](https://stackblitz.com/edit/react-tag-input-1nelrc) it worked fine so didn't face this issue, once `react-dnd` is updated this will go off.

[2021-06-01 16:01] ad1992 commented on #723
@Adrian-CL I looked into this issue, there is an `onDragOver` listener getting attached to the window instead of `document` by `react-dnd-html5-backend`due to which `onDragOver` on `react-dropzone` is getting overridden and the file is not dropped, if this event is removed it works fine. Probably this issue will get fixed once `react-dnd` is upgraded  as it attaches all listeners to the `root` nod

[2021-06-01 16:11] Adrian-CL commented on #723
@ad1992
Noted with much thanks.
I will wait for the fix to be rolled out then.

[2021-06-02 16:01] Blackpinned opened #728 "Unique not working with autocomplete"
When I enabled autocomplete I was able to add the same tag multiple times by pressing the delimiter. Picking from the list still seems to work. I'm on version 6.6.1.

[2021-06-02 18:24] ad1992 commented on #728
@Blackpinned it works fine in [example](https://stackblitz.com/edit/react-tag-input-1nelrc), can you share a stackblitz example?

[2021-06-03 08:35] Blackpinned commented on #728
Autocomplete wasn't enabled in the example. I enabled it and pressing "," allowed me to put Thailand in twice.

https://stackblitz.com/edit/react-tag-input-r58jud?file=index.js

![image](https://user-images.githubusercontent.com/20385119/120614254-5314c100-c457-11eb-8b14-add232bf2cbc.png)

Added an image since I never used stackblitz before.

[2021-06-03 10:22] ad1992 commented on #728
@Blackpinned yeah, I can reproduce it now.

[2021-06-05 12:44] #212 closed

[2021-06-05 12:44] #547 closed

[2021-06-05 12:44] #673 closed

[2021-06-05 12:44] #690 closed

[2021-06-05 12:44] #696 closed

[2021-06-08 14:12] ad1992 commented on #723
@Adrian-CL the `react-dnd` has been updated to the latest version but it still attaches the listener to `window`, but I will still test it once with `react-dropzone`  and check if the issue still exists and figure out the next steps.
It has not yet been released as there are some improvements pending for this release, will be releasing the next version in 1-2 weeks.

[2021-06-13 14:40] ad1992 commented on #721
@pietruszka any update on this ?

[2021-06-13 15:25] ad1992 commented on #723
@Adrian-CL this issue is resolved, you can try it out [here](https://stackblitz.com/edit/react-tag-input-aqqc1e?) or use the package `aakansha-react-tag-input` :)
Let me know if it works for you, you will have to update peer dependencies as well to latest version as shown  in above link.
Will be released in the next version.

[2021-06-13 15:38] Adrian-CL commented on #723
hi @ad1992 thanks for the update.
Unfortunately I am not able to try it out because of the error "(0 , _reactDnd.DragDropContext) is not a function"
Apparently deprecated react-dnd and react-dnd-html5-backend v8 need to be used.

May I know how did you fix this?

[2021-06-13 16:05] ad1992 commented on #723
@Adrian-CL as mentioned above you will update peer dependencies as done in the above example link as well
[code]

[2021-06-13 16:10] Adrian-CL commented on #723
@ad1992
Its working now, thank you.
I will try it within my project and update you with the result again.

[2021-06-13 16:10] ad1992 commented on #723
Awesome 👍🏻

[2021-06-14 08:48] Adrian-CL commented on #723
@ad1992
Thanks a lot for your help and efforts.
I am able to implement it successfully.

[2021-06-14 08:48] #723 closed

[2021-06-14 12:29] ad1992 commented on #723
Glad to hear that 🎉
fixed via #729

[2021-06-14 15:02] ad1992 commented on #637
fixed via #729

[2021-06-14 15:02] #637 closed

[2021-06-14 15:06] ad1992 commented on #98
this should be fixed via https://github.com/react-tags/react-tags/issues/637, feel free to reopen if it still persists.
The fix will be released in the next version.

[2021-06-14 15:06] #98 closed

[2021-06-19 12:54] ad1992 commented on #696
:tada: This issue has been resolved in version 6.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.7.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-19 12:54] ad1992 commented on #690
:tada: This issue has been resolved in version 6.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.7.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-19 12:54] ad1992 commented on #673
:tada: This issue has been resolved in version 6.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.7.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-19 12:54] ad1992 commented on #547
:tada: This issue has been resolved in version 6.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.7.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-19 12:54] ad1992 commented on #212
:tada: This issue has been resolved in version 6.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.7.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-19 12:54] ad1992 commented on #723
:tada: This issue has been resolved in version 6.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.7.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-19 12:54] ad1992 commented on #637
:tada: This issue has been resolved in version 6.7.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.7.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-23 07:55] vineethasimon opened #751 "Getting Minified React error #130 in build version of application-version-6.7.0"
We are using react-tag-input in our application. We were getting  Minified React error #130 in build version of application. On analyzing, we identified that the issue is with latest version-6.7.0 of react-tag-input. Earlier version of 6.6.1 was not having this issue. In order fix the build issue,  we have locked the version of react-tag-input as 6.6.1 in package.json . Can you please check  the i

[2021-06-23 11:36] ad1992 commented on #751
@vineethasimon what error are you getting? Looks like you have linked a wrong issue in the description.

[2021-06-25 17:15] jontycool commented on #665
I went through the PR but couldn't determine if this is what would help me.
@ad1992 : can you provide your input or guide me in the right direction ?

[2021-06-25 19:38] ad1992 commented on #665
@jontycool what are you looking for, could you elaborate?

[2021-06-25 20:00] #721 closed

[2021-06-25 23:53] jontycool commented on #665
Currently when users do "Ctrl + V" and paste something in the input field, it creates a tag automatically. Is there any way to stop it so that the user can edit the pasted content and then click Enter or "," or any other delimiter key to create the tag.

[2021-06-26 09:20] #728 closed

[2021-06-26 09:23] ad1992 commented on #721
:tada: This issue has been resolved in version 6.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.7.1)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-26 09:23] ad1992 commented on #728
:tada: This issue has been resolved in version 6.7.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.7.1)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.7.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-06-28 04:40] vineethasimon commented on #751
hi @ad1992 ,
PFB actual error message received:

react-dom.production.min.js:209 Error: Minified React error #130; visit https://reactjs.org/docs/error-decoder.html?invariant=130&args[]=undefined&args[]= for the full message or use the non-minified dev environment for full errors and additional helpful warnings.
    at Ol (react-dom.production.min.js:275)
    at react-dom.production.min.js:148

[2021-06-29 05:55] teo-jun-xiong opened #757 "Functional component React.jsx: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object"
I'm currently using this package as such and recently encountered a bug.
[code]
This is the error mesasge:
[code]
My peer dependencies are up to date:
[code]
Any advice on how to approach this? Thanks in advance!

[2021-06-29 07:42] kilimovich-aleksandr commented on #751
I have the same issue, the full error message is on the screenshot
![MicrosoftTeams-image](https://user-images.githubusercontent.com/33517184/123757412-a0eddf00-d8c6-11eb-9a5e-69d79901221e.png)

[2021-06-29 12:14] ad1992 commented on #751
@vineethasimon @kilimovich-aleksandr can you share a CSB or stackblitz link for further debugging?
It's working fine in the [demo](https://stackblitz.com/edit/react-tag-input-1nelrc) though.

[2021-06-29 20:29] mattpetters commented on #751
Yeah I also got this error on minified version 6.6.1 it looks like. Seems to only happen on minification. Spent several hours trying to recreate locally / in dev but it only happens on our staging environment due to the minified build.

[2021-06-29 20:37] ad1992 commented on #751
Hmm ok so will have to check the prod build to investigate this

[2021-06-29 20:37] mattpetters commented on #757
getting a similar issue over on this one https://github.com/react-tags/react-tags/issues/751 seems to only happen on the minified build however

[2021-06-29 20:42] mattpetters commented on #751
@ad1992 I just did some more testing and found that forcing 6.6.1 solves the issue. I edited my above comment. However ^6.6.1 was causing issues so the latest version prod build is probably going to be where the issue is.

[2021-07-01 07:43] ad1992 commented on #751
@mattpetters @vineethasimon I verified it with the prod build as well and it works fine. I think some issue related to peer dependency might be causing this error so please make sure you have installed all the peer dependencies including the dependencies of peer dependencies correctly as that's what has changed in the latest version.
<img width="1387" alt="Screenshot 2021-07-01 at 1 09 24 PM" src=

[2021-07-01 07:43] ad1992 commented on #757
@mattpetters  I verified it with the prod build as well and it works fine. I think some issue related to peer dependency might be causing this error so please make sure you have installed all the peer dependencies including the dependencies of peer dependencies correctly as that's what has changed in the latest version.
<img width="1387" alt="Screenshot 2021-07-01 at 1 09 24 PM" src="https://user-

[2021-07-06 05:20] LodhiFA commented on #187
If anyone still looking for a workaround, please note the following solution I used. It may not be the cleanest approach but it does get the job done.
[code]

[2021-07-06 07:09] abubakarakram167 opened #761 "Uncaught TypeError: (0 , _reactDnd.useDrag) is not a function"
I am using these packages in my current project below:
"react": "^17.0.1",
 "react-tag-input": "^6.7.1",
 "react-dnd": "^5.0.0",
 "react-dnd-html5-backend": "^3.0.2",

 Please can somebody help me with this issue?

[2021-07-06 07:33] ad1992 commented on #761
@abubakarakram167 you need to update the peer dependencies to make it work 👇🏻
[code]

[2021-07-06 07:51] abubakarakram167 commented on #761
Now after using these Packages i am getting that error:

Uncaught TypeError: Object(...) is not a function
    at Module../src/components/Root.prod.js (Root.prod.js:37)
    at __webpack_require__ (bootstrap:832)
    at fn (bootstrap:129)
    at Module../src/components/Root.js (Root.js:1)
    at __webpack_require__ (bootstrap:832)
    at fn (bootstrap:129)
    at Module../src/index.js (bundle.js:35

[2021-07-06 07:55] ad1992 commented on #761
Doesn't look like you are using the right way,You just need to use `UseContext` when using `react-tag-input`, you can check out the [demo](https://stackblitz.com/edit/react-tag-input-1nelrc)

[2021-07-06 07:59] abubakarakram167 commented on #761
But i am getting error regarding using DragDropContext in the Root.prod.js after migrating to your mentioned packages.
I am not using React-tags-input in Prod.js file in which error is happening.

[2021-07-06 08:11] abubakarakram167 commented on #761
What if i remove using this DragDropContext(HTML5Backend)(Root). in the file .And just use only react tag input in file in which i want to use ?

[2021-07-06 08:11] ad1992 commented on #761
You need to update the API as per `react-dnd` , `react-dnd-html5-backend` as it doesn't expose `DragDropContext` and instead uses `DndProvider`, you can check the API https://react-dnd.github.io/react-dnd/docs/overview.

[2021-07-07 05:01] ahl1395 opened #762 "ReactTag doesn't change at all after taking in className"
Hey, apologies in advance if this is a dumb question.

But when I pass in a className to my ReactTagInput component, none of the corresponding CSS changes take effect.

**Here is my code:**
...
<ReactTagInput
                    className="form__input"
                    tags={passions}
                    onChange={(x) => setPassions(x)}
                    placeholder="What do you love to do?"

[2021-07-07 14:59] ad1992 commented on #762
@ahl1395 you will need to pass `classNames` object as shown [here](https://github.com/react-tags/react-tags#styling) based on your usecase.

[2021-07-08 00:58] ahl1395 commented on #762
@ad1992 Thank you for the response. I was able to edit certain parts of the CSS, but was unable to edit the border-radius to round out the input box. Do you know why this is?

Here's a screenshot (notice the border radius is 300px):
<img width="1200" alt="Screen Shot 2021-07-07 at 8 56 26 PM" src="https://user-images.githubusercontent.com/10375199/124846106-16f8e280-df66-11eb-9791-4f57282c4516.png

[2021-07-08 15:10] ad1992 commented on #762
@ahl1395 little unclear, you can always apply your CSS to the class as it doesn't come with any styling so you can directly update the CSS file.

[2021-07-08 15:11] ad1992 commented on #761
closing this as its related the host App `react-dnd` and not `react-tag-input`. Feel free to reopen if you find any issue related to this library

[2021-07-08 15:11] #761 closed

[2021-07-08 18:01] ahl1395 commented on #762
@ad1992 Right, I understand that. Why doesn't updating the border-radius round out the border like it should?

[2021-07-08 18:06] jontycool commented on #665
@ad1992 : I know you might be busy, but any help on this issue would be very helpful.

[2021-07-08 18:35] jontycool commented on #665
@Nogias9x : Any chance, you have managed to bypass this ?

[2021-07-08 18:57] jontycool commented on #665
@Nogias9x : Hi, I dug deeper into the code a bit and I found this prop called "_allowAdditionFromPaste_". All you have to do is add this prop and set it to false. This will solve this particular issue.

@ad1992 : I think you can close this issue now.

[2021-07-08 20:02] ad1992 commented on #665
@jontycool glad to know that `allowAdditionFromPaste` will resolve the requirement but we should definitely document it so its not a hidden prop anymore. Will close once its documented. Thanks a lot for pointing this out!

[2021-07-08 20:13] ad1992 commented on #762
@ahl1395 do you mind sharing a code sandbox/stackblitz with the issue you are facing so I can look into it?

[2021-07-08 22:18] ahl1395 commented on #762
@ad1992 Here is a Code Sandbox that doesn't work: https://codesandbox.io/embed/zealous-haslett-418bm?fontsize=14&hidenavigation=1&theme=dark

Would you be able to simply adjust the border-radius of a ReactTagInput component so that the edges are rounded? I'd like to do a sanity check to make sure I'm not going crazy.

[2021-07-11 13:11] ad1992 commented on #762
@ahl1395 the above codesandbox throws error and looks like you are using a forked version of the library,
However you can add `border-radius` to the `.ReactTags__selected span.ReactTags__tag` selector and it should work
<img width="362" alt="Screenshot 2021-07-11 at 6 38 37 PM" src="https://user-images.githubusercontent.com/11256141/125196411-7cefad80-e277-11eb-827e-85885a99ec60.png">
Here is the

[2021-07-11 18:11] #665 closed

[2021-07-12 02:29] ahl1395 commented on #762
@ad1992 you're a legend. Thanks for the help.

[2021-07-12 02:29] #762 closed

[2021-07-12 14:06] ad1992 commented on #665
:tada: This issue has been resolved in version 6.7.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.7.2)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.7.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-12 14:37] ad1992 commented on #751
closing this as this is not related to the library. feel free to reopen if you find the issue related to the library.

[2021-07-12 14:37] #751 closed

[2021-07-12 14:37] ad1992 commented on #757
closing this as this is not related to the library. feel free to reopen if you find the issue related to the library.

[2021-07-12 14:37] #757 closed

[2021-07-12 18:41] masudhossain opened #769 "Update documentation for Hooks"
I think it'll be very fruitful if you update the documentation to support hooks.

[2021-07-15 20:27] ad1992 commented on #769
@masudhossain what documentation do you suggest to add, can you elaborate?

[2021-07-15 21:26] masudhossain commented on #769
@ad1992  the documentation currently shows how to use react-tags with class components. But most people now uses Hooks components. So updating it to hooks would be great.

[2021-07-16 08:06] ad1992 commented on #769
Yeah definitely we should do that 👍🏻

[2021-07-22 06:30] jigarvishwakarma opened #774 "onInputFocus display all the suggestion in dropdown format"
Hi, I'm trying to create an input filed that **display all the suggestion** in a dropdown format **when the input is focused** and when user searches it should short list the suggestions.

Please let me know if anyone has any idea to implement this, thanks.

[2021-07-22 11:48] dk9071091 opened #775 "not creating any tags on mobile view"
i m using mobile chrome browser and opera browser for mobile but it's not creating any tag and moving to the next input field.

[2021-07-22 15:21] ad1992 commented on #774
Hi @jigarvishwakarma, did you try using the [suggestions](https://github.com/react-tags/react-tags#suggestions) prop ?

[2021-07-23 16:38] #769 closed

[2021-07-23 16:51] ad1992 commented on #775
@dk9071091 I just tried the demo in chrome in android and it works for me, could you share the code which you are trying out ?

[2021-07-23 17:12] ad1992 commented on #678
@DrSwad yeah we shouldn't use keydown events, especially when supporting mobile as the keyboard events don't work on mobile browsers. Do you want to raise a PR for the same?

[2021-07-26 06:07] dk9071091 commented on #775
<TagsInput
                                                            value={state.languageTags} //tagsArray
                                                            onChange={handleChangeTags} //function
                                                            inputValue={state.language} //single tag
                                                            addKeys={[9,13,188,32]} //keyb

[2021-07-28 08:04] SBagaria2710 commented on #538
Is it still open? @ad1992

[2021-07-28 12:53] ad1992 commented on #538
@SBagaria2710 thanks for reminding on this, there is a PR for this, I will take a look at it and try wrapping it up this week

[2021-07-28 19:15] alex-polunochev opened #777 "Warning during test run: "Invalid DOM property `autocomplete`""
Version 6.7.0
Warning shows up during test run for component that uses `react-tag-input`:

[code]

[2021-07-28 20:08] alex-polunochev commented on #777
After more thorough checking I found that the problem wasn't on the library side, but was coming from my code.
[code]

Closing the ticket. Thanks!

[2021-07-28 20:08] #777 closed

[2021-07-28 20:17] ad1992 commented on #777
Thanks for confirming @alex-polunochev

[2021-07-29 14:28] rohitpotato opened #778 "Edit Tag on backspace press"
When pressing backspace in an empty input field, we can show the last tag and set that text as the value of the input. This way the user has more flexibility to edit their tags. It'll make it easier for the end-user to edit tags with ease and not rewrite the entire thing for just editing a misspelling.

 This behaviour can be controlled with a prop if needed.

 If this feature interests you, I can

[2021-07-29 20:38] ad1992 commented on #778
@rohitpotato soon the tags will editable once https://github.com/react-tags/react-tags/pull/763 is merged. Then the user will be able to edit tags just by clicking on the tags, we might not need the edit tag with backpress then, wdyt ?

[2021-07-30 11:56] rohitpotato commented on #778
@ad1992 How about both? Considering mobile devices where the user can just remain in the input box rather than finding the tag to click and edit?

[2021-07-31 16:37] #375 closed

[2021-07-31 22:19] #538 closed

[2021-08-01 09:17] ad1992 commented on #778
let's wait once we release the edit feature in the next release and then take the call if we want to implement it with the backspace press as well. Since this will only allow editing the last tag so I am not very sure if this will be needed so lets wait for more feedback :)

[2021-08-01 10:02] rohitpotato commented on #778
I was thinking more in terms of editing a tag that the user just created. A simple backspace press and they can edit and create the tag again.

Let's wait for the feedback, let me know whenever this becomes relevant and I'll be happy to implement it.

Thanks for your time!

[2021-08-01 13:18] ad1992 commented on #778
Sure thing 👍🏻

[2021-08-01 15:45] yifeikong commented on #14
This should be in the documentatioin.

[2021-08-05 09:32] VitasPirozhko opened #787 "It is impossible to scroll through hints without selecting a field in the mobile version bug"
The event is hung on onMouseDown and onTouchStart https://c2n.me/4cU9prt and because of this, scrolling in the mobile does not work, and an item from the list is immediately selected, I tried to quickly add onMouseClick to the plugin, but it gives an error https://c2n.me/4cU9c1P, you need to figure out how you can solve this problem

[2021-08-09 06:19] 1c7 commented on #775
any update?

[2021-08-09 19:13] ad1992 commented on #775
@1c7 I haven't gotten time to work on this, hoping to wrap it up this weekend.

[2021-08-10 17:16] malvika1596 opened #790 "Uncaught (in promise) TypeError: Cannot read property 'toLowerCase' of undefined"
Hi,
I am seeing this error in console of browser-

    at ReactTags.js:485
    at Array.filter (<anonymous>)
    at ReactTags.filteredSuggestions (ReactTags.js:484)
    at ReactTags.updateSuggestions (ReactTags.js:518)
    at ReactTags.componentDidUpdate (ReactTags.js:118)
    at commitLifeCycles (react-dom.development.js:20684)
    at commitLayoutEffects (react-dom.development.js:23426)
    at HT

[2021-08-20 11:27] Nogias9x commented on #665
Awesome @ad1992 !
Thank you so much for the work <3

[2021-08-28 05:20] diptnc commented on #775
facing the same issue . that the we can add tags in desktop but not able to add tags in mobile

`   <ReactTags
                                            delimiters={delimiters}
                                            tags={tags}
                                            editable={true}
                                            onChange={(newTags) => setTagfunc(newTags)}

[2021-08-30 07:26] malvika1596 commented on #790
Hi @ad1992, In the legacy app i am working on, while upgrading all the dependencies in the app, I upgraded already present react-tag-input to its latest version from "4.9.1", this error was showing up in console and page didn't load too. For right now, I have restored to "4.9.1" and the app is back to running.
It could have been due to the redux-form library present in the parent class. I wasn't a

[2021-09-02 05:33] avranju94 commented on #186
Hi I am a new guy. I would like to add this feature. Is this issue still valid?

[2021-09-02 06:12] ad1992 commented on #500
Sure  @avranju94 please go ahead 👍🏻

[2021-09-09 20:41] bassiebangura opened #795 "Error on refresh with Nextjs"
**Server Error**
### ReferenceError: onkeydown is not defined

This error happened while generating the page. Any console logs will be displayed in the terminal window.
Source
pages/_document.tsx (11:31) @ Function.getInitialProps

   9 | class MyDocument extends Document {
  10 |   static async getInitialProps(ctx: DocumentContext) {

     |                               ^
  12 |     return { ...

[2021-09-22 05:15] avranju94 opened #800 "Uncaught Error: A cross-origin error was thrown"
Hi,
when I set up the local development environment, and open http://localhost:8090/example, I am seeing a blank page with these two errors in my console browser

Uncaught Error: Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You likely forgot to export your component from the file it's defined in, or you migh

[2021-09-25 04:55] 1c7 commented on #775
Update:
in iOS 14&15(iPhone 12), all browser I found on App Store (about 6 mainstream browser in China region) can create tag correctly. press "Enter" can create tag. work just like destop.

But on Android (OnePlus 6T, phone from 2018) pressing "Enter" will move the cursor to next input, would not create any tag(it should)

[2021-09-25 04:55] 1c7 commented on #775
I haven't found solution on how to fix this Android-only issue

[2021-09-25 05:04] 1c7 commented on #199
Android 11, OnePlus 6T, Liebao Browser, This issue still exists

[2021-09-27 11:36] ugnelis opened #804 "minQueryLength={0} adds spaces between chars"
I have set `minQueryLength={0}` because I want to have a drop-down selection. When I don't have any char added, the react-tags tools adds `space` before each char.

![dropdown with spaces](https://user-images.githubusercontent.com/77806301/134900132-2d776dbf-c843-4fa2-a94b-ed4902af600c.png)

If I type any character, those `spaces` disappear.

![dropdown](https://user-images.githubusercontent.com/8

[2021-09-28 11:31] ugnelis commented on #804
Solved, it was a problem coming from Bootstrap's mark tag.

[2021-09-28 11:31] #804 closed

[2021-09-29 17:53] scottpageindysoft opened #805 "Install react-dnd and react-dnd-html5-backend to your package.json dependencies"
Install react-dnd and react-dnd-html5-backend to your package.json dependencies, instead of devDependencies, so we don't have to worry about installing them.

Saves users the extra steps.

[2021-10-18 20:50] J-pilon opened #811 "inputFieldPosition doesn't change position of input and tags"
Hi, I'm trying to change the position to inline but the tags remain above the input. Could someone help me with this issue?

import React, {useState} from "react";
import { WithContext as ReactTags } from "react-tag-input";

const KeyCodes = {
    comma: 188,
    enter: [10, 13],
};

const delimiters = [...KeyCodes.enter, KeyCodes.comma];

const MuliTagInput: React.FC = (props) => {
    const [ ta

[2021-10-21 11:47] ad1992 commented on #811
@J-pilon looks like this got broken in the latest release, will look into this.

[2021-11-09 09:58] alienself commented on #795
Same issue

[2021-11-16 07:22] Dilip-subcodevs opened #817 "Tag editable functionality not working"

[2021-11-17 00:01] jeanmichelmorin commented on #199
This issue still persist, 4 years later.

[2021-11-30 10:44] subodhk01 commented on #612
@steverecio but what about mobile devices where there is no enter and the keyboard shows next as an option rather than enter?

[2021-12-06 04:37] #795 closed

[2021-12-09 18:49] saideepesh000 opened #822 "dependency error while installing the project locally"
### Steps to reproduce

`clone`
`cd react=tags`
` npm i`

then got this following error

![image](https://user-images.githubusercontent.com/43727167/145457254-15b6b1e7-7286-49ac-bc10-8ae788ff0c6e.png)

[2021-12-18 10:55] realPrimoh commented on #790
I got this error when there was a null value in the tags array or when an id was undefined within a tag in the tags array.

[2022-01-16 11:13] ad1992 commented on #795
:tada: This issue has been resolved in version 6.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.8.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-16 11:13] ad1992 commented on #375
:tada: This issue has been resolved in version 6.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.8.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-16 11:13] ad1992 commented on #538
:tada: This issue has been resolved in version 6.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.8.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-16 11:13] ad1992 commented on #769
:tada: This issue has been resolved in version 6.8.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.8.0)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-31 09:47] evless opened #830 "Update @types/react-tag-input"
Please, could you update @types for new version?

[2022-02-04 20:05] kellyprogramsthings opened #831 "Can't turn off autofocus"
Even with autofocus={false} and autoFocus={true} on a different input, it always focuses on the tags component.

I suppose I'm supposed to be more technical here, but I don't know what else to include.

Simple example:

[code]

Please excuse my very clever naming scheme.

[2022-02-09 06:29] ad1992 commented on #831
@kellyprogramsthings the prop is `autofocus`, its not your fault, we should rename the prop to be semantically correct :p

[2022-02-09 09:44] kellyprogramsthings commented on #831
We can share the fault, as if I had actually read it instead of assuming, I wouldn't have had a problem. But thank you!

[2022-02-26 09:00] sitek94 opened #840 "Add more classNames to customize suggestions related elements"
Hey there, awesome library!

It'd be nice to have an option to pass custom classes not only to suggestions wrapper, but also to `ul` and `li` elements. We wouldn't have to create an extra `.css` file just to add those:

[code]

I think, it shouldn't be hard to accept more props there, and I could work on a PR, if you like the idea :)

Cheers!

[2022-02-28 05:49] ad1992 commented on #840
@sitek94 not sure what you mean by extra `css` file but you will not need an extra `.css` file to add these, you can add it in the same file where your other CSS is added

[2022-03-08 20:39] agusterodin opened #843 "Add ability to paste multiple tags at once"
Howdy! There is currently no way to paste multiple (delimited) tags at once.

When a string that contains multiple delimited tags, the `handleAddition` callback will fire for each delimited tag simultaneously.

The issue is that when a handler like this ``` handleAddition={tag => setTags([...tags, tag.text])}``` fires multiple times, set tags has no recollection of the other tags you attempted to

[2022-03-11 00:25] agusterodin commented on #843
Hey, I was able to figure out a workaround

- Set allowAdditionFromPaste prop to false.
- Put the tag component inside a div (or other container element). Add this
[code]

`preventDefault` prevents this library from picking up the paste event whatsoever! Feed the clipboard text into a helper function if needed (to split by delimiter, remove blank tags, and remove duplicates). For example:

[code]

[2022-03-11 00:25] #843 closed

[2022-03-18 06:23] 1c7 commented on #775
@davibarberini I don't know, I am working on some other project now, I am not sure my colleague remove this input field or did some fix, no idea.

[2022-04-14 14:24] erbsutil opened #845 "Include only suggests in tags"
How can I allow include only suggests in tags?

For Example: user writes a word and press enter, but this word doesn't exist in suggests, so nothing happens.

I changed handleAddition to verify if tag passed exist into suggests, but when user press enter a word is removed from input.

Thanks!

[2022-04-28 15:21] blakeyc commented on #129
For anyone else who happens to run into this issue, the fix I found was to disable the autocomplete.

Looks like the if statement is causing the issue: https://github.com/react-tags/react-tags/blob/4cd4f6519a51b3d0b17b40ccf5d12ff85e9d24e6/src/components/ReactTags.js#L383

[2022-05-16 20:12] softmarshmallow opened #852 "usage with nextjs12 + react18"
I struggled a bit to use this package with nextjs12 and react18.

Here is the solution for the future reference.

in `next.config.js`
[code]

[2022-05-16 20:21] softmarshmallow opened #853 "cannot use functional component for removeComponent"
<img width="576" alt="Screen Shot 2022-05-17 at 5 20 27 AM" src="https://user-images.githubusercontent.com/16307013/168675802-459aab18-8d43-4c66-9b73-a8848b7c3760.png">

Plus, the design is not quite friendly for customization. we cannot customize the labels, and so on the only possible way to do this is by editing css, which is not the react-way.

[2022-06-02 15:50] patrykboch opened #855 "React 18 support"
Any plans to support React 18?

[2022-06-23 10:00] patrykboch commented on #855
@ad1992 please review

[2022-08-10 18:04] #855 closed

[2022-08-18 12:21] hritikb27 opened #866 "React tags CSS not working if there are 2 ReactTags in a project (Nextjs)"

[2022-08-18 12:29] hritikb27 commented on #866
Fixed: CSS won't work on Input field with `tagInputField: 'tagInputFieldClass'` if there are more than 1 React tags in a project, but if you change className in props to `tagInputField: 'ReactTags__tagInputField'` for all the input fields, it will work!

[2022-08-18 12:29] #866 closed

[2022-08-28 09:09] Simoneth commented on #494
Hi,
I have the same problem...
I have an array of elements in the same page, each one should have different tags.

I tried this:

`const [tags, setTags] = React.useState([{}]);`

to try map as below:

[code]

This fails as: "TypeError: tags.map is not a function"

So how can I achieve that? I need to store objects arrays of tags.

Thanks.

[2022-08-28 09:12] Simoneth opened #868 "Different array of tags in the same page"
Hi,
I have an array of elements in the same page, each one should have different tags.

I tried this:

`const [tags, setTags] = React.useState([{}]);`

to try map as below:

[code]

This fails as: "TypeError: tags.map is not a function"

So how can I achieve that? I need to store objects arrays of tags.

Thanks.

[2022-09-01 19:51] patrik-u opened #872 "Is there a way customize rendering of tags?"
I'd like to render certain tags differently depending on their ID, so that certain tags (those who are in the suggestions list in my case) are rendered with a different background color. Is this possible?

[2022-09-07 08:07] ad1992 commented on #855
:tada: This issue has been resolved in version 6.8.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-tag-input/v/6.8.1)
- [GitHub release](https://github.com/react-tags/react-tags/releases/tag/v6.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-10-07 13:57] Genne23v commented on #171
Hi, I'm new to open source project. This issue seems doable for me. Can I contribute?

[2022-10-07 15:04] ad1992 commented on #171
Sure go for it!

[2022-10-13 04:05] Genne23v commented on #171
I think it's been implemented already. Let me know if I have any misunderstanding. This is my test screenshot.
<img width="502" alt="Screen Shot 2022-10-13 at 12 03 13 AM" src="https://user-images.githubusercontent.com/59734889/195496647-3703e7b9-ede9-4be0-aea1-8d658f55c177.png">

[2022-10-20 06:05] Genne23v commented on #500
@ad1992  I picked up this ticket and sent a PR to improve test coverage.

[2022-10-26 20:22] Gr33nLight commented on #830
Hello, I made a pull request on @types for the issue #853

[2022-11-14 10:40] eastrd commented on #594
Two years fast forward, and I am experiencing the exact problem you mentioned...

[2022-11-17 19:53] runabol opened #888 "Ignore Suggestions"
When using the suggestion feature, if I get a partial match on a suggestion I am forced to use the suggestion. e.g.:

<img width="627" alt="Screen Shot 2022-11-17 at 2 49 58 PM" src="https://user-images.githubusercontent.com/3052806/202545145-1cb8a263-77af-4e59-b3fa-b2a1c9836931.png">

But what if I want to actually use the partial word (in this case "Child" vs. "Children"). I can't seem to be abl

[2022-11-25 22:28] flobauer commented on #888
I think you can remove the `autocomplete` attribute and then it will not be used.